{
  "kind": "discovery#restDescription",
  "baseUrl": "https://accessapproval.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "accessapproval",
  "mtlsRootUrl": "https://accessapproval.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ListApprovalRequestsResponse": {
      "description": "Response to listing of ApprovalRequest objects.",
      "type": "object",
      "id": "ListApprovalRequestsResponse",
      "properties": {
        "approvalRequests": {
          "type": "array",
          "description": "Approval request details.",
          "items": {
            "$ref": "ApprovalRequest"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more.",
          "type": "string"
        }
      }
    },
    "ApproveDecision": {
      "type": "object",
      "id": "ApproveDecision",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the approval expires."
        },
        "invalidateTime": {
          "type": "string",
          "description": "If set, denotes the timestamp at which the approval is invalidated.",
          "format": "google-datetime"
        },
        "autoApproved": {
          "type": "boolean",
          "description": "True when the request has been auto-approved."
        },
        "signatureInfo": {
          "description": "The signature for the ApprovalRequest and details on how it was signed.",
          "$ref": "SignatureInfo"
        },
        "approveTime": {
          "description": "The time at which approval was granted.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A decision that has been made to approve access to a resource."
    },
    "DismissApprovalRequestMessage": {
      "id": "DismissApprovalRequestMessage",
      "properties": {},
      "description": "Request to dismiss an approval request.",
      "type": "object"
    },
    "DismissDecision": {
      "properties": {
        "dismissTime": {
          "description": "The time at which the approval request was dismissed.",
          "format": "google-datetime",
          "type": "string"
        },
        "implicit": {
          "type": "boolean",
          "description": "This field will be true if the ApprovalRequest was implicitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time)."
        }
      },
      "id": "DismissDecision",
      "type": "object",
      "description": "A decision that has been made to dismiss an approval request."
    },
    "ApproveApprovalRequestMessage": {
      "type": "object",
      "description": "Request to approve an ApprovalRequest.",
      "id": "ApproveApprovalRequestMessage",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration time of this approval."
        }
      }
    },
    "SignatureInfo": {
      "description": "Information about the digital signature of the resource.",
      "properties": {
        "customerKmsKeyVersion": {
          "type": "string",
          "description": "The resource name of the customer CryptoKeyVersion used for signing."
        },
        "googlePublicKeyPem": {
          "description": "The public key for the Google default signing, encoded in PEM format. The signature was created using a private key which may be verified using this public key.",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The digital signature."
        }
      },
      "id": "SignatureInfo",
      "type": "object"
    },
    "ResourceProperties": {
      "type": "object",
      "description": "The properties associated with the resource of the request.",
      "properties": {
        "excludesDescendants": {
          "description": "Whether an approval will exclude the descendants of the resource being requested.",
          "type": "boolean"
        }
      },
      "id": "ResourceProperties"
    },
    "AccessLocations": {
      "type": "object",
      "id": "AccessLocations",
      "properties": {
        "principalOfficeCountry": {
          "type": "string",
          "description": "The \"home office\" location of the principal. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
        },
        "principalPhysicalLocationCountry": {
          "description": "Physical location of the principal at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location",
          "type": "string"
        }
      },
      "description": "Home office and physical location of the principal."
    },
    "EnrolledService": {
      "id": "EnrolledService",
      "description": "Represents the enrollment of a cloud resource into a specific service.",
      "type": "object",
      "properties": {
        "enrollmentLevel": {
          "enum": [
            "ENROLLMENT_LEVEL_UNSPECIFIED",
            "BLOCK_ALL"
          ],
          "description": "The enrollment level of the service.",
          "type": "string",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Service is enrolled in Access Approval for all requests"
          ]
        },
        "cloudProduct": {
          "description": "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): * all * GA * App Engine * BigQuery * Cloud Bigtable * Cloud Key Management Service * Compute Engine * Cloud Dataflow * Cloud DLP * Cloud EKM * Cloud HSM * Cloud Identity and Access Management * Cloud Logging * Cloud Pub/Sub * Cloud Spanner * Cloud SQL * Cloud Storage * Google Kubernetes Engine * Organization Policy Serivice * Persistent Disk * Resource Manager * Speaker ID Note: These values are supported as input for legacy purposes, but will not be returned from the API. * all * ga-only * appengine.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com * container.googleapis.com * cloudkms.googleapis.com * cloudresourcemanager.googleapis.com * cloudsql.googleapis.com * compute.googleapis.com * dataflow.googleapis.com * dlp.googleapis.com * iam.googleapis.com * logging.googleapis.com * orgpolicy.googleapis.com * pubsub.googleapis.com * spanner.googleapis.com * speakerid.googleapis.com * storage.googleapis.com Calls to UpdateAccessApprovalSettings using 'all' or any of the XXX.googleapis.com will be translated to the associated product name ('all', 'App Engine', etc.). Note: 'all' will enroll the resource in all products supported at both 'GA' and 'Preview' levels. More information about levels of support is available at https://cloud.google.com/access-approval/docs/supported-services",
          "type": "string"
        }
      }
    },
    "AccessApprovalServiceAccount": {
      "description": "Access Approval service account related to a project/folder/organization.",
      "properties": {
        "name": {
          "description": "The resource name of the Access Approval service account. Format is one of: * \"projects/{project}/serviceAccount\" * \"folders/{folder}/serviceAccount\" * \"organizations/{organization}/serviceAccount\"",
          "type": "string"
        },
        "accountEmail": {
          "type": "string",
          "description": "Email address of the service account."
        }
      },
      "type": "object",
      "id": "AccessApprovalServiceAccount"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "AccessReason": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): * \"Feedback Report: #####\" * \"Case Number: #####\" * \"Case ID: #####\" * \"E-PIN Reference: #####\" * \"Google-#####\" * \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
          ],
          "type": "string",
          "description": "Type of access justification."
        },
        "detail": {
          "type": "string",
          "description": "More detail about certain reason types. See comments for each type above."
        }
      },
      "type": "object",
      "id": "AccessReason"
    },
    "AccessApprovalSettings": {
      "properties": {
        "invalidKeyVersion": {
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that there is some configuration issue with the active_key_version configured at this level in the resource hierarchy (e.g. it doesn't exist or the Access Approval service account doesn't have the correct permissions on it, etc.) This key version is not necessarily the effective key version at this level, as key versions are inherited top-down.",
          "type": "boolean",
          "readOnly": true
        },
        "activeKeyVersion": {
          "type": "string",
          "description": "The asymmetric crypto key version to use for signing approval requests. Empty active_key_version indicates that a Google-managed key should be used for signing. This property will be ignored if set by an ancestor of this resource, and new non-empty values may not be set."
        },
        "enrolledServices": {
          "type": "array",
          "items": {
            "$ref": "EnrolledService"
          },
          "description": "A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded. A maximum of 10 enrolled services will be enforced, to be expanded as the set of supported services is expanded."
        },
        "ancestorHasActiveKeyVersion": {
          "type": "boolean",
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that an ancestor of this Project or Folder has set active_key_version (this field will always be unset for the organization since organizations do not have ancestors).",
          "readOnly": true
        },
        "enrolledAncestor": {
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors).",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
        },
        "notificationEmails": {
          "type": "array",
          "description": "A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AccessApprovalSettings",
      "type": "object",
      "description": "Settings on a Project/Folder/Organization related to Access Approval."
    },
    "ApprovalRequest": {
      "properties": {
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which approval was requested.",
          "type": "string"
        },
        "dismiss": {
          "$ref": "DismissDecision",
          "description": "The request was dismissed."
        },
        "requestedResourceName": {
          "description": "The resource for which approval is being requested. The format of the resource name is defined at https://cloud.google.com/apis/design/resource_names. The resource name here may either be a \"full\" resource name (e.g. \"//library.googleapis.com/shelves/shelf1/books/book2\") or a \"relative\" resource name (e.g. \"shelves/shelf1/books/book2\") as described in the resource name specification.",
          "type": "string"
        },
        "requestedLocations": {
          "$ref": "AccessLocations",
          "description": "The locations for which approval is being requested."
        },
        "approve": {
          "description": "Access was approved.",
          "$ref": "ApproveDecision"
        },
        "requestedExpiration": {
          "format": "google-datetime",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the request. Format is \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\".",
          "type": "string"
        },
        "requestedResourceProperties": {
          "$ref": "ResourceProperties",
          "description": "Properties related to the resource represented by requested_resource_name."
        }
      },
      "id": "ApprovalRequest",
      "description": "A request for the customer to approve access to a resource.",
      "type": "object"
    },
    "InvalidateApprovalRequestMessage": {
      "properties": {},
      "type": "object",
      "id": "InvalidateApprovalRequestMessage",
      "description": "Request to invalidate an existing approval."
    }
  },
  "title": "Access Approval API",
  "ownerName": "Google",
  "canonicalName": "Access Approval",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "description": "An API for controlling access to data by Google personnel.",
  "id": "accessapproval:v1",
  "basePath": "",
  "servicePath": "",
  "version_module": true,
  "protocol": "rest",
  "version": "v1",
  "rootUrl": "https://accessapproval.googleapis.com/",
  "resources": {
    "folders": {
      "methods": {
        "deleteAccessApprovalSettings": {
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "id": "accessapproval.folders.deleteAccessApprovalSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "type": "string",
              "description": "Name of the AccessApprovalSettings to delete.",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateAccessApprovalSettings": {
          "id": "accessapproval.folders.updateAccessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "request": {
            "$ref": "AccessApprovalSettings"
          }
        },
        "getServiceAccount": {
          "description": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "accessapproval.folders.getServiceAccount",
          "response": {
            "$ref": "AccessApprovalServiceAccount"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Name of the AccessApprovalServiceAccount to retrieve.",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/serviceAccount$"
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/serviceAccount"
        },
        "getAccessApprovalSettings": {
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "type": "string",
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\""
            }
          },
          "id": "accessapproval.folders.getAccessApprovalSettings",
          "description": "Gets the settings associated with a project, folder, or organization."
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "flatPath": "v1/folders/{foldersId}/approvalRequests",
              "httpMethod": "GET",
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying the page of results to return.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size."
                }
              },
              "path": "v1/{+parent}/approvalRequests",
              "id": "accessapproval.folders.approvalRequests.list"
            },
            "invalidate": {
              "httpMethod": "POST",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:invalidate",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Name of the ApprovalRequest to invalidate.",
                  "type": "string",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION if the request exists but is not in an approved state.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:invalidate",
              "request": {
                "$ref": "InvalidateApprovalRequestMessage"
              },
              "id": "accessapproval.folders.approvalRequests.invalidate",
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "dismiss": {
              "response": {
                "$ref": "ApprovalRequest"
              },
              "id": "accessapproval.folders.approvalRequests.dismiss",
              "parameterOrder": [
                "name"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:dismiss",
              "httpMethod": "POST",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "required": true
                }
              }
            },
            "get": {
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "id": "accessapproval.folders.approvalRequests.get",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
            },
            "approve": {
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "type": "string",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "accessapproval.folders.approvalRequests.approve",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "path": "v1/{+name}:approve",
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getAccessApprovalSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "id": "accessapproval.projects.getAccessApprovalSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Gets the settings associated with a project, folder, or organization.",
          "response": {
            "$ref": "AccessApprovalSettings"
          }
        },
        "updateAccessApprovalSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "id": "accessapproval.projects.updateAccessApprovalSettings",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "path": "v1/{+name}"
        },
        "getServiceAccount": {
          "description": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/serviceAccount",
          "id": "accessapproval.projects.getServiceAccount",
          "response": {
            "$ref": "AccessApprovalServiceAccount"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalServiceAccount to retrieve.",
              "pattern": "^projects/[^/]+/serviceAccount$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "deleteAccessApprovalSettings": {
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "accessapproval.projects.deleteAccessApprovalSettings",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "description": "Name of the AccessApprovalSettings to delete.",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "id": "accessapproval.projects.approvalRequests.list",
              "parameters": {
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size."
                }
              },
              "flatPath": "v1/projects/{projectsId}/approvalRequests",
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/approvalRequests"
            },
            "approve": {
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve",
              "parameterOrder": [
                "name"
              ],
              "id": "accessapproval.projects.approvalRequests.approve",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "path": "v1/{+name}:approve",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "type": "string",
                  "description": "Name of the approval request to approve.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "invalidate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:invalidate",
              "id": "accessapproval.projects.approvalRequests.invalidate",
              "description": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION if the request exists but is not in an approved state.",
              "httpMethod": "POST",
              "path": "v1/{+name}:invalidate",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "InvalidateApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Name of the ApprovalRequest to invalidate."
                }
              }
            },
            "get": {
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}",
              "id": "accessapproval.projects.approvalRequests.get"
            },
            "dismiss": {
              "path": "v1/{+name}:dismiss",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "accessapproval.projects.approvalRequests.dismiss",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getServiceAccount": {
          "path": "v1/{+name}",
          "description": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
          "flatPath": "v1/organizations/{organizationsId}/serviceAccount",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the AccessApprovalServiceAccount to retrieve.",
              "pattern": "^organizations/[^/]+/serviceAccount$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "accessapproval.organizations.getServiceAccount",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccessApprovalServiceAccount"
          }
        },
        "updateAccessApprovalSettings": {
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/accessApprovalSettings$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated."
            }
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "httpMethod": "PATCH",
          "id": "accessapproval.organizations.updateAccessApprovalSettings",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "deleteAccessApprovalSettings": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "description": "Name of the AccessApprovalSettings to delete.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "id": "accessapproval.organizations.deleteAccessApprovalSettings"
        },
        "getAccessApprovalSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "description": "Gets the settings associated with a project, folder, or organization.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "required": true
            }
          },
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "id": "accessapproval.organizations.getAccessApprovalSettings"
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "approve": {
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Name of the approval request to approve.",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "accessapproval.organizations.approvalRequests.approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "path": "v1/{+name}:approve",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve"
            },
            "list": {
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "path": "v1/{+parent}/approvalRequests",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests",
              "id": "accessapproval.organizations.approvalRequests.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying the page of results to return.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "pattern": "^organizations/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size.",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "invalidate": {
              "request": {
                "$ref": "InvalidateApprovalRequestMessage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "httpMethod": "POST",
              "description": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION if the request exists but is not in an approved state.",
              "path": "v1/{+name}:invalidate",
              "id": "accessapproval.organizations.approvalRequests.invalidate",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:invalidate",
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to invalidate.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "type": "string"
                }
              }
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "accessapproval.organizations.approvalRequests.get",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "dismiss": {
              "id": "accessapproval.organizations.approvalRequests.dismiss",
              "httpMethod": "POST",
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "path": "v1/{+name}:dismiss",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/cloud-provider-access-management/access-approval/docs",
  "revision": "20220729",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}
