{
  "version": "datatransfer_v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://admin.googleapis.com/",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "documentationLink": "https://developers.google.com/admin-sdk/",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    }
  },
  "discoveryVersion": "v1",
  "id": "admin:datatransfer_v1",
  "packagePath": "admin",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "basePath": "",
  "ownerName": "Google",
  "canonicalName": "DataTransfer",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "resources": {
    "transfers": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify the next page in the list."
            },
            "newOwnerUserId": {
              "location": "query",
              "description": "Destination user's profile ID.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "status": {
              "type": "string",
              "location": "query",
              "description": "Status of the transfer."
            },
            "oldOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Source user's profile ID."
            }
          },
          "id": "datatransfer.transfers.list",
          "path": "admin/datatransfer/v1/transfers",
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "parameterOrder": [],
          "description": "Lists the transfers for a customer by source user, destination user, or status."
        },
        "get": {
          "parameters": {
            "dataTransferId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          },
          "response": {
            "$ref": "DataTransfer"
          },
          "description": "Retrieves a data transfer request by its resource ID.",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "dataTransferId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        },
        "insert": {
          "path": "admin/datatransfer/v1/transfers",
          "httpMethod": "POST",
          "description": "Inserts a data transfer request.",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.insert",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "request": {
            "$ref": "DataTransfer"
          }
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "format": "int64",
              "location": "path",
              "description": "ID of the application resource to be retrieved.",
              "required": true,
              "type": "string"
            }
          },
          "id": "datatransfer.applications.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "path": "admin/datatransfer/v1/applications/{applicationId}"
        },
        "list": {
          "path": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "description": "Lists the applications available for data transfer for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "maximum": "500"
            }
          },
          "id": "datatransfer.applications.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "revision": "20220802",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "servicePath": "",
  "schemas": {
    "Application": {
      "description": "Applications resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "id": "Application",
      "properties": {
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters can be used to select the data of the user in this application to be transferred.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "id": {
          "description": "The application's ID.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource"
        }
      }
    },
    "DataTransfer": {
      "type": "object",
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The transfer's ID (Read-only)."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the data transfer was requested (Read-only)."
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array",
          "description": "List of per application data transfer resources. It contains data transfer details of the applications associated with this transfer resource. Note that this list is also used to specify the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "overallTransferStatusCode": {
          "description": "Overall transfer status (Read-only).",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        }
      }
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "type": "object",
      "description": "Template for a collection of DataTransfer resources.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "type": "string",
          "default": "admin#datatransfer#dataTransfersList"
        },
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token which will be used to specify next page in list API."
        }
      }
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "id": "ApplicationDataTransfer",
      "properties": {
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application.",
          "type": "array"
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Current status of transfer for this application. (Read-only)"
        },
        "applicationId": {
          "type": "string",
          "description": "The application's ID.",
          "format": "int64"
        }
      }
    },
    "ApplicationTransferParam": {
      "type": "object",
      "description": "Template for application transfer parameters.",
      "properties": {
        "key": {
          "description": "The type of the transfer parameter. eg: 'PRIVACY_LEVEL'",
          "type": "string"
        },
        "value": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value of the corresponding transfer parameter. eg: 'PRIVATE' or 'SHARED'"
        }
      },
      "id": "ApplicationTransferParam"
    },
    "ApplicationsListResponse": {
      "type": "object",
      "description": "Template for a collection of Applications.",
      "id": "ApplicationsListResponse",
      "properties": {
        "applications": {
          "description": "List of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "description": "Continuation token which will be used to specify next page in list API.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList"
        }
      }
    }
  },
  "title": "Admin SDK API"
}
