{
  "batchPath": "batch/adsensehost/v4.1",
  "revision": "20200930",
  "ownerName": "Google",
  "servicePath": "adsensehost/v4.1/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsensehost": {
          "description": "View and manage your AdSense host data and associated accounts"
        }
      }
    }
  },
  "description": "Generates performance reports, generates ad codes, and provides publisher management capabilities for AdSense Hosts.",
  "name": "adsensehost",
  "schemas": {
    "UrlChannel": {
      "id": "UrlChannel",
      "properties": {
        "id": {
          "description": "Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string"
        },
        "urlPattern": {
          "type": "string",
          "description": "URL Pattern of this URL channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home"
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsensehost#urlChannel.",
          "default": "adsensehost#urlChannel",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Accounts": {
      "id": "Accounts",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "adsensehost#accounts",
          "description": "Kind of list this is, in this case adsensehost#accounts."
        },
        "items": {
          "description": "The accounts returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        }
      }
    },
    "AssociationSession": {
      "id": "AssociationSession",
      "type": "object",
      "properties": {
        "websiteUrl": {
          "description": "The URL of the user's hosted website.",
          "type": "string"
        },
        "accountId": {
          "description": "Hosted account id of the associated publisher after association. Present if status is ACCEPTED.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of this association session."
        },
        "redirectUrl": {
          "type": "string",
          "description": "Redirect URL of this association session. Used to redirect users into the AdSense association flow."
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsensehost#associationSession.",
          "default": "adsensehost#associationSession",
          "type": "string"
        },
        "websiteLocale": {
          "description": "The locale of the user's hosted website.",
          "type": "string"
        },
        "userLocale": {
          "description": "The preferred locale of the user themselves when going through the AdSense association flow.",
          "type": "string"
        },
        "productCodes": {
          "items": {
            "type": "string"
          },
          "description": "The products to associate with the user. Options: AFC, AFG, AFV, AFS (deprecated), AFMC (deprecated)",
          "type": "array"
        },
        "status": {
          "description": "Status of the completed association, available once the association callback token has been verified. One of ACCEPTED, REJECTED, or ERROR.",
          "type": "string"
        }
      }
    },
    "UrlChannels": {
      "type": "object",
      "properties": {
        "items": {
          "description": "The URL channels returned in this list response.",
          "items": {
            "$ref": "UrlChannel"
          },
          "type": "array"
        },
        "kind": {
          "default": "adsensehost#urlChannels",
          "description": "Kind of list this is, in this case adsensehost#urlChannels.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        }
      },
      "id": "UrlChannels"
    },
    "AdStyle": {
      "type": "object",
      "properties": {
        "colors": {
          "type": "object",
          "description": "The colors included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.",
          "properties": {
            "text": {
              "description": "The color of the ad text.",
              "type": "string"
            },
            "border": {
              "type": "string",
              "description": "The color of the ad border."
            },
            "title": {
              "description": "The color of the ad title.",
              "type": "string"
            },
            "background": {
              "description": "The color of the ad background.",
              "type": "string"
            },
            "url": {
              "type": "string",
              "description": "The color of the ad url."
            }
          }
        },
        "kind": {
          "default": "adsensehost#adStyle",
          "type": "string",
          "description": "Kind this is, in this case adsensehost#adStyle."
        },
        "corners": {
          "type": "string",
          "description": "The style of the corners in the ad (deprecated: never populated, ignored)."
        },
        "font": {
          "type": "object",
          "properties": {
            "family": {
              "description": "The family of the font. Possible values are: ACCOUNT_DEFAULT_FAMILY, ADSENSE_DEFAULT_FAMILY, ARIAL, TIMES and VERDANA.",
              "type": "string"
            },
            "size": {
              "description": "The size of the font. Possible values are: ACCOUNT_DEFAULT_SIZE, ADSENSE_DEFAULT_SIZE, SMALL, MEDIUM and LARGE.",
              "type": "string"
            }
          },
          "description": "The font which is included in the style."
        }
      },
      "id": "AdStyle"
    },
    "CustomChannels": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CustomChannel"
          },
          "description": "The custom channels returned in this list response."
        },
        "kind": {
          "description": "Kind of list this is, in this case adsensehost#customChannels.",
          "default": "adsensehost#customChannels",
          "type": "string"
        },
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string"
        }
      },
      "id": "CustomChannels",
      "type": "object"
    },
    "Report": {
      "type": "object",
      "properties": {
        "totals": {
          "items": {
            "type": "string"
          },
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "type": "array"
        },
        "rows": {
          "items": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": "array",
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers."
        },
        "averages": {
          "type": "array",
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "items": {
            "type": "string"
          }
        },
        "headers": {
          "items": {
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of this column. Only present if the header type is METRIC_CURRENCY."
              },
              "name": {
                "type": "string",
                "description": "The name of the header."
              },
              "type": {
                "description": "The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request."
        },
        "kind": {
          "description": "Kind this is, in this case adsensehost#report.",
          "type": "string",
          "default": "adsensehost#report"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any warnings associated with generation of the report."
        },
        "totalMatchedRows": {
          "format": "int64",
          "type": "string",
          "description": "The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit."
        }
      },
      "id": "Report"
    },
    "AdClients": {
      "id": "AdClients",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "AdClient"
          },
          "description": "The ad clients returned in this list response."
        },
        "kind": {
          "description": "Kind of list this is, in this case adsensehost#adClients.",
          "default": "adsensehost#adClients",
          "type": "string"
        },
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdClient": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of this ad client."
        },
        "supportsReporting": {
          "description": "Whether this ad client supports being reported on.",
          "type": "boolean"
        },
        "arcOptIn": {
          "type": "boolean",
          "description": "Whether this ad client is opted in to ARC."
        },
        "productCode": {
          "description": "This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.",
          "type": "string"
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsensehost#adClient.",
          "default": "adsensehost#adClient",
          "type": "string"
        }
      },
      "id": "AdClient"
    },
    "AdCode": {
      "properties": {
        "adCode": {
          "description": "The ad code snippet.",
          "type": "string"
        },
        "kind": {
          "description": "Kind this is, in this case adsensehost#adCode.",
          "type": "string",
          "default": "adsensehost#adCode"
        }
      },
      "id": "AdCode",
      "type": "object"
    },
    "CustomChannel": {
      "type": "object",
      "id": "CustomChannel",
      "properties": {
        "code": {
          "description": "Code of this custom channel, not necessarily unique across ad clients.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "adsensehost#customChannel",
          "description": "Kind of resource this is, in this case adsensehost#customChannel."
        },
        "id": {
          "description": "Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string"
        },
        "name": {
          "description": "Name of this custom channel.",
          "type": "string"
        }
      }
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of resource this is, in this case adsensehost#account.",
          "type": "string",
          "default": "adsensehost#account"
        },
        "status": {
          "description": "Approval status of this account. One of: PENDING, APPROVED, DISABLED.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this account."
        },
        "id": {
          "description": "Unique identifier of this account.",
          "type": "string"
        }
      }
    },
    "AdUnits": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        },
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "adsensehost#adUnits",
          "description": "Kind of list this is, in this case adsensehost#adUnits."
        },
        "items": {
          "items": {
            "$ref": "AdUnit"
          },
          "type": "array",
          "description": "The ad units returned in this list response."
        }
      },
      "type": "object",
      "id": "AdUnits"
    },
    "AdUnit": {
      "properties": {
        "customStyle": {
          "description": "Custom style information specific to this ad unit.",
          "$ref": "AdStyle"
        },
        "contentAdsSettings": {
          "properties": {
            "backupOption": {
              "properties": {
                "url": {
                  "description": "URL to use when type is set to URL.",
                  "type": "string"
                },
                "color": {
                  "description": "Color to use when type is set to COLOR. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.",
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "Type of the backup option. Possible values are BLANK, COLOR and URL."
                }
              },
              "type": "object",
              "description": "The backup option to be used in instances where no ad is available."
            },
            "type": {
              "description": "Type of this ad unit. Possible values are TEXT, TEXT_IMAGE, IMAGE and LINK.",
              "type": "string"
            },
            "size": {
              "description": "Size of this ad unit. Size values are in the form SIZE_{width}_{height}.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated)."
        },
        "name": {
          "type": "string",
          "description": "Name of this ad unit."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case adsensehost#adUnit.",
          "default": "adsensehost#adUnit"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format."
        },
        "status": {
          "description": "Status of this ad unit. Possible values are:\nNEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.\n\nACTIVE: Indicates that there has been activity on this ad unit in the last seven days.\n\nINACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.",
          "type": "string"
        },
        "mobileContentAdsSettings": {
          "properties": {
            "size": {
              "description": "Size of this ad unit.",
              "type": "string"
            },
            "markupLanguage": {
              "description": "The markup language to use for this ad unit.",
              "type": "string"
            },
            "type": {
              "description": "Type of this ad unit.",
              "type": "string"
            },
            "scriptingLanguage": {
              "type": "string",
              "description": "The scripting language to use for this ad unit."
            }
          },
          "type": "object",
          "description": "Settings specific to WAP mobile content ads (AFMC - deprecated)."
        },
        "code": {
          "type": "string",
          "description": "Identity code of this ad unit, not necessarily unique across ad clients."
        }
      },
      "id": "AdUnit",
      "type": "object"
    }
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of text/csv",
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "csv",
        "json"
      ],
      "description": "Data format for the response.",
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "id": "adsensehost:v4.1",
  "labels": [
    "limited_availability"
  ],
  "documentationLink": "https://developers.google.com/adsense/host/",
  "resources": {
    "reports": {
      "methods": {
        "generate": {
          "parameters": {
            "endDate": {
              "description": "End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
              "pattern": "\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "filter": {
              "repeated": true,
              "type": "string",
              "description": "Filters to be run on the report.",
              "location": "query",
              "pattern": "[a-zA-Z_]+(==|=@).+"
            },
            "locale": {
              "description": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
              "location": "query",
              "pattern": "[a-zA-Z_]+",
              "type": "string"
            },
            "dimension": {
              "pattern": "[a-zA-Z_]+",
              "repeated": true,
              "location": "query",
              "description": "Dimensions to base the report on.",
              "type": "string"
            },
            "metric": {
              "location": "query",
              "type": "string",
              "description": "Numeric columns to include in the report.",
              "repeated": true,
              "pattern": "[a-zA-Z_]+"
            },
            "startIndex": {
              "format": "uint32",
              "type": "integer",
              "minimum": "0",
              "maximum": "5000",
              "description": "Index of the first row of report data to return.",
              "location": "query"
            },
            "startDate": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
              "pattern": "\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)"
            },
            "maxResults": {
              "maximum": "50000",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of rows of report data to return.",
              "minimum": "0",
              "format": "uint32"
            },
            "sort": {
              "description": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
              "type": "string",
              "location": "query",
              "pattern": "(\\+|-)?[a-zA-Z_]+",
              "repeated": true
            }
          },
          "description": "Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.",
          "httpMethod": "GET",
          "id": "adsensehost.reports.generate",
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "path": "reports",
          "parameterOrder": [
            "startDate",
            "endDate"
          ],
          "response": {
            "$ref": "Report"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "get": {
          "description": "Get information about the selected associated AdSense account.",
          "httpMethod": "GET",
          "parameterOrder": [
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "response": {
            "$ref": "Account"
          },
          "path": "accounts/{accountId}",
          "parameters": {
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Account to get information about."
            }
          },
          "id": "adsensehost.accounts.get"
        },
        "list": {
          "path": "accounts",
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "response": {
            "$ref": "Accounts"
          },
          "httpMethod": "GET",
          "id": "adsensehost.accounts.list",
          "description": "List hosted accounts associated with this AdSense account by ad client id.",
          "parameterOrder": [
            "filterAdClientId"
          ],
          "parameters": {
            "filterAdClientId": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Ad clients to list accounts for.",
              "required": true
            }
          }
        }
      },
      "resources": {
        "adunits": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "AdUnit"
              },
              "id": "adsensehost.accounts.adunits.delete",
              "description": "Delete the specified ad unit from the specified publisher AdSense account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ],
              "parameterOrder": [
                "accountId",
                "adClientId",
                "adUnitId"
              ],
              "httpMethod": "DELETE",
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}",
              "parameters": {
                "adUnitId": {
                  "type": "string",
                  "location": "path",
                  "description": "Ad unit to delete.",
                  "required": true
                },
                "adClientId": {
                  "location": "path",
                  "description": "Ad client for which to get ad unit.",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "Account which contains the ad unit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "patch": {
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits",
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ],
              "id": "adsensehost.accounts.adunits.patch",
              "response": {
                "$ref": "AdUnit"
              },
              "request": {
                "$ref": "AdUnit"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "adUnitId": {
                  "type": "string",
                  "required": true,
                  "location": "query",
                  "description": "Ad unit to get."
                },
                "accountId": {
                  "description": "Account which contains the ad client.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "adClientId": {
                  "location": "path",
                  "type": "string",
                  "description": "Ad client which contains the ad unit.",
                  "required": true
                }
              },
              "description": "Update the supplied ad unit in the specified publisher AdSense account. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "adClientId",
                "adUnitId"
              ]
            },
            "list": {
              "parameters": {
                "adClientId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Ad client for which to list ad units."
                },
                "includeInactive": {
                  "type": "boolean",
                  "description": "Whether to include inactive ad units. Default: true.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "type": "integer",
                  "format": "uint32",
                  "location": "query",
                  "maximum": "10000",
                  "description": "The maximum number of ad units to include in the response, used for paging.",
                  "minimum": "0"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account which contains the ad client.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "adClientId"
              ],
              "description": "List all ad units in the specified publisher's AdSense account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ],
              "response": {
                "$ref": "AdUnits"
              },
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits",
              "httpMethod": "GET",
              "id": "adsensehost.accounts.adunits.list"
            },
            "update": {
              "request": {
                "$ref": "AdUnit"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account which contains the ad client.",
                  "required": true,
                  "location": "path"
                },
                "adClientId": {
                  "type": "string",
                  "required": true,
                  "description": "Ad client which contains the ad unit.",
                  "location": "path"
                }
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "adClientId"
              ],
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits",
              "description": "Update the supplied ad unit in the specified publisher AdSense account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ],
              "response": {
                "$ref": "AdUnit"
              },
              "id": "adsensehost.accounts.adunits.update"
            },
            "getAdCode": {
              "description": "Get ad code for the specified ad unit, attaching the specified host custom channels.",
              "parameterOrder": [
                "accountId",
                "adClientId",
                "adUnitId"
              ],
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode",
              "id": "adsensehost.accounts.adunits.getAdCode",
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "AdCode"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account which contains the ad client."
                },
                "hostCustomChannelId": {
                  "type": "string",
                  "description": "Host custom channel to attach to the ad code.",
                  "location": "query",
                  "repeated": true
                },
                "adUnitId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Ad unit to get the code for."
                },
                "adClientId": {
                  "type": "string",
                  "description": "Ad client with contains the ad unit.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "insert": {
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits",
              "httpMethod": "POST",
              "description": "Insert the supplied ad unit into the specified publisher AdSense account.",
              "request": {
                "$ref": "AdUnit"
              },
              "parameterOrder": [
                "accountId",
                "adClientId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ],
              "id": "adsensehost.accounts.adunits.insert",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account which will contain the ad unit.",
                  "required": true,
                  "location": "path"
                },
                "adClientId": {
                  "type": "string",
                  "location": "path",
                  "description": "Ad client into which to insert the ad unit.",
                  "required": true
                }
              },
              "response": {
                "$ref": "AdUnit"
              }
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "adClientId",
                "adUnitId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "description": "Account which contains the ad unit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "adClientId": {
                  "type": "string",
                  "description": "Ad client for which to get ad unit.",
                  "required": true,
                  "location": "path"
                },
                "adUnitId": {
                  "required": true,
                  "location": "path",
                  "description": "Ad unit to get.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AdUnit"
              },
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}",
              "id": "adsensehost.accounts.adunits.get",
              "description": "Get the specified host ad unit in this AdSense account."
            }
          }
        },
        "reports": {
          "methods": {
            "generate": {
              "path": "accounts/{accountId}/reports",
              "parameters": {
                "dimension": {
                  "pattern": "[a-zA-Z_]+",
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Dimensions to base the report on."
                },
                "accountId": {
                  "required": true,
                  "description": "Hosted account upon which to report.",
                  "location": "path",
                  "type": "string"
                },
                "startIndex": {
                  "minimum": "0",
                  "type": "integer",
                  "location": "query",
                  "maximum": "5000",
                  "description": "Index of the first row of report data to return.",
                  "format": "uint32"
                },
                "maxResults": {
                  "type": "integer",
                  "format": "uint32",
                  "maximum": "50000",
                  "location": "query",
                  "description": "The maximum number of rows of report data to return.",
                  "minimum": "0"
                },
                "metric": {
                  "pattern": "[a-zA-Z_]+",
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Numeric columns to include in the report."
                },
                "sort": {
                  "repeated": true,
                  "location": "query",
                  "description": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "type": "string",
                  "pattern": "(\\+|-)?[a-zA-Z_]+"
                },
                "filter": {
                  "description": "Filters to be run on the report.",
                  "pattern": "[a-zA-Z_]+(==|=@).+",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "locale": {
                  "description": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
                  "pattern": "[a-zA-Z_]+",
                  "location": "query",
                  "type": "string"
                },
                "startDate": {
                  "required": true,
                  "pattern": "\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)",
                  "type": "string",
                  "location": "query",
                  "description": "Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive."
                },
                "endDate": {
                  "required": true,
                  "location": "query",
                  "type": "string",
                  "pattern": "\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)",
                  "description": "End of the date range to report on in \"YYYY-MM-DD\" format, inclusive."
                }
              },
              "response": {
                "$ref": "Report"
              },
              "id": "adsensehost.accounts.reports.generate",
              "description": "Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.",
              "parameterOrder": [
                "accountId",
                "startDate",
                "endDate"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "adclients": {
          "methods": {
            "list": {
              "path": "accounts/{accountId}/adclients",
              "description": "List all hosted ad clients in the specified hosted account.",
              "response": {
                "$ref": "AdClients"
              },
              "httpMethod": "GET",
              "id": "adsensehost.accounts.adclients.list",
              "parameters": {
                "maxResults": {
                  "type": "integer",
                  "minimum": "0",
                  "description": "The maximum number of ad clients to include in the response, used for paging.",
                  "format": "uint32",
                  "location": "query",
                  "maximum": "10000"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account for which to list ad clients.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "description": "Get information about one of the ad clients in the specified publisher's AdSense account.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Account which contains the ad client."
                },
                "adClientId": {
                  "location": "path",
                  "description": "Ad client to get.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AdClient"
              },
              "id": "adsensehost.accounts.adclients.get",
              "parameterOrder": [
                "accountId",
                "adClientId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsensehost"
              ],
              "path": "accounts/{accountId}/adclients/{adClientId}"
            }
          }
        }
      }
    },
    "adclients": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "description": "List all host ad clients in this AdSense account.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AdClients"
          },
          "id": "adsensehost.adclients.list",
          "path": "adclients",
          "parameters": {
            "maxResults": {
              "maximum": "10000",
              "description": "The maximum number of ad clients to include in the response, used for paging.",
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "minimum": "0"
            },
            "pageToken": {
              "location": "query",
              "description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            }
          }
        },
        "get": {
          "description": "Get information about one of the ad clients in the Host AdSense account.",
          "parameters": {
            "adClientId": {
              "type": "string",
              "location": "path",
              "description": "Ad client to get.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "httpMethod": "GET",
          "path": "adclients/{adClientId}",
          "parameterOrder": [
            "adClientId"
          ],
          "id": "adsensehost.adclients.get",
          "response": {
            "$ref": "AdClient"
          }
        }
      }
    },
    "associationsessions": {
      "methods": {
        "start": {
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "description": "Create an association session for initiating an association with an AdSense user.",
          "parameterOrder": [
            "productCode",
            "websiteUrl"
          ],
          "id": "adsensehost.associationsessions.start",
          "response": {
            "$ref": "AssociationSession"
          },
          "httpMethod": "GET",
          "path": "associationsessions/start",
          "parameters": {
            "userLocale": {
              "type": "string",
              "description": "The preferred locale of the user.",
              "location": "query"
            },
            "callbackUrl": {
              "type": "string",
              "location": "query",
              "description": "The URL to redirect the user to once association is completed. It receives a token parameter that can then be used to retrieve the associated account."
            },
            "websiteUrl": {
              "description": "The URL of the user's hosted website.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "productCode": {
              "location": "query",
              "enum": [
                "AFC",
                "AFG",
                "AFMC",
                "AFS",
                "AFV"
              ],
              "description": "Products to associate with the user.",
              "repeated": true,
              "enumDescriptions": [
                "AdSense For Content",
                "AdSense For Games",
                "AdSense For Mobile Content - deprecated",
                "AdSense For Search - deprecated",
                "AdSense For Video"
              ],
              "required": true,
              "type": "string"
            },
            "websiteLocale": {
              "location": "query",
              "type": "string",
              "description": "The locale of the user's hosted website."
            }
          }
        },
        "verify": {
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "description": "Verify an association session after the association callback returns from AdSense signup.",
          "response": {
            "$ref": "AssociationSession"
          },
          "parameterOrder": [
            "token"
          ],
          "id": "adsensehost.associationsessions.verify",
          "httpMethod": "GET",
          "path": "associationsessions/verify",
          "parameters": {
            "token": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The token returned to the association callback URL."
            }
          }
        }
      }
    },
    "customchannels": {
      "methods": {
        "update": {
          "path": "adclients/{adClientId}/customchannels",
          "parameters": {
            "adClientId": {
              "type": "string",
              "required": true,
              "description": "Ad client in which the custom channel will be updated.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "adClientId"
          ],
          "request": {
            "$ref": "CustomChannel"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "response": {
            "$ref": "CustomChannel"
          },
          "description": "Update a custom channel in the host AdSense account.",
          "id": "adsensehost.customchannels.update"
        },
        "patch": {
          "path": "adclients/{adClientId}/customchannels",
          "request": {
            "$ref": "CustomChannel"
          },
          "parameters": {
            "customChannelId": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Custom channel to get."
            },
            "adClientId": {
              "required": true,
              "location": "path",
              "description": "Ad client in which the custom channel will be updated.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "adClientId",
            "customChannelId"
          ],
          "id": "adsensehost.customchannels.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "CustomChannel"
          },
          "description": "Update a custom channel in the host AdSense account. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ]
        },
        "delete": {
          "id": "adsensehost.customchannels.delete",
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "path": "adclients/{adClientId}/customchannels/{customChannelId}",
          "response": {
            "$ref": "CustomChannel"
          },
          "parameters": {
            "customChannelId": {
              "type": "string",
              "location": "path",
              "description": "Custom channel to delete.",
              "required": true
            },
            "adClientId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Ad client from which to delete the custom channel."
            }
          },
          "description": "Delete a specific custom channel from the host AdSense account.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "adClientId",
            "customChannelId"
          ]
        },
        "insert": {
          "id": "adsensehost.customchannels.insert",
          "httpMethod": "POST",
          "parameters": {
            "adClientId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Ad client to which the new custom channel will be added."
            }
          },
          "description": "Add a new custom channel to the host AdSense account.",
          "request": {
            "$ref": "CustomChannel"
          },
          "path": "adclients/{adClientId}/customchannels",
          "response": {
            "$ref": "CustomChannel"
          },
          "parameterOrder": [
            "adClientId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ]
        },
        "get": {
          "response": {
            "$ref": "CustomChannel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "id": "adsensehost.customchannels.get",
          "description": "Get a specific custom channel from the host AdSense account.",
          "httpMethod": "GET",
          "path": "adclients/{adClientId}/customchannels/{customChannelId}",
          "parameters": {
            "customChannelId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Custom channel to get."
            },
            "adClientId": {
              "required": true,
              "location": "path",
              "description": "Ad client from which to get the custom channel.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "adClientId",
            "customChannelId"
          ]
        },
        "list": {
          "id": "adsensehost.customchannels.list",
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "httpMethod": "GET",
          "parameters": {
            "adClientId": {
              "type": "string",
              "description": "Ad client for which to list custom channels.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "0",
              "description": "The maximum number of custom channels to include in the response, used for paging.",
              "location": "query",
              "maximum": "10000",
              "format": "uint32"
            }
          },
          "path": "adclients/{adClientId}/customchannels",
          "description": "List all host custom channels in this AdSense account.",
          "parameterOrder": [
            "adClientId"
          ],
          "response": {
            "$ref": "CustomChannels"
          }
        }
      }
    },
    "urlchannels": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "description": "List all host URL channels in the host AdSense account.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of URL channels to include in the response, used for paging.",
              "maximum": "10000",
              "format": "uint32",
              "location": "query",
              "minimum": "0",
              "type": "integer"
            },
            "adClientId": {
              "location": "path",
              "description": "Ad client for which to list URL channels.",
              "type": "string",
              "required": true
            }
          },
          "path": "adclients/{adClientId}/urlchannels",
          "id": "adsensehost.urlchannels.list",
          "parameterOrder": [
            "adClientId"
          ],
          "response": {
            "$ref": "UrlChannels"
          }
        },
        "delete": {
          "parameterOrder": [
            "adClientId",
            "urlChannelId"
          ],
          "id": "adsensehost.urlchannels.delete",
          "parameters": {
            "adClientId": {
              "required": true,
              "type": "string",
              "description": "Ad client from which to delete the URL channel.",
              "location": "path"
            },
            "urlChannelId": {
              "description": "URL channel to delete.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "UrlChannel"
          },
          "description": "Delete a URL channel from the host AdSense account.",
          "httpMethod": "DELETE",
          "path": "adclients/{adClientId}/urlchannels/{urlChannelId}",
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ]
        },
        "insert": {
          "request": {
            "$ref": "UrlChannel"
          },
          "id": "adsensehost.urlchannels.insert",
          "path": "adclients/{adClientId}/urlchannels",
          "parameterOrder": [
            "adClientId"
          ],
          "response": {
            "$ref": "UrlChannel"
          },
          "httpMethod": "POST",
          "parameters": {
            "adClientId": {
              "description": "Ad client to which the new URL channel will be added.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsensehost"
          ],
          "description": "Add a new URL channel to the host AdSense account."
        }
      }
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/adsense-32.png",
    "x16": "https://www.google.com/images/icons/product/adsense-16.png"
  },
  "ownerDomain": "google.com",
  "title": "AdSense Host API",
  "canonicalName": "AdSense Host",
  "basePath": "/adsensehost/v4.1/",
  "baseUrl": "https://www.googleapis.com/adsensehost/v4.1/",
  "version": "v4.1"
}
