{
  "documentationLink": "https://developers.google.com/admin-sdk/alertcenter/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's G Suite alerts, and send alert feedback"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "id": "alertcenter:v1beta1",
  "revision": "20220801",
  "version": "v1beta1",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "name": "alertcenter",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://alertcenter.googleapis.com/",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "title": "Google Workspace Alert Center API",
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "BadWhitelist": {
      "type": "object",
      "properties": {
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        }
      },
      "id": "BadWhitelist",
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings."
    },
    "DomainWideTakeoutInitiated": {
      "id": "DomainWideTakeoutInitiated",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "type": "object",
      "properties": {
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        },
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        }
      }
    },
    "ActionInfo": {
      "type": "object",
      "properties": {},
      "description": "Metadata related to the action.",
      "id": "ActionInfo"
    },
    "AccountSuspensionWarning": {
      "description": "A warning that the customer's account is about to be suspended.",
      "type": "object",
      "id": "AccountSuspensionWarning",
      "properties": {
        "appealWindow": {
          "format": "google-duration",
          "type": "string",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state."
        },
        "suspensionDetails": {
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "type": "array",
          "description": "Details about why an account is being suspended."
        },
        "state": {
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "description": "Account suspension warning state.",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "type": "string"
        }
      }
    },
    "CloudPubsubTopic": {
      "id": "CloudPubsubTopic",
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        },
        "payloadFormat": {
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "properties": {
        "displayName": {
          "description": "Display name of the user.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user."
        }
      },
      "id": "User",
      "description": "A user.",
      "type": "object"
    },
    "AppMakerSqlSetupNotification": {
      "type": "object",
      "id": "AppMakerSqlSetupNotification",
      "properties": {
        "requestInfo": {
          "description": "List of applications with requests for default SQL set up.",
          "type": "array",
          "items": {
            "$ref": "RequestInfo"
          }
        }
      },
      "description": "Alerts from App Maker to notify admins to set up default SQL instance."
    },
    "CsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "CsvRow"
    },
    "SSOProfileCreatedEvent": {
      "id": "SSOProfileCreatedEvent",
      "type": "object",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got created",
          "type": "string"
        }
      },
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder"
    },
    "DeviceCompromised": {
      "id": "DeviceCompromised",
      "properties": {
        "events": {
          "description": "Required. The list of security events.",
          "type": "array",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        }
      },
      "type": "object",
      "description": "A mobile device compromised alert. Derived from audit logs."
    },
    "Attachment": {
      "properties": {
        "csv": {
          "$ref": "Csv",
          "description": "A CSV file attachment."
        }
      },
      "description": "Attachment with application-specific information about an alert.",
      "id": "Attachment",
      "type": "object"
    },
    "AlertMetadata": {
      "id": "AlertMetadata",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this metadata was last updated.",
          "type": "string"
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW",
          "type": "string"
        },
        "assignee": {
          "type": "string",
          "description": "The email address of the user assigned to the alert."
        }
      },
      "description": "An alert metadata."
    },
    "LoginDetails": {
      "id": "LoginDetails",
      "description": "The details of the login action.",
      "properties": {
        "loginTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts."
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        }
      },
      "type": "object"
    },
    "UserDefinedDetectorInfo": {
      "description": "Detector defined by administrators.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the detector."
        },
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        }
      },
      "id": "UserDefinedDetectorInfo"
    },
    "Notification": {
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/admin-sdk/alertcenter/guides/notifications).",
      "id": "Notification",
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "type": "object"
    },
    "StateSponsoredAttack": {
      "id": "StateSponsoredAttack",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      },
      "type": "object",
      "description": "A state-sponsored attack alert. Derived from audit logs."
    },
    "MergeInfo": {
      "description": "New alert tracking numbers.",
      "id": "MergeInfo",
      "properties": {
        "newIncidentTrackingId": {
          "description": "The new tracking ID from the parent incident.",
          "type": "string"
        },
        "newAlertId": {
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportingRule": {
      "description": "Alerts from Reporting Rules configured by Admin.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        },
        "alertDetails": {
          "type": "string",
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "query": {
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "ReportingRule"
    },
    "BatchUndeleteAlertsResponse": {
      "description": "Response to batch undelete operation on alerts.",
      "properties": {
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object",
          "description": "The status details for each failed alert_id."
        },
        "successAlertIds": {
          "description": "The successful list of alert IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "BatchUndeleteAlertsResponse"
    },
    "ListAlertFeedbackResponse": {
      "description": "Response message for an alert feedback listing request.",
      "id": "ListAlertFeedbackResponse",
      "type": "object",
      "properties": {
        "feedback": {
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          },
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending."
        }
      }
    },
    "PredefinedDetectorInfo": {
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      },
      "id": "PredefinedDetectorInfo",
      "type": "object",
      "description": "Detector provided by Google."
    },
    "DeviceCompromisedSecurityDetail": {
      "id": "DeviceCompromisedSecurityDetail",
      "properties": {
        "deviceCompromisedState": {
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\".",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        }
      },
      "type": "object",
      "description": "Detailed information of a single MDM device compromised event."
    },
    "MandatoryServiceAnnouncement": {
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "One line summary of the announcement"
        },
        "description": {
          "type": "string",
          "description": "Detailed, freeform text describing the announcement"
        }
      },
      "id": "MandatoryServiceAnnouncement"
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "BatchUndeleteAlertsRequest": {
      "description": "A request to perform batch undelete on alerts.",
      "properties": {
        "alertId": {
          "type": "array",
          "description": "Required. list of alert IDs.",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with."
        }
      },
      "type": "object",
      "id": "BatchUndeleteAlertsRequest"
    },
    "DlpRuleViolation": {
      "properties": {
        "ruleViolationInfo": {
          "$ref": "RuleViolationInfo",
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector."
        }
      },
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "id": "DlpRuleViolation",
      "type": "object"
    },
    "ListAlertsResponse": {
      "type": "object",
      "description": "Response message for an alert listing request.",
      "id": "ListAlertsResponse",
      "properties": {
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "Alert"
          },
          "description": "The list of alerts."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call."
        }
      }
    },
    "BatchDeleteAlertsRequest": {
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with."
        },
        "alertId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. list of alert IDs."
        }
      },
      "type": "object",
      "description": "A request to perform batch delete on alerts.",
      "id": "BatchDeleteAlertsRequest"
    },
    "MatchInfo": {
      "description": "Proto that contains match information from the condition part of the rule.",
      "properties": {
        "predefinedDetector": {
          "description": "For matched detector predefined by Google.",
          "$ref": "PredefinedDetectorInfo"
        },
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        }
      },
      "id": "MatchInfo",
      "type": "object"
    },
    "SensitiveAdminAction": {
      "id": "SensitiveAdminAction",
      "type": "object",
      "properties": {
        "ssoProfileUpdatedEvent": {
          "$ref": "SSOProfileUpdatedEvent",
          "description": "Event occurred when SSO Profile updated in customer's account"
        },
        "ssoProfileDeletedEvent": {
          "description": "Event occurred when SSO Profile deleted in customer's account",
          "$ref": "SSOProfileDeletedEvent"
        },
        "ssoProfileCreatedEvent": {
          "description": "Event occurred when SSO Profile created in customer's account",
          "$ref": "SSOProfileCreatedEvent"
        },
        "eventTime": {
          "description": "The time at which event occurred",
          "format": "google-datetime",
          "type": "string"
        },
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        },
        "actorEmail": {
          "type": "string",
          "description": "Email of person who performed the action"
        },
        "superAdminPasswordResetEvent": {
          "$ref": "SuperAdminPasswordResetEvent",
          "description": "Event occurred when password was reset for super admin in customer's account"
        }
      },
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account."
    },
    "PhishingSpike": {
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](/admin-sdk/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object",
      "id": "PhishingSpike",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        }
      }
    },
    "UserChanges": {
      "id": "UserChanges",
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the below rules. Suspended user made active New user Added User suspended (by admin) User granted admin privileges User admin privileges revoked User deleted Users password changed",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuperAdminPasswordResetEvent": {
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "email of person whose password was reset"
        }
      },
      "id": "SuperAdminPasswordResetEvent",
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "type": "object"
    },
    "Csv": {
      "id": "Csv",
      "type": "object",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of headers for data columns in a CSV file."
        },
        "dataRows": {
          "type": "array",
          "items": {
            "$ref": "CsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."
        }
      }
    },
    "MailPhishing": {
      "id": "MailPhishing",
      "properties": {
        "systemActionType": {
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "type": "string",
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "description": "System actions on the messages."
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        }
      },
      "type": "object",
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing"
    },
    "AppSettingsChanged": {
      "properties": {
        "alertDetails": {
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string",
          "format": "byte"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the below rules. Calendar settings changed Drive settings changed Email settings changed Mobile settings changed",
      "id": "AppSettingsChanged",
      "type": "object"
    },
    "DomainId": {
      "type": "object",
      "properties": {
        "customerPrimaryDomain": {
          "type": "string",
          "description": "The primary domain for the customer."
        }
      },
      "id": "DomainId",
      "description": "Domain ID of Gmail phishing alerts."
    },
    "SuspiciousActivity": {
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "description": "Required. The list of security events.",
          "type": "array"
        }
      },
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "type": "object",
      "id": "SuspiciousActivity"
    },
    "AccountSuspensionDetails": {
      "id": "AccountSuspensionDetails",
      "type": "object",
      "properties": {
        "productName": {
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\"",
          "type": "string"
        },
        "abuseReason": {
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT"
          ],
          "description": "The reason why this account is receiving an account suspension warning.",
          "type": "string"
        }
      },
      "description": "Details about why an account is receiving an account suspension warning."
    },
    "AccountWarning": {
      "description": "Alerts for user account warning events.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        },
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        }
      },
      "id": "AccountWarning"
    },
    "BatchDeleteAlertsResponse": {
      "properties": {
        "successAlertIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs."
        },
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed alert_id.",
          "type": "object"
        }
      },
      "description": "Response to batch delete operation on alerts.",
      "id": "BatchDeleteAlertsResponse",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleOperations": {
      "properties": {
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        },
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        },
        "affectedUserEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of emails which correspond to the users directly affected by the incident."
        },
        "description": {
          "type": "string",
          "description": "A detailed, freeform incident description."
        }
      },
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "type": "object"
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "description": "Proto that contains resource information.",
      "type": "object",
      "properties": {
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "documentId": {
          "description": "Drive file ID.",
          "type": "string"
        }
      }
    },
    "ActivityRule": {
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "id": "ActivityRule",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "The timestamp of the last update to the rule.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rule create timestamp."
        },
        "supersededAlerts": {
          "items": {
            "type": "string"
          },
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "type": "array"
        },
        "windowSize": {
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "triggerSource": {
          "type": "string",
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS"
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "actionNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of action names associated with the rule threshold."
        },
        "supersedingAlert": {
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts.",
          "type": "string"
        },
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "query": {
          "description": "Query that is used to get the data from the associated source.",
          "type": "string"
        },
        "threshold": {
          "description": "Alert threshold is for example “COUNT \u003e 5”.",
          "type": "string"
        }
      }
    },
    "RequestInfo": {
      "description": "Requests for one application that needs default SQL setup.",
      "id": "RequestInfo",
      "properties": {
        "appDeveloperEmail": {
          "description": "List of app developers who triggered notifications for above application.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "format": "int64",
          "type": "string"
        },
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        }
      },
      "type": "object"
    },
    "MaliciousEntity": {
      "id": "MaliciousEntity",
      "type": "object",
      "properties": {
        "fromHeader": {
          "type": "string",
          "description": "The sender email address."
        },
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        },
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        }
      },
      "description": "Entity whose actions triggered a Gmail phishing alert."
    },
    "UndeleteAlertRequest": {
      "type": "object",
      "id": "UndeleteAlertRequest",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
          "type": "string"
        }
      },
      "description": "A request to undelete a specific alert that was marked for deletion."
    },
    "AppsOutage": {
      "id": "AppsOutage",
      "type": "object",
      "description": "An outage incident reported for a Google Workspace service.",
      "properties": {
        "dashboardUri": {
          "description": "Link to the outage event in Google Workspace Status Dashboard",
          "type": "string"
        },
        "nextUpdateTime": {
          "description": "Timestamp by which the next update is expected to arrive.",
          "format": "google-datetime",
          "type": "string"
        },
        "resolutionTime": {
          "format": "google-datetime",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "type": "string"
        },
        "status": {
          "description": "Current outage status.",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ]
        },
        "products": {
          "description": "List of products impacted by the outage.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "incidentTrackingId": {
          "description": "Incident tracking ID.",
          "type": "string"
        }
      }
    },
    "AlertFeedback": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this feedback was created."
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google account of the customer."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "type": {
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "type": "string",
          "description": "Required. The type of the feedback."
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        }
      },
      "id": "AlertFeedback",
      "description": "A customer feedback about an alert."
    },
    "SuspiciousActivitySecurityDetail": {
      "id": "SuspiciousActivitySecurityDetail",
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the device property before the change."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "newValue": {
          "description": "The new value of the device property after the change.",
          "type": "string"
        },
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        }
      },
      "description": "Detailed information of a single MDM suspicious activity event."
    },
    "SSOProfileDeletedEvent": {
      "id": "SSOProfileDeletedEvent",
      "type": "object",
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got deleted"
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "properties": {
        "notifications": {
          "items": {
            "$ref": "Notification"
          },
          "description": "The list of notifications.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Customer-level settings."
    },
    "RuleInfo": {
      "id": "RuleInfo",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        },
        "displayName": {
          "description": "User provided name of the rule.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Proto that contains rule information."
    },
    "SSOProfileUpdatedEvent": {
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got updated",
          "type": "string"
        },
        "inboundSsoProfileChanges": {
          "description": "changes made to sso profile",
          "type": "string"
        }
      },
      "id": "SSOProfileUpdatedEvent"
    },
    "Alert": {
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "type": "string",
          "format": "google-datetime"
        },
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        },
        "source": {
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage",
          "type": "string"
        },
        "metadata": {
          "$ref": "AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this alert was last updated.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly."
        },
        "data": {
          "type": "object",
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this alert was created."
        },
        "deleted": {
          "description": "Output only. `True` if this alert is marked for deletion.",
          "type": "boolean"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time the event that caused this alert was started or detected."
        },
        "alertId": {
          "description": "Output only. The unique identifier for the alert.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/admin-sdk/alertcenter/reference/alert-types).",
          "type": "string"
        }
      },
      "description": "An alert affecting a customer.",
      "id": "Alert"
    },
    "RuleViolationInfo": {
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "properties": {
        "triggeredActionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          },
          "description": "Actions applied as a consequence of the rule being triggered.",
          "type": "array"
        },
        "ruleInfo": {
          "description": "Details of the violated rule.",
          "$ref": "RuleInfo"
        },
        "suppressedActionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "description": "Actions suppressed due to other actions with higher priority."
        },
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Details of the resource which violated the rule."
        },
        "dataSource": {
          "description": "Source of the data.",
          "type": "string",
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source."
          ],
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE"
          ]
        },
        "triggeredActionInfo": {
          "type": "array",
          "items": {
            "$ref": "ActionInfo"
          },
          "description": "Metadata related to the triggered actions."
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to."
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "matchInfo": {
          "description": "List of matches that were found in the resource content.",
          "type": "array",
          "items": {
            "$ref": "MatchInfo"
          }
        },
        "trigger": {
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared."
          ],
          "description": "Trigger of the rule.",
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE"
          ]
        }
      },
      "type": "object",
      "id": "RuleViolationInfo"
    },
    "PrimaryAdminChangedEvent": {
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "properties": {
        "domain": {
          "type": "string",
          "description": "domain in which actioned occurred"
        },
        "previousAdminEmail": {
          "type": "string",
          "description": "Email of person who was the primary admin before the action"
        },
        "updatedAdminEmail": {
          "type": "string",
          "description": "Email of person who is the primary admin after the action"
        }
      },
      "type": "object",
      "id": "PrimaryAdminChangedEvent"
    },
    "ApnsCertificateExpirationInfo": {
      "properties": {
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration date of the APNS Certificate."
        },
        "uid": {
          "type": "string",
          "description": "The UID for the certificate."
        },
        "appleId": {
          "description": "The Apple ID used for the certificate, may be blank if admins did not enter it.",
          "type": "string"
        }
      },
      "description": "The explanation message associated with ApnsCertificationExpiring and ApnsCertificationExpired alerts.",
      "type": "object",
      "id": "ApnsCertificateExpirationInfo"
    },
    "GmailMessageInfo": {
      "id": "GmailMessageInfo",
      "type": "object",
      "properties": {
        "messageId": {
          "description": "The message ID.",
          "type": "string"
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        },
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        },
        "date": {
          "description": "The date of the event related to this email.",
          "type": "string",
          "format": "google-datetime"
        },
        "recipient": {
          "description": "The recipient of this email.",
          "type": "string"
        },
        "md5HashSubject": {
          "type": "string",
          "description": "The MD5 Hash of email's subject (only available for reported emails)."
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        }
      },
      "description": "Details of a message in phishing spike alert."
    }
  },
  "ownerName": "Google",
  "version_module": true,
  "basePath": "",
  "resources": {
    "alerts": {
      "methods": {
        "batchDelete": {
          "path": "v1beta1/alerts:batchDelete",
          "parameters": {},
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "flatPath": "v1beta1/alerts:batchDelete",
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "description": "Performs batch delete operation on alerts.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.batchDelete"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "path": "v1beta1/alerts",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field."
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`"
            },
            "pageSize": {
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/admin-sdk/alertcenter/reference/filter-fields#alerts.list)."
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with. Inferred from the caller identity if not provided.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/alerts",
          "id": "alertcenter.alerts.list",
          "description": "Lists the alerts.",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "undelete": {
          "id": "alertcenter.alerts.undelete",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert to undelete.",
              "type": "string",
              "required": true
            }
          },
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "path": "v1beta1/alerts/{alertId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "Alert"
          },
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "POST"
        },
        "getMetadata": {
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/alerts/{alertId}/metadata",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.getMetadata",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert metadata is associated with. Inferred from the caller identity if not provided.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "AlertMetadata"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.delete",
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to delete.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/alerts/{alertId}"
        },
        "batchUndelete": {
          "flatPath": "v1beta1/alerts:batchUndelete",
          "httpMethod": "POST",
          "parameters": {},
          "id": "alertcenter.alerts.batchUndelete",
          "path": "v1beta1/alerts:batchUndelete",
          "description": "Performs batch undelete operation on alerts.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "parameterOrder": []
        },
        "get": {
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "parameters": {
            "alertId": {
              "location": "path",
              "type": "string",
              "description": "Required. The identifier of the alert to retrieve.",
              "required": true
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Alert"
          },
          "path": "v1beta1/alerts/{alertId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "alertId"
          ]
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "list": {
              "parameterOrder": [
                "alertId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "id": "alertcenter.alerts.feedback.list",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/admin-sdk/alertcenter/reference/filter-fields#alerts.feedback.list)."
                },
                "customerId": {
                  "type": "string",
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert feedback are associated with. Inferred from the caller identity if not provided.",
                  "location": "query"
                },
                "alertId": {
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback"
            },
            "create": {
              "request": {
                "$ref": "AlertFeedback"
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "parameterOrder": [
                "alertId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "id": "alertcenter.alerts.feedback.create",
              "response": {
                "$ref": "AlertFeedback"
              },
              "parameters": {
                "customerId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided."
                },
                "alertId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The identifier of the alert this feedback belongs to."
                }
              },
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "v1beta1": {
      "methods": {
        "getSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided.",
              "location": "query"
            }
          },
          "description": "Returns customer-level settings.",
          "id": "alertcenter.getSettings",
          "path": "v1beta1/settings",
          "flatPath": "v1beta1/settings",
          "parameterOrder": [],
          "response": {
            "$ref": "Settings"
          }
        },
        "updateSettings": {
          "request": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.updateSettings",
          "path": "v1beta1/settings",
          "parameterOrder": [],
          "flatPath": "v1beta1/settings",
          "response": {
            "$ref": "Settings"
          },
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided.",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates the customer-level settings."
        }
      }
    }
  },
  "batchPath": "batch",
  "canonicalName": "AlertCenter"
}
