{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://area120tables.googleapis.com/",
  "name": "area120tables",
  "servicePath": "",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "id": "area120tables:v1alpha1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "schemas": {
    "UpdateRowRequest": {
      "properties": {
        "row": {
          "$ref": "Row",
          "description": "Required. The row to update."
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ]
        },
        "updateMask": {
          "description": "The list of fields to update.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request message for TablesService.UpdateRow.",
      "id": "UpdateRowRequest",
      "type": "object"
    },
    "Row": {
      "id": "Row",
      "properties": {
        "values": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "type": "object"
        },
        "updateTime": {
          "description": "Time when the row was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        },
        "createTime": {
          "description": "Time when the row was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A single row in a table.",
      "type": "object"
    },
    "BatchUpdateRowsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchUpdateRowsRequest",
      "description": "Request message for TablesService.BatchUpdateRows."
    },
    "BatchUpdateRowsResponse": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The updated rows.",
          "type": "array"
        }
      },
      "description": "Response message for TablesService.BatchUpdateRows.",
      "type": "object",
      "id": "BatchUpdateRowsResponse"
    },
    "LabeledItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        },
        "name": {
          "description": "Display string as entered by user.",
          "type": "string"
        }
      },
      "description": "A single item in a labeled column.",
      "id": "LabeledItem"
    },
    "ListWorkspacesResponse": {
      "description": "Response message for TablesService.ListWorkspaces.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "workspaces": {
          "type": "array",
          "description": "The list of workspaces.",
          "items": {
            "$ref": "Workspace"
          }
        }
      },
      "type": "object",
      "id": "ListWorkspacesResponse"
    },
    "ListRowsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "rows": {
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      },
      "id": "ListRowsResponse",
      "type": "object",
      "description": "Response message for TablesService.ListRows."
    },
    "BatchCreateRowsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "items": {
            "$ref": "CreateRowRequest"
          }
        }
      },
      "description": "Request message for TablesService.BatchCreateRows.",
      "id": "BatchCreateRowsRequest",
      "type": "object"
    },
    "ColumnDescription": {
      "type": "object",
      "description": "Details on a column in the table.",
      "properties": {
        "labels": {
          "items": {
            "$ref": "LabeledItem"
          },
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "type": "array"
        },
        "readonly": {
          "description": "Optional. Indicates that values for the column cannot be set by the user.",
          "type": "boolean"
        },
        "dataType": {
          "type": "string",
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website."
        },
        "dateDetails": {
          "$ref": "DateDetails",
          "description": "Optional. Additional details about a date column."
        },
        "multipleValuesDisallowed": {
          "type": "boolean",
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible."
        },
        "name": {
          "type": "string",
          "description": "column name"
        },
        "relationshipDetails": {
          "$ref": "RelationshipDetails",
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship."
        },
        "id": {
          "description": "Internal id for a column.",
          "type": "string"
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        }
      },
      "id": "ColumnDescription"
    },
    "BatchDeleteRowsRequest": {
      "type": "object",
      "id": "BatchDeleteRowsRequest",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}"
        }
      },
      "description": "Request message for TablesService.BatchDeleteRows"
    },
    "BatchCreateRowsResponse": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The created rows."
        }
      },
      "description": "Response message for TablesService.BatchCreateRows.",
      "id": "BatchCreateRowsResponse",
      "type": "object"
    },
    "ListTablesResponse": {
      "description": "Response message for TablesService.ListTables.",
      "type": "object",
      "id": "ListTablesResponse",
      "properties": {
        "tables": {
          "description": "The list of tables.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "SavedView": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id associated with the saved view."
        },
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        }
      },
      "description": "A saved view of a table. NextId: 3",
      "type": "object",
      "id": "SavedView"
    },
    "DateDetails": {
      "id": "DateDetails",
      "properties": {
        "hasTime": {
          "description": "Whether the date column includes time.",
          "type": "boolean"
        }
      },
      "description": "Details about a date column.",
      "type": "object"
    },
    "Table": {
      "type": "object",
      "description": "A single table. NextId: 8",
      "id": "Table",
      "properties": {
        "savedViews": {
          "items": {
            "$ref": "SavedView"
          },
          "type": "array",
          "description": "Saved views for this table."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the table. IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        },
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the table was created."
        },
        "columns": {
          "type": "array",
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was last updated excluding updates to individual rows"
        }
      }
    },
    "CreateRowRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        },
        "row": {
          "description": "Required. The row to create.",
          "$ref": "Row"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        }
      },
      "type": "object",
      "description": "Request message for TablesService.CreateRow.",
      "id": "CreateRowRequest"
    },
    "Workspace": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the workspace was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the workspace was created."
        },
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable title of the workspace.",
          "type": "string"
        },
        "tables": {
          "type": "array",
          "description": "The list of tables in the workspace.",
          "items": {
            "$ref": "Table"
          }
        }
      },
      "id": "Workspace",
      "type": "object",
      "description": "A single workspace."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "LookupDetails": {
      "properties": {
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        },
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        }
      },
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "id": "LookupDetails",
      "type": "object"
    },
    "RelationshipDetails": {
      "type": "object",
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "description": "Details about a relationship column.",
      "id": "RelationshipDetails"
    }
  },
  "rootUrl": "https://area120tables.googleapis.com/",
  "ownerName": "Google",
  "version": "v1alpha1",
  "canonicalName": "Area120 Tables",
  "resources": {
    "workspaces": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "flatPath": "v1alpha1/workspaces",
          "description": "Lists workspaces for the user.",
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25."
            }
          },
          "path": "v1alpha1/workspaces",
          "parameterOrder": [],
          "id": "area120tables.workspaces.list"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "parameters": {
            "name": {
              "pattern": "^workspaces/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Workspace"
          },
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "id": "area120tables.workspaces.get"
        }
      }
    },
    "tables": {
      "resources": {
        "rows": {
          "methods": {
            "delete": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "required": true,
                  "type": "string",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "area120tables.tables.rows.delete",
              "description": "Deletes a row.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha1/{+name}"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "area120tables.tables.rows.get"
            },
            "batchDelete": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Deletes multiple rows.",
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "id": "area120tables.tables.rows.batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a row.",
              "parameters": {
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query"
                },
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The list of fields to update.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "area120tables.tables.rows.patch"
            },
            "create": {
              "id": "area120tables.tables.rows.create",
              "path": "v1alpha1/{+parent}/rows",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                }
              },
              "description": "Creates a row.",
              "request": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent table. Format: tables/{table}",
                  "required": true,
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime."
                }
              },
              "path": "v1alpha1/{+parent}/rows",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListRowsResponse"
              },
              "httpMethod": "GET",
              "id": "area120tables.tables.rows.list"
            },
            "batchCreate": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates multiple rows.",
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.batchCreate"
            },
            "batchUpdate": {
              "parameterOrder": [
                "parent"
              ],
              "id": "area120tables.tables.rows.batchUpdate",
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "description": "Updates multiple rows.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "type": "string",
                  "pattern": "^tables/[^/]+$"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "area120tables.tables.get",
          "path": "v1alpha1/{+name}",
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "flatPath": "v1alpha1/tables/{tablesId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^tables/[^/]+$",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "description": "Lists tables for the user.",
          "path": "v1alpha1/tables",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime."
            },
            "pageSize": {
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListTablesResponse"
          },
          "id": "area120tables.tables.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "flatPath": "v1alpha1/tables"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Area120 Tables API",
  "description": "",
  "kind": "discovery#restDescription",
  "version_module": true,
  "protocol": "rest",
  "basePath": "",
  "revision": "20220804",
  "batchPath": "batch"
}
