{
  "name": "businessprofileperformance",
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "title": "Business Profile Performance API",
  "documentationLink": "https://developers.google.com/my-business/",
  "protocol": "rest",
  "servicePath": "",
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "resources": {
    "locations": {
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "httpMethod": "GET",
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "parameters": {
                        "monthlyRange.endMonth.day": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^locations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id."
                        },
                        "monthlyRange.startMonth.day": {
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "format": "byte",
                          "location": "query",
                          "description": "Optional. A token indicating the next paginated result to be returned.",
                          "type": "string"
                        },
                        "monthlyRange.startMonth.month": {
                          "location": "query",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "monthlyRange.endMonth.month": {
                          "location": "query",
                          "format": "int32",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "type": "integer"
                        },
                        "monthlyRange.startMonth.year": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                        },
                        "pageSize": {
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "monthlyRange.endMonth.year": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "getDailyMetricsTimeSeries": {
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "httpMethod": "GET",
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "parameters": {
            "dailyMetric": {
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS"
              ],
              "description": "Required. The metric to retrieve time series.",
              "location": "query",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings received from the business profile.",
                "The number of food orders received from the business profile."
              ],
              "type": "string"
            },
            "dailyRange.startDate.month": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "dailySubEntityType.dayOfWeek": {
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "description": "Represents the day of the week. Eg: MONDAY.",
              "location": "query",
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "type": "string"
            },
            "dailySubEntityType.timeOfDay.hours": {
              "type": "integer",
              "location": "query",
              "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "format": "int32"
            },
            "dailyRange.endDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "dailyRange.endDate.month": {
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "type": "integer",
              "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
              "format": "int32",
              "location": "query"
            },
            "dailyRange.endDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "dailyRange.startDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Minutes of hour of day. Must be from 0 to 59."
            },
            "name": {
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "dailyRange.startDate.day": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            }
          },
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries"
        }
      }
    }
  },
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20220804",
  "canonicalName": "Business Profile Performance",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google.",
  "basePath": "",
  "schemas": {
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "type": "object",
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "properties": {
        "nextPageToken": {
          "format": "byte",
          "type": "string",
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned."
        },
        "searchKeywordsCounts": {
          "type": "array",
          "items": {
            "$ref": "SearchKeywordCount"
          },
          "description": "Search terms which have been used to find a business."
        }
      },
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly."
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "properties": {
        "timeSeries": {
          "$ref": "TimeSeries",
          "description": "The daily time series."
        }
      },
      "id": "GetDailyMetricsTimeSeriesResponse",
      "description": "Represents the response for GetDailyMetricsTimeSeries.",
      "type": "object"
    },
    "SearchKeywordCount": {
      "id": "SearchKeywordCount",
      "properties": {
        "searchKeyword": {
          "type": "string",
          "description": "The lower-cased string that the user entered."
        },
        "insightsValue": {
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold.",
          "$ref": "InsightsValue"
        }
      },
      "description": "Represents a single search keyword and its value.",
      "type": "object"
    },
    "TimeSeries": {
      "description": "Represents a timeseries.",
      "type": "object",
      "properties": {
        "datedValues": {
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair.",
          "items": {
            "$ref": "DatedValue"
          },
          "type": "array"
        }
      },
      "id": "TimeSeries"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "DatedValue": {
      "type": "object",
      "id": "DatedValue",
      "properties": {
        "value": {
          "description": "The value of the datapoint.",
          "format": "int64",
          "type": "string"
        },
        "date": {
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set.",
          "$ref": "Date"
        }
      },
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair."
    },
    "InsightsValue": {
      "type": "object",
      "description": "Represents an insights value.",
      "id": "InsightsValue",
      "properties": {
        "threshold": {
          "description": "Represents the threshold below which the actual value falls.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "format": "int64",
          "description": "Represents the actual value.",
          "type": "string"
        }
      }
    }
  },
  "version_module": true,
  "id": "businessprofileperformance:v1",
  "ownerName": "Google",
  "ownerDomain": "google.com"
}
