{
  "title": "Chrome Management API",
  "version_module": true,
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "version": "v1",
  "id": "chromemanagement:v1",
  "servicePath": "",
  "batchPath": "batch",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "documentationLink": "http://developers.google.com/chrome/management/",
  "revision": "20220803",
  "name": "chromemanagement",
  "schemas": {
    "GoogleChromeManagementV1BatteryInfo": {
      "description": "Battery info",
      "id": "GoogleChromeManagementV1BatteryInfo",
      "properties": {
        "manufactureDate": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true
        },
        "designCapacity": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Design capacity (mAmpere-hours).",
          "format": "int64"
        },
        "technology": {
          "type": "string",
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true
        },
        "manufacturer": {
          "description": "Output only. Battery manufacturer.",
          "readOnly": true,
          "type": "string"
        },
        "designMinVoltage": {
          "readOnly": true,
          "description": "Output only. Designed minimum output voltage (mV)",
          "format": "int32",
          "type": "integer"
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Battery serial number.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1BatterySampleReport",
      "properties": {
        "remainingCapacity": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery remaining capacity (mAmpere-hours)."
        },
        "current": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Battery current (mA)."
        },
        "voltage": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Battery voltage (millivolt)."
        },
        "status": {
          "type": "string",
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "readOnly": true
        },
        "temperature": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Temperature in Celsius degrees.",
          "format": "int32"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "dischargeRate": {
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "chargeRate": {
          "format": "int32",
          "description": "Output only. Battery charge percentage.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Sampling data for battery."
    },
    "GoogleChromeManagementV1Device": {
      "description": "Describes a device reporting Chrome browser information.",
      "id": "GoogleChromeManagementV1Device",
      "properties": {
        "machine": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the machine within its local network."
        },
        "deviceId": {
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "properties": {
        "newPlatformVersion": {
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot.",
          "type": "string",
          "readOnly": true
        },
        "lastUpdateTime": {
          "description": "Output only. Timestamp of the last successful update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastRebootTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last reboot.",
          "type": "string",
          "readOnly": true
        },
        "newRequestedPlatformVersion": {
          "type": "string",
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "readOnly": true
        },
        "lastUpdateCheckTime": {
          "description": "Output only. Timestamp of the last update check.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateState": {
          "type": "string",
          "description": "Output only. Current state of the os update.",
          "readOnly": true,
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ]
        }
      },
      "type": "object",
      "description": "Contains information regarding the current OS update status."
    },
    "GoogleChromeManagementV1StorageInfo": {
      "properties": {
        "volume": {
          "description": "Information for disk volumes",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          }
        },
        "availableDiskBytes": {
          "format": "int64",
          "description": "The available space for user data storage in the device in bytes.",
          "type": "string"
        },
        "totalDiskBytes": {
          "format": "int64",
          "type": "string",
          "description": "The total space for user data storage in the device in bytes."
        }
      },
      "description": "Status data for storage.",
      "type": "object",
      "id": "GoogleChromeManagementV1StorageInfo"
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "description": "Response containing details of queried installed apps.",
      "properties": {
        "installedApps": {
          "description": "List of installed apps matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          }
        },
        "totalSize": {
          "type": "integer",
          "description": "Total number of installed apps matching request.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse"
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "description": "Contains samples of memory status reports.",
      "id": "GoogleChromeManagementV1MemoryStatusReport",
      "properties": {
        "systemRamFreeBytes": {
          "readOnly": true,
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection).",
          "type": "string",
          "format": "int64"
        },
        "sampleFrequency": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Frequency the report is sampled."
        },
        "pageFaults": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of page faults during this collection",
          "format": "int32"
        },
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "properties": {
        "hostMatch": {
          "readOnly": true,
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "type": "string"
        }
      },
      "description": "Represent one host permission.",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "properties": {
        "documentationUri": {
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "readOnly": true,
          "type": "string"
        },
        "accessUserData": {
          "type": "boolean",
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the permission."
        }
      },
      "description": "Permission requested by a Chrome app or extension."
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "properties": {
        "latency": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "format": "google-duration"
        },
        "problem": {
          "type": "string",
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData"
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "properties": {
        "imei": {
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "type": "string",
          "readOnly": true
        },
        "mdn": {
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "readOnly": true,
          "type": "string"
        },
        "macAddress": {
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "readOnly": true,
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ],
          "type": "string",
          "description": "Output only. Network device type."
        },
        "meid": {
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "type": "string",
          "readOnly": true
        },
        "iccid": {
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Network device.",
      "id": "GoogleChromeManagementV1NetworkDevice"
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "properties": {
        "aueYear": {
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string",
          "format": "int64"
        },
        "count": {
          "description": "Count of devices of this model.",
          "format": "int64",
          "type": "string"
        },
        "aueMonth": {
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ],
          "type": "string",
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ],
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty."
        },
        "model": {
          "type": "string",
          "description": "Public model name of the devices."
        },
        "expired": {
          "type": "boolean",
          "description": "Boolean value for whether or not the device has already expired."
        }
      },
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range.",
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceAueCountReport"
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "properties": {
        "channel": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ],
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "description": "Output only. The release channel of the installed browser."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full version of the installed browser."
        },
        "deviceOsVersion": {
          "description": "Output only. Version of the system-specified operating system.",
          "type": "string",
          "readOnly": true
        },
        "system": {
          "description": "Output only. The device operating system.",
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "type": "string"
        },
        "count": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Count grouped by device_system and major version",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1BrowserVersion",
      "description": "Describes a browser version and its install count."
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Permissions requested by an Android app."
        }
      },
      "description": "Android app information.",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "properties": {
        "storageTotalBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total storage space in bytes."
        },
        "volumeId": {
          "type": "string",
          "description": "Disk volume id."
        },
        "storageFreeBytes": {
          "format": "int64",
          "description": "Free storage space in bytes.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "description": "Information for disk volumes",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius",
      "properties": {
        "label": {
          "type": "string",
          "description": "Output only. CPU label. Example: Core 0",
          "readOnly": true
        },
        "temperatureCelsius": {
          "readOnly": true,
          "description": "Output only. CPU temperature in Celsius.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "type": "object",
      "properties": {
        "displays": {
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "description": "Output only. Information about the displays for the device.",
          "readOnly": true,
          "type": "array"
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the graphics data was reported."
        }
      },
      "description": "Information of the graphics subsystem.",
      "id": "GoogleChromeManagementV1GraphicsStatusReport"
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "properties": {
        "encryptionState": {
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "description": "The state of memory encryption on the device.",
          "type": "string",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ]
        },
        "encryptionAlgorithm": {
          "description": "Memory encryption algorithm.",
          "type": "string",
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ]
        },
        "keyLength": {
          "format": "int64",
          "type": "string",
          "description": "The length of the encryption keys."
        },
        "maxKeys": {
          "description": "The maximum number of keys that can be used for encryption.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Memory encryption information of a device.",
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo"
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "type": "object",
      "description": "Response containing a list of devices with queried app installed.",
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "properties": {
        "totalSize": {
          "description": "Total number of devices matching request.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "devices": {
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "properties": {
        "pendingUpdate": {
          "description": "Number of devices that are pending an OS update.",
          "format": "int64",
          "type": "string"
        },
        "unsupportedPolicyCount": {
          "format": "int64",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "type": "string"
        },
        "noRecentUserActivityCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
        },
        "noRecentPolicySyncCount": {
          "type": "string",
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "format": "int64"
        },
        "osVersionNotCompliantCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices whose OS version is not compliant."
        }
      },
      "description": "Response containing counts for devices that need attention.",
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "description": "State of visible/configured networks.",
      "properties": {
        "connectionState": {
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "description": "Output only. Current connection state of the network."
        },
        "connectionType": {
          "description": "Output only. Network connection type.",
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ]
        },
        "sampleFrequency": {
          "readOnly": true,
          "description": "Output only. Frequency the report is sampled.",
          "format": "google-duration",
          "type": "string"
        },
        "transmissionPowerDbm": {
          "description": "Output only. Transmission power measured in decibels.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "signalStrengthDbm": {
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "gatewayIpAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Gateway IP address."
        },
        "receivingBitRateMbps": {
          "readOnly": true,
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "type": "string",
          "format": "int64"
        },
        "wifiPowerManagementEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Wifi power management enabled"
        },
        "wifiLinkQuality": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal."
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the network state was reported.",
          "readOnly": true
        },
        "encryptionOn": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the wifi encryption key is turned off."
        },
        "lanIpAddress": {
          "description": "Output only. LAN IP address.",
          "type": "string",
          "readOnly": true
        },
        "transmissionBitRateMbps": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "format": "int64"
        },
        "guid": {
          "description": "Output only. Network connection guid.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkStatusReport"
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "type": "object",
      "properties": {
        "cpuUtilizationPct": {
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "sampleFrequency": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Frequency the report is sampled."
        },
        "cpuTemperatureInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. CPU temperature sample info per CPU core in Celsius"
        }
      },
      "description": "Contains samples of the cpu status reports."
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "properties": {
        "outputDevice": {
          "description": "Output only. Active output device's name.",
          "type": "string",
          "readOnly": true
        },
        "outputMute": {
          "readOnly": true,
          "description": "Output only. Is active output device mute or not.",
          "type": "boolean"
        },
        "inputDevice": {
          "type": "string",
          "description": "Output only. Active input device's name.",
          "readOnly": true
        },
        "inputGain": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Active input device's gain in [0, 100].",
          "format": "int32"
        },
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the sample was collected on device."
        },
        "outputVolume": {
          "type": "integer",
          "description": "Output only. Active output device's volume in [0, 100].",
          "format": "int32",
          "readOnly": true
        },
        "inputMute": {
          "type": "boolean",
          "description": "Output only. Is active input device mute or not.",
          "readOnly": true
        }
      },
      "description": "Audio report.",
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "description": "Status data for battery.",
      "type": "object",
      "properties": {
        "cycleCount": {
          "readOnly": true,
          "description": "Output only. Cycle count.",
          "format": "int32",
          "type": "integer"
        },
        "batteryHealth": {
          "description": "Output only. Battery health.",
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy.",
            "Battery is moderately unhealthy and should be replaced soon.",
            "Battery is unhealthy and should be replaced."
          ],
          "type": "string",
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "readOnly": true
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serialNumber": {
          "type": "string",
          "description": "Output only. Battery serial number.",
          "readOnly": true
        },
        "fullChargeCapacity": {
          "format": "int64",
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string"
        },
        "sample": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          }
        }
      },
      "id": "GoogleChromeManagementV1BatteryStatusReport"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "type": "object",
      "description": "Details of an app installation request.",
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "properties": {
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "readOnly": true,
          "type": "string"
        },
        "requestCount": {
          "description": "Output only. Total count of requests for this app.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "appDetails": {
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "readOnly": true,
          "type": "string"
        },
        "latestRequestTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "type": "string",
          "readOnly": true
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "description": "Chrome Web Store app information.",
      "properties": {
        "isCwsHosted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store."
        },
        "siteAccess": {
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "readOnly": true,
          "type": "array"
        },
        "permissions": {
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          }
        },
        "isKioskOnly": {
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "type": "boolean",
          "readOnly": true
        },
        "supportEnabled": {
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "isTheme": {
          "readOnly": true,
          "description": "Output only. Whether the app or extension is a theme.",
          "type": "boolean"
        },
        "minUserCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The minimum number of users using this app."
        },
        "googleOwned": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found."
        },
        "kioskEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices"
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "properties": {
        "securityLevel": {
          "type": "string",
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ],
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "description": "Security level of the Thunderbolt bus."
        }
      },
      "description": "Thunderbolt bus info.",
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the diagnostics were collected."
        },
        "httpsLatencyData": {
          "readOnly": true,
          "description": "Output only. HTTPS latency test data.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        }
      },
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal.",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "properties": {
        "driverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GPU driver.",
          "type": "string"
        },
        "adapter": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2)."
        },
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Represents the graphics card device id."
        }
      },
      "description": "Information of a graphics adapter (GPU)."
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the permission.",
          "type": "string"
        }
      },
      "description": "Permission requested by an Android app.",
      "id": "GoogleChromeManagementV1AndroidAppPermission"
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "type": "object",
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "properties": {
        "deviceAueCountReports": {
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1CpuInfo": {
      "id": "GoogleChromeManagementV1CpuInfo",
      "type": "object",
      "description": "CPU specs for a CPU.",
      "properties": {
        "maxClockSpeed": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The max CPU clock speed in kHz."
        },
        "keylockerSupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether keylocker is supported."
        },
        "keylockerConfigured": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`."
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "type": "string",
          "description": "Output only. The CPU architecture."
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "requestedApps": {
          "description": "Count of requested apps matching request.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          },
          "type": "array"
        },
        "totalSize": {
          "description": "Total number of matching app requests.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Response containing summary of requested app installations.",
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          },
          "description": "Telemetry devices returned in the response."
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "type": "object",
      "description": "Information for a display.",
      "id": "GoogleChromeManagementV1DisplayInfo",
      "properties": {
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the graphics card device id.",
          "format": "int64"
        },
        "isInternal": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if display is internal or not."
        },
        "resolutionHeight": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Resolution height in pixels."
        },
        "refreshRate": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Refresh rate in Hz.",
          "format": "int32"
        },
        "resolutionWidth": {
          "type": "integer",
          "description": "Output only. Resolution width in pixels.",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "id": "GoogleChromeManagementV1NetworkInfo",
      "description": "Network devices info.",
      "properties": {
        "networkDevices": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "description": "Output only. List of network devices."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "description": "Status data for storage.",
      "type": "object",
      "properties": {
        "disk": {
          "description": "Output only. Reports on disk.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "readOnly": true
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device"
        }
      },
      "id": "GoogleChromeManagementV1StorageStatusReport"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "description": "Telemetry data collected from a managed device.",
      "properties": {
        "batteryInfo": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information on battery specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          }
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the device.",
          "type": "string",
          "readOnly": true
        },
        "cpuInfo": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "description": "Output only. Information regarding CPU specs for the device."
        },
        "networkInfo": {
          "$ref": "GoogleChromeManagementV1NetworkInfo",
          "readOnly": true,
          "description": "Output only. Network devices information."
        },
        "memoryInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "description": "Output only. Information regarding memory specs for the device."
        },
        "deviceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab"
        },
        "cpuStatusReport": {
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "type": "array",
          "readOnly": true
        },
        "customer": {
          "readOnly": true,
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "type": "string"
        },
        "networkStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Network specs collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          }
        },
        "batteryStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "description": "Output only. Battery reports collected periodically.",
          "type": "array",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "type": "string",
          "readOnly": true
        },
        "graphicsInfo": {
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "$ref": "GoogleChromeManagementV1GraphicsInfo",
          "readOnly": true
        },
        "storageInfo": {
          "description": "Output only. Information of storage specs for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1StorageInfo"
        },
        "thunderboltInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "description": "Output only. Information on Thunderbolt bus."
        },
        "name": {
          "description": "Output only. Resource name of the device.",
          "readOnly": true,
          "type": "string"
        },
        "osUpdateStatus": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "description": "Output only. Contains relevant information regarding ChromeOS update status."
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "type": "array",
          "readOnly": true
        },
        "networkDiagnosticsReport": {
          "description": "Output only. Network diagnostics collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "type": "array",
          "readOnly": true
        },
        "memoryStatusReport": {
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "graphicsStatusReport": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "description": "Output only. Graphics reports collected periodically."
        },
        "storageStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Storage reports collected periodically."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "type": "object",
      "properties": {
        "discardTimeThisSession": {
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        },
        "volumeIds": {
          "description": "Output only. Disk volumes.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "readTimeThisSession": {
          "description": "Output only. Time spent reading from disk since last boot.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Disk serial number.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk manufacturer."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI."
        },
        "bytesWrittenThisSession": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of bytes written since last boot.",
          "readOnly": true
        },
        "bytesReadThisSession": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of bytes read since last boot.",
          "format": "int64"
        },
        "ioTimeThisSession": {
          "readOnly": true,
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.",
          "type": "string",
          "format": "google-duration"
        },
        "health": {
          "description": "Output only. Disk health.",
          "type": "string",
          "readOnly": true
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. Disk size.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "readOnly": true,
          "description": "Output only. Disk model.",
          "type": "string"
        },
        "writeTimeThisSession": {
          "description": "Output only. Time spent writing to disk since last boot.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1DiskInfo",
      "description": "Status of the single storage device."
    },
    "GoogleChromeManagementV1AppDetails": {
      "type": "object",
      "id": "GoogleChromeManagementV1AppDetails",
      "description": "Resource representing app details.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}"
        },
        "appId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app."
        },
        "reviewNumber": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "type": "string"
        },
        "serviceError": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true,
          "description": "Output only. Information about a partial service error if applicable."
        },
        "publisher": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The publisher of the item."
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        },
        "isPaidApp": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the app has to be paid for OR has paid content."
        },
        "androidAppInfo": {
          "description": "Output only. Android app information.",
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. App type.",
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ]
        },
        "firstPublishTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. First published time."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. App's description."
        },
        "iconUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A link to an image that can be used as an icon for the product."
        },
        "latestPublishTime": {
          "type": "string",
          "description": "Output only. Latest published time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reviewRating": {
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "chromeAppInfo": {
          "readOnly": true,
          "description": "Output only. Chrome Web Store app information.",
          "$ref": "GoogleChromeManagementV1ChromeAppInfo"
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "type": "string",
          "readOnly": true
        },
        "homepageUri": {
          "description": "Output only. Home page or Website uri.",
          "type": "string",
          "readOnly": true
        },
        "detailUri": {
          "type": "string",
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "properties": {
        "totalSize": {
          "description": "Total number browser versions matching request.",
          "type": "integer",
          "format": "int32"
        },
        "browserVersions": {
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          },
          "type": "array",
          "description": "List of all browser versions and their install counts."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        }
      },
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "description": "Response containing requested browser versions details and counts.",
      "type": "object"
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1MemoryInfo",
      "description": "Memory information of a device.",
      "properties": {
        "availableRamBytes": {
          "type": "string",
          "description": "Output only. Amount of available RAM in bytes.",
          "format": "int64",
          "readOnly": true
        },
        "totalMemoryEncryption": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "description": "Output only. Total memory encryption info for the device."
        },
        "totalRamBytes": {
          "description": "Output only. Total RAM in bytes.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "properties": {
        "adapterInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "readOnly": true,
          "description": "Output only. Information about the graphics adapter (GPU)."
        }
      },
      "description": "Information of the graphics subsystem.",
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsInfo"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "properties": {
        "appType": {
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the app.",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ]
        },
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "osUserCount": {
          "format": "int64",
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "type": "string",
          "readOnly": true
        },
        "appInstallType": {
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "description": "Output only. How the app was installed.",
          "readOnly": true,
          "type": "string"
        },
        "appId": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the installed app."
        },
        "browserDeviceCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Count of browser devices with this app installed."
        },
        "appSource": {
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "description": "Output only. Source of the installed app."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the installed app.",
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "description": "Output only. Permissions of the installed app.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "homepageUri": {
          "type": "string",
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "description": "Describes an installed app.",
      "type": "object"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from Chrome OS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        }
      }
    }
  },
  "ownerName": "Google",
  "canonicalName": "Chrome Management",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "resources": {
    "customers": {
      "resources": {
        "apps": {
          "resources": {
            "android": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "id": "chromemanagement.customers.apps.android.get",
                  "description": "Get a specific app for a customer by its resource name."
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$"
                    }
                  },
                  "description": "Get a specific app for a customer by its resource name.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "id": "chromemanagement.customers.apps.web.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ]
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "path": "v1/{+name}"
                }
              }
            }
          },
          "methods": {
            "countChromeAppRequests": {
              "httpMethod": "GET",
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "description": "Generate summary of app installation requests.",
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "countChromeVersions": {
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                }
              },
              "description": "Generate report of installed Chrome versions.",
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "path": "v1/{+customer}/reports:countChromeVersions",
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countChromeDevicesThatNeedAttention": {
              "httpMethod": "GET",
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned."
                },
                "customer": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "readMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "format": "google-fieldmask"
                }
              }
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$"
                },
                "minAueDate": {
                  "location": "query",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "type": "string"
                },
                "maxAueDate": {
                  "type": "string",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "location": "query"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947)."
            },
            "findInstalledAppDevices": {
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "appType": {
                  "type": "string",
                  "description": "Type of the app.",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "location": "query"
                },
                "appId": {
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit."
                }
              },
              "description": "Generate report of devices that have a specified app installed."
            },
            "countInstalledApps": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "description": "Generate report of app installations.",
              "path": "v1/{+customer}/reports:countInstalledApps"
            }
          }
        },
        "telemetry": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "description": "List all telemetry devices.",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token to specify next page in the list."
                    },
                    "pageSize": {
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Only include resources that match the filter. Supported filter fields: - org_unit_id - serial_number - device_id ",
                      "location": "query"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/telemetry/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Get telemetry device.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the `TelemetryDevice` to return."
                    }
                  },
                  "id": "chromemanagement.customers.telemetry.devices.get"
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "protocol": "rest",
  "basePath": ""
}
