{
  "canonicalName": "Container",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "name": "container",
  "documentationLink": "https://cloud.google.com/container-engine/",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "baseUrl": "https://container.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "container:v1beta1",
  "title": "Kubernetes Engine API",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "discoveryVersion": "v1",
  "version_module": true,
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "rootUrl": "https://container.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "BigQueryDestination": {
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The ID of a BigQuery Dataset."
        }
      },
      "id": "BigQueryDestination",
      "description": "Parameters for using BigQuery as the destination of resource usage export."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status"
    },
    "WorkloadConfig": {
      "type": "object",
      "description": "WorkloadConfig defines the flags to enable or disable the workload configurations for the cluster.",
      "id": "WorkloadConfig",
      "properties": {
        "auditMode": {
          "enumDescriptions": [
            "Default value meaning that no mode has been specified.",
            "This disables Workload Configuration auditing on the cluster, meaning that nothing is surfaced.",
            "Applies the default set of policy auditing to a cluster's workloads.",
            "Surfaces configurations that are not in line with the Pod Security Standard Baseline policy.",
            "Surfaces configurations that are not in line with the Pod Security Standard Restricted policy."
          ],
          "type": "string",
          "description": "Sets which mode of auditing should be used for the cluster's workloads.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "BASIC",
            "BASELINE",
            "RESTRICTED"
          ]
        }
      }
    },
    "NodeLabels": {
      "id": "NodeLabels",
      "description": "Collection of node-level [Kubernetes labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels).",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Map of node label keys and node label values.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ReservationAffinity": {
      "type": "object",
      "id": "ReservationAffinity",
      "description": "[ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) is the configuration of desired reservation which instances could take capacity from.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Corresponds to the label value(s) of reservation resource(s).",
          "items": {
            "type": "string"
          }
        },
        "consumeReservationType": {
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "type": "string",
          "description": "Corresponds to the type of reservation consumption."
        },
        "key": {
          "type": "string",
          "description": "Corresponds to the label key of a reservation resource. To target a SPECIFIC_RESERVATION by name, specify \"googleapis.com/reservation-name\" as the key and specify the name of your reservation as its value."
        }
      }
    },
    "KalmConfig": {
      "id": "KalmConfig",
      "description": "Configuration options for the KALM addon.",
      "properties": {
        "enabled": {
          "description": "Whether KALM is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PrivateClusterConfig": {
      "id": "PrivateClusterConfig",
      "description": "Configuration options for private clusters.",
      "type": "object",
      "properties": {
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP range in CIDR notation to use for the hosted master network. This range will be used for assigning internal IP addresses to the master or set of masters, as well as the ILB VIP. This range must not overlap with any other ranges in use within the cluster's network."
        },
        "publicEndpoint": {
          "type": "string",
          "description": "Output only. The external IP address of this cluster's master endpoint."
        },
        "masterGlobalAccessConfig": {
          "$ref": "PrivateClusterMasterGlobalAccessConfig",
          "description": "Controls master global access settings."
        },
        "enablePrivateEndpoint": {
          "description": "Whether the master's internal IP address is used as the cluster endpoint.",
          "type": "boolean"
        },
        "peeringName": {
          "type": "string",
          "description": "Output only. The peering name in the customer VPC used by this cluster."
        },
        "privateEndpoint": {
          "type": "string",
          "description": "Output only. The internal IP address of this cluster's master endpoint."
        },
        "enablePrivateNodes": {
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are given only RFC 1918 private addresses and communicate with the master via private networking.",
          "type": "boolean"
        }
      }
    },
    "UpdateMasterRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "masterVersion": {
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "id": "UpdateMasterRequest",
      "type": "object",
      "description": "UpdateMasterRequest updates the master of the cluster."
    },
    "CostManagementConfig": {
      "id": "CostManagementConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the feature is enabled or not."
        }
      },
      "type": "object",
      "description": "Configuration for fine-grained cost management feature."
    },
    "LegacyAbac": {
      "id": "LegacyAbac",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled, identities in the system, including service accounts, nodes, and controllers, will have statically granted permissions beyond those provided by the RBAC configuration or IAM."
        }
      },
      "type": "object",
      "description": "Configuration for the legacy Attribute Based Access Control authorization mode."
    },
    "Operation": {
      "id": "Operation",
      "description": "This operation resource represents operations that may have happened or are happening on the cluster. All fields are output only.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The current status of the operation.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ],
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ]
        },
        "operationType": {
          "enumDescriptions": [
            "Not set.",
            "Cluster create.",
            "Cluster delete.",
            "A master upgrade.",
            "A node upgrade.",
            "Cluster repair.",
            "Cluster update.",
            "Node pool create.",
            "Node pool delete.",
            "Set node pool management.",
            "Automatic node pool repair.",
            "Automatic node upgrade.",
            "Set labels.",
            "Set/generate master auth materials",
            "Set node pool size.",
            "Updates network policy for a cluster.",
            "Set the maintenance policy."
          ],
          "type": "string",
          "description": "The operation type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE_CLUSTER",
            "DELETE_CLUSTER",
            "UPGRADE_MASTER",
            "UPGRADE_NODES",
            "REPAIR_CLUSTER",
            "UPDATE_CLUSTER",
            "CREATE_NODE_POOL",
            "DELETE_NODE_POOL",
            "SET_NODE_POOL_MANAGEMENT",
            "AUTO_REPAIR_NODES",
            "AUTO_UPGRADE_NODES",
            "SET_LABELS",
            "SET_MASTER_AUTH",
            "SET_NODE_POOL_SIZE",
            "SET_NETWORK_POLICY",
            "SET_MAINTENANCE_POLICY"
          ]
        },
        "statusMessage": {
          "description": "Output only. If an error has occurred, a textual description of the error. Deprecated. Use field error instead.",
          "type": "string",
          "readOnly": true
        },
        "detail": {
          "description": "Detailed operation progress, if available.",
          "type": "string"
        },
        "nodepoolConditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array",
          "description": "Which conditions caused the current node pool state. Deprecated. Use field error instead."
        },
        "progress": {
          "$ref": "OperationProgress",
          "readOnly": true,
          "description": "Output only. [Output only] Progress information for an operation."
        },
        "endTime": {
          "type": "string",
          "description": "[Output only] The time the operation completed, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure."
        },
        "zone": {
          "type": "string",
          "description": "The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation is taking place. This field is deprecated, use location instead."
        },
        "selfLink": {
          "type": "string",
          "description": "Server-defined URL for the resource."
        },
        "targetLink": {
          "type": "string",
          "description": "Server-defined URL for the target of the operation."
        },
        "clusterConditions": {
          "description": "Which conditions caused the current cluster state. Deprecated. Use field error instead.",
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned ID for the operation."
        },
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "startTime": {
          "description": "[Output only] The time the operation started, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        }
      }
    },
    "SetNodePoolSizeRequest": {
      "id": "SetNodePoolSizeRequest",
      "description": "SetNodePoolSizeRequest sets the size of a node pool.",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The desired node count for the pool."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        }
      }
    },
    "ReleaseChannel": {
      "id": "ReleaseChannel",
      "type": "object",
      "properties": {
        "channel": {
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "description": "channel specifies which release channel the cluster is subscribed to.",
          "type": "string"
        }
      },
      "description": "ReleaseChannel indicates which release channel a cluster is subscribed to. Release channels are arranged in order of risk. When a cluster is subscribed to a release channel, Google maintains both the master version and the node version. Node auto-upgrade defaults to true and cannot be disabled."
    },
    "NodePool": {
      "type": "object",
      "id": "NodePool",
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload. These upgrade settings control the level of parallelism and the level of disruption caused by an upgrade. maxUnavailable controls the number of nodes that can be simultaneously unavailable. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). Note: upgrades inevitably introduce some disruption since workloads need to be moved from old nodes to new, upgraded ones. Even if maxUnavailable=0, this holds true. (Disruption stays within the limits of PodDisruptionBudget, if it is configured.) Consider a hypothetical node pool with 5 nodes having maxSurge=2, maxUnavailable=1. This means the upgrade process upgrades 3 nodes simultaneously. It creates 2 additional (upgraded) nodes, then it brings down 3 old (not yet upgraded) nodes at the same time. This ensures that there are always at least 4 nodes available.",
      "properties": {
        "statusMessage": {
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the node pool."
        },
        "config": {
          "$ref": "NodeConfig",
          "description": "The node configuration of the pool."
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "updateInfo": {
          "description": "Output only. [Output only] Update info contains relevant information during a node pool update.",
          "readOnly": true,
          "$ref": "UpdateInfo"
        },
        "status": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "description": "[Output only] The status of the nodes in this pool instance."
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for this NodePool."
        },
        "placementPolicy": {
          "$ref": "PlacementPolicy",
          "description": "Specifies the node placement policy."
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "networkConfig": {
          "description": "Networking configuration for this NodePool. If specified, it overrides the cluster-level defaults.",
          "$ref": "NodeNetworkConfig"
        },
        "instanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Output only] The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool. During the node pool blue-green upgrade operation, the URLs contain both blue and green resources."
        },
        "podIpv4CidrSize": {
          "type": "integer",
          "format": "int32",
          "description": "[Output only] The pod CIDR block size per node in this node pool."
        },
        "version": {
          "description": "The version of the Kubernetes of this node.",
          "type": "string"
        },
        "conditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "description": "Which conditions caused the current node pool state.",
          "type": "array"
        },
        "initialNodeCount": {
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
          "type": "integer",
          "format": "int32"
        },
        "autoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present."
        },
        "maxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool."
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and/or removed."
        }
      }
    },
    "Master": {
      "type": "object",
      "properties": {},
      "id": "Master",
      "description": "Master is the configuration for components on master."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "ListLocationsResponse returns the list of all GKE locations and their recommendation state.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Only return ListLocationsResponse that occur after the page_token. This value should be populated from the ListLocationsResponse.next_page_token if that response token was set (which happens when listing more Locations than fit in a single ListLocationsResponse)."
        },
        "locations": {
          "type": "array",
          "description": "A full list of GKE locations.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ConfigConnectorConfig": {
      "description": "Configuration options for the Config Connector add-on.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Cloud Connector is enabled for this cluster."
        }
      },
      "type": "object",
      "id": "ConfigConnectorConfig"
    },
    "UsableSubnetworkSecondaryRange": {
      "description": "Secondary IP range of a usable subnetwork.",
      "properties": {
        "ipCidrRange": {
          "type": "string",
          "description": "The range of IP addresses belonging to this subnetwork secondary range."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN is the zero value of the Status enum. It's not a valid status.",
            "UNUSED denotes that this range is unclaimed by any cluster.",
            "IN_USE_SERVICE denotes that this range is claimed by a cluster for services. It cannot be used for other clusters.",
            "IN_USE_SHAREABLE_POD denotes this range was created by the network admin and is currently claimed by a cluster for pods. It can only be used by other clusters as a pod range.",
            "IN_USE_MANAGED_POD denotes this range was created by GKE and is claimed for pods. It cannot be used for other clusters."
          ],
          "description": "This field is to determine the status of the secondary range programmably.",
          "enum": [
            "UNKNOWN",
            "UNUSED",
            "IN_USE_SERVICE",
            "IN_USE_SHAREABLE_POD",
            "IN_USE_MANAGED_POD"
          ]
        },
        "rangeName": {
          "type": "string",
          "description": "The name associated with this subnetwork secondary range, used when adding an alias IP range to a VM instance."
        }
      },
      "type": "object",
      "id": "UsableSubnetworkSecondaryRange"
    },
    "NetworkConfig": {
      "type": "object",
      "id": "NetworkConfig",
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "properties": {
        "enableIntraNodeVisibility": {
          "type": "boolean",
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network."
        },
        "enableL4ilbSubsetting": {
          "description": "Whether L4ILB Subsetting is enabled for this cluster.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        },
        "dnsConfig": {
          "$ref": "DNSConfig",
          "description": "DNSConfig contains clusterDNS config for this cluster."
        },
        "network": {
          "description": "Output only. The relative name of the Google Compute Engine network(https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "privateIpv6GoogleAccess": {
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)",
          "type": "string",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ]
        },
        "serviceExternalIpsConfig": {
          "$ref": "ServiceExternalIPsConfig",
          "description": "ServiceExternalIPsConfig specifies if services with externalIPs field are blocked or not."
        },
        "datapathProvider": {
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ]
        },
        "defaultSnatStatus": {
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic.",
          "$ref": "DefaultSnatStatus"
        }
      }
    },
    "AvailableVersion": {
      "id": "AvailableVersion",
      "description": "Deprecated.",
      "properties": {
        "reason": {
          "description": "Reason for availability.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Kubernetes version."
        }
      },
      "type": "object"
    },
    "SetMonitoringServiceRequest": {
      "id": "SetMonitoringServiceRequest",
      "type": "object",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "properties": {
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "monitoringService": {
          "type": "string",
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      }
    },
    "ClusterAutoscaling": {
      "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create/delete node pools based on the current needs.",
      "type": "object",
      "id": "ClusterAutoscaling",
      "properties": {
        "autoprovisioningNodePoolDefaults": {
          "$ref": "AutoprovisioningNodePoolDefaults",
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP."
        },
        "resourceLimits": {
          "items": {
            "$ref": "ResourceLimit"
          },
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster.",
          "type": "array"
        },
        "autoprovisioningLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes can be created by NAP."
        },
        "enableNodeAutoprovisioning": {
          "type": "boolean",
          "description": "Enables automatic node pool creation and deletion."
        },
        "autoscalingProfile": {
          "type": "string",
          "description": "Defines autoscaling behaviour.",
          "enum": [
            "PROFILE_UNSPECIFIED",
            "OPTIMIZE_UTILIZATION",
            "BALANCED"
          ],
          "enumDescriptions": [
            "No change to autoscaling configuration.",
            "Prioritize optimizing utilization of resources.",
            "Use default (balanced) autoscaling configuration."
          ]
        }
      }
    },
    "SetLocationsRequest": {
      "id": "SetLocationsRequest",
      "type": "object",
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "properties": {
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone."
        }
      }
    },
    "ConsumptionMeteringConfig": {
      "properties": {
        "enabled": {
          "description": "Whether to enable consumption metering for this cluster. If enabled, a second BigQuery table will be created to hold resource consumption records.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ConsumptionMeteringConfig",
      "description": "Parameters for controlling consumption metering."
    },
    "AcceleratorConfig": {
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "id": "AcceleratorConfig",
      "properties": {
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA [mig user guide](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
          "type": "string"
        },
        "maxTimeSharedClientsPerGpu": {
          "format": "int64",
          "type": "string",
          "description": "The number of time-shared GPU resources to expose for each physical GPU."
        },
        "gpuSharingConfig": {
          "$ref": "GPUSharingConfig",
          "description": "The configuration for GPU sharing options."
        },
        "acceleratorType": {
          "type": "string",
          "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)"
        },
        "acceleratorCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of the accelerator cards exposed to an instance."
        }
      },
      "type": "object"
    },
    "ResourceUsageExportConfig": {
      "properties": {
        "bigqueryDestination": {
          "$ref": "BigQueryDestination",
          "description": "Configuration to use BigQuery as usage export destination."
        },
        "enableNetworkEgressMetering": {
          "description": "Whether to enable network egress metering for this cluster. If enabled, a daemonset will be created in the cluster to meter network egress traffic.",
          "type": "boolean"
        },
        "consumptionMeteringConfig": {
          "description": "Configuration to enable resource consumption metering.",
          "$ref": "ConsumptionMeteringConfig"
        }
      },
      "description": "Configuration for exporting cluster resource usages.",
      "id": "ResourceUsageExportConfig",
      "type": "object"
    },
    "NodePoolDefaults": {
      "id": "NodePoolDefaults",
      "type": "object",
      "description": "Subset of Nodepool message that has defaults.",
      "properties": {
        "nodeConfigDefaults": {
          "description": "Subset of NodeConfig message that has defaults.",
          "$ref": "NodeConfigDefaults"
        }
      }
    },
    "MaxPodsConstraint": {
      "properties": {
        "maxPodsPerNode": {
          "type": "string",
          "description": "Constraint enforced on the max num of pods per node.",
          "format": "int64"
        }
      },
      "description": "Constraints applied to pods.",
      "id": "MaxPodsConstraint",
      "type": "object"
    },
    "DnsCacheConfig": {
      "id": "DnsCacheConfig",
      "description": "Configuration for NodeLocal DNSCache",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether NodeLocal DNSCache is enabled for this cluster."
        }
      }
    },
    "SetNodePoolManagementRequest": {
      "description": "SetNodePoolManagementRequest sets the node management properties of a node pool.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "Required. NodeManagement configuration for the node pool."
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetNodePoolManagementRequest",
      "type": "object"
    },
    "RollbackNodePoolUpgradeRequest": {
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed.",
      "id": "RollbackNodePoolUpgradeRequest",
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field."
        },
        "respectPdb": {
          "description": "Option for rollback to ignore the PodDisruptionBudget. Default value is false.",
          "type": "boolean"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "UpgradeEvent": {
      "id": "UpgradeEvent",
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading.",
      "properties": {
        "currentVersion": {
          "type": "string",
          "description": "The current version before the upgrade."
        },
        "targetVersion": {
          "type": "string",
          "description": "The target version for the upgrade."
        },
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool."
        },
        "operation": {
          "description": "The operation associated with this upgrade.",
          "type": "string"
        },
        "operationStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the operation was started."
        },
        "resourceType": {
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "description": "The resource type that is upgrading.",
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ]
        }
      },
      "type": "object"
    },
    "PubSub": {
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "Allows filtering to one or more specific event types. If no filter is specified, or if a filter is specified with no event types, all event types will be sent"
        },
        "topic": {
          "type": "string",
          "description": "The desired Pub/Sub topic to which notifications will be sent by GKE. Format is `projects/{project}/topics/{topic}`."
        },
        "enabled": {
          "type": "boolean",
          "description": "Enable notifications for Pub/Sub."
        }
      },
      "id": "PubSub",
      "type": "object",
      "description": "Pub/Sub specific notification config."
    },
    "StandardRolloutPolicy": {
      "description": "Standard rollout policy is the default policy for blue-green.",
      "properties": {
        "batchPercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of the bool pool nodes to drain in a batch. The range of this field should be (0.0, 1.0]."
        },
        "batchNodeCount": {
          "format": "int32",
          "description": "Number of blue nodes to drain in a batch.",
          "type": "integer"
        },
        "batchSoakDuration": {
          "format": "google-duration",
          "description": "Soak time after each batch gets drained. Default to zero.",
          "type": "string"
        }
      },
      "id": "StandardRolloutPolicy",
      "type": "object"
    },
    "UpdateClusterRequest": {
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "update": {
          "description": "Required. A description of the update.",
          "$ref": "ClusterUpdate"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "id": "UpdateClusterRequest",
      "type": "object"
    },
    "BlueGreenInfo": {
      "properties": {
        "bluePoolDeletionStartTime": {
          "type": "string",
          "description": "Time to start deleting blue pool to complete blue-green upgrade, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "blueInstanceGroupUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with blue pool."
        },
        "greenPoolVersion": {
          "description": "Version of green pool.",
          "type": "string"
        },
        "greenInstanceGroupUrls": {
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with green pool.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "phase": {
          "description": "Current blue-green upgrade phase.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified phase.",
            "blue-green upgrade has been initiated.",
            "Start creating green pool nodes.",
            "Start cordoning blue pool nodes.",
            "Start draining blue pool nodes.",
            "Start soaking time after draining entire blue pool.",
            "Start deleting blue nodes.",
            "Rollback has been initiated."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "UPDATE_STARTED",
            "CREATING_GREEN_POOL",
            "CORDONING_BLUE_POOL",
            "DRAINING_BLUE_POOL",
            "NODE_POOL_SOAKING",
            "DELETING_BLUE_POOL",
            "ROLLBACK_STARTED"
          ]
        }
      },
      "type": "object",
      "id": "BlueGreenInfo",
      "description": "Information relevant to blue-green upgrade."
    },
    "UsableSubnetwork": {
      "id": "UsableSubnetwork",
      "type": "object",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork Name. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        },
        "statusMessage": {
          "description": "A human readable status message representing the reasons for cases where the caller cannot use the secondary ranges under the subnet. For example if the secondary_ip_ranges is empty due to a permission issue, an insufficient permission message will be given by status_message.",
          "type": "string"
        },
        "ipCidrRange": {
          "description": "The range of internal addresses that are owned by this subnetwork.",
          "type": "string"
        },
        "secondaryIpRanges": {
          "description": "Secondary IP ranges.",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          },
          "type": "array"
        },
        "network": {
          "type": "string",
          "description": "Network Name. Example: projects/my-project/global/networks/my-network"
        }
      },
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network and the primary CIDR range."
    },
    "NodePoolAutoConfig": {
      "type": "object",
      "properties": {
        "networkTags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster creation. Each tag within the list must comply with RFC1035.",
          "$ref": "NetworkTags"
        }
      },
      "id": "NodePoolAutoConfig",
      "description": "node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters"
    },
    "ReleaseChannelConfig": {
      "id": "ReleaseChannelConfig",
      "properties": {
        "channel": {
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "The release channel this configuration applies to.",
          "type": "string"
        },
        "availableVersions": {
          "items": {
            "$ref": "AvailableVersion"
          },
          "type": "array",
          "description": "Deprecated. This field has been deprecated and replaced with the valid_versions field."
        },
        "defaultVersion": {
          "type": "string",
          "description": "The default version for newly created clusters on the channel."
        },
        "validVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid versions for the channel."
        }
      },
      "type": "object",
      "description": "ReleaseChannelConfig exposes configuration for a release channel."
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether network policy is enabled on the cluster."
        },
        "provider": {
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ],
          "description": "The selected network policy provider."
        }
      },
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "type": "object"
    },
    "MaintenanceWindow": {
      "type": "object",
      "description": "MaintenanceWindow defines the maintenance window to be used for the cluster.",
      "id": "MaintenanceWindow",
      "properties": {
        "maintenanceExclusions": {
          "additionalProperties": {
            "$ref": "TimeWindow"
          },
          "description": "Exceptions to maintenance window. Non-emergency maintenance should not occur in these windows.",
          "type": "object"
        },
        "dailyMaintenanceWindow": {
          "$ref": "DailyMaintenanceWindow",
          "description": "DailyMaintenanceWindow specifies a daily maintenance operation window."
        },
        "recurringWindow": {
          "description": "RecurringWindow specifies some number of recurring time periods for maintenance to occur. The time windows may be overlapping. If no maintenance windows are set, maintenance can occur at any time.",
          "$ref": "RecurringTimeWindow"
        }
      }
    },
    "CloudRunConfig": {
      "type": "object",
      "description": "Configuration options for the Cloud Run feature.",
      "id": "CloudRunConfig",
      "properties": {
        "loadBalancerType": {
          "description": "Which load balancer type is installed for Cloud Run.",
          "enumDescriptions": [
            "Load balancer type for Cloud Run is unspecified.",
            "Install external load balancer for Cloud Run.",
            "Install internal load balancer for Cloud Run."
          ],
          "type": "string",
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "LOAD_BALANCER_TYPE_EXTERNAL",
            "LOAD_BALANCER_TYPE_INTERNAL"
          ]
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether Cloud Run addon is enabled for this cluster."
        }
      }
    },
    "IPAllocationPolicy": {
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "properties": {
        "nodeIpv4Cidr": {
          "description": "This field is deprecated, use node_ipv4_cidr_block.",
          "type": "string"
        },
        "useIpAliases": {
          "description": "Whether alias IPs will be used for pod IPs in the cluster. This is used in conjunction with use_routes. It cannot be true if use_routes is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode",
          "type": "boolean"
        },
        "tpuIpv4CidrBlock": {
          "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. If unspecified, the range will use the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use. This field is deprecated, use cluster.tpu_config.ipv4_cidr_block instead.",
          "type": "string"
        },
        "subnetworkName": {
          "type": "string",
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true. If this field is empty, then an automatic name will be chosen for the new subnetwork."
        },
        "servicesIpv4CidrBlock": {
          "description": "The IP address range of the services IPs in this cluster. If blank, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
          "type": "string"
        },
        "createSubnetwork": {
          "description": "Whether a new subnetwork will be created automatically for the cluster. This field is only applicable when `use_ip_aliases` is true.",
          "type": "boolean"
        },
        "clusterIpv4Cidr": {
          "description": "This field is deprecated, use cluster_ipv4_cidr_block.",
          "type": "string"
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use services_ipv4_cidr_block."
        },
        "clusterSecondaryRangeName": {
          "description": "The name of the secondary range to be used for the cluster CIDR block. The secondary range will be used for pod IP addresses. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases and create_subnetwork is false.",
          "type": "string"
        },
        "servicesSecondaryRangeName": {
          "description": "The name of the secondary range to be used as for the services CIDR block. The secondary range will be used for service ClusterIPs. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases and create_subnetwork is false.",
          "type": "string"
        },
        "clusterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range for the cluster pod IPs. If this field is set, then `cluster.cluster_ipv4_cidr` must be left blank. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "stackType": {
          "type": "string",
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4",
            "IPV4_IPV6"
          ],
          "enumDescriptions": [
            "By default, the clusters will be IPV4 only",
            "The value used if the cluster is a IPV4 only",
            "The value used if the cluster is a dual stack cluster"
          ],
          "description": "IP stack type"
        },
        "subnetIpv6CidrBlock": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] The subnet's IPv6 CIDR block used by nodes and pods."
        },
        "ipv6AccessType": {
          "enum": [
            "IPV6_ACCESS_TYPE_UNSPECIFIED",
            "INTERNAL",
            "EXTERNAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, will be defaulted as type external.",
            "Access type internal (all v6 addresses are internal IPs)",
            "Access type external (all v6 addresses are external IPs)"
          ],
          "description": "The ipv6 access type (internal or external) when create_subnetwork is true"
        },
        "useRoutes": {
          "description": "Whether routes will be used for pod IPs in the cluster. This is used in conjunction with use_ip_aliases. It cannot be true if use_ip_aliases is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode",
          "type": "boolean"
        },
        "servicesIpv6CidrBlock": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] The services IPv6 CIDR block for the cluster."
        },
        "allowRouteOverlap": {
          "description": "If true, allow allocation of cluster CIDR ranges that overlap with certain kinds of network routes. By default we do not allow cluster CIDR ranges to intersect with any user declared routes. With allow_route_overlap == true, we allow overlapping with CIDR ranges that are larger than the cluster CIDR range. If this field is set to true, then cluster and services CIDRs must be fully-specified (e.g. `10.96.0.0/14`, but not `/14`), which means: 1) When `use_ip_aliases` is true, `cluster_ipv4_cidr_block` and `services_ipv4_cidr_block` must be fully-specified. 2) When `use_ip_aliases` is false, `cluster.cluster_ipv4_cidr` muse be fully-specified.",
          "type": "boolean"
        },
        "nodeIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the instance IPs in this cluster. This is applicable only if `create_subnetwork` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        }
      },
      "id": "IPAllocationPolicy",
      "type": "object"
    },
    "WorkloadMetadataConfig": {
      "id": "WorkloadMetadataConfig",
      "type": "object",
      "properties": {
        "nodeMetadata": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Prevent workloads not in hostNetwork from accessing certain VM metadata, specifically kube-env, which contains Kubelet credentials, and the instance identity token. Metadata concealment is a temporary security solution available while the bootstrapping process for cluster nodes is being redesigned with significant security improvements. This feature is scheduled to be deprecated in the future and later removed.",
            "Expose all VM metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ],
          "description": "NodeMetadata is the configuration for how to expose metadata to the workloads running on the node.",
          "enum": [
            "UNSPECIFIED",
            "SECURE",
            "EXPOSE",
            "GKE_METADATA_SERVER"
          ]
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ],
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ]
        }
      },
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool."
    },
    "MonitoringConfig": {
      "description": "MonitoringConfig is cluster monitoring configuration.",
      "properties": {
        "managedPrometheusConfig": {
          "$ref": "ManagedPrometheusConfig",
          "description": "Enable Google Cloud Managed Service for Prometheus in the cluster."
        },
        "componentConfig": {
          "$ref": "MonitoringComponentConfig",
          "description": "Monitoring components configuration"
        }
      },
      "id": "MonitoringConfig",
      "type": "object"
    },
    "KubernetesDashboard": {
      "description": "Configuration for the Kubernetes Dashboard.",
      "properties": {
        "disabled": {
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "KubernetesDashboard",
      "type": "object"
    },
    "ServerConfig": {
      "description": "Kubernetes Engine service configuration.",
      "id": "ServerConfig",
      "properties": {
        "validMasterVersions": {
          "type": "array",
          "description": "List of valid master versions, in descending order.",
          "items": {
            "type": "string"
          }
        },
        "channels": {
          "description": "List of release channel configurations.",
          "type": "array",
          "items": {
            "$ref": "ReleaseChannelConfig"
          }
        },
        "validNodeVersions": {
          "description": "List of valid node upgrade target versions, in descending order.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "windowsVersionMaps": {
          "type": "object",
          "description": "Maps of Kubernetes version and supported Windows server versions.",
          "additionalProperties": {
            "$ref": "WindowsVersions"
          }
        },
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "defaultImageType": {
          "description": "Default image type.",
          "type": "string"
        },
        "validImageTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of valid image types."
        }
      },
      "type": "object"
    },
    "WorkloadIdentityConfig": {
      "id": "WorkloadIdentityConfig",
      "properties": {
        "identityNamespace": {
          "description": "IAM Identity Namespace to attach all Kubernetes Service Accounts to.",
          "type": "string"
        },
        "identityProvider": {
          "description": "identity provider is the third party identity provider.",
          "type": "string"
        },
        "workloadPool": {
          "type": "string",
          "description": "The workload pool to attach all Kubernetes service accounts to."
        }
      },
      "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies.",
      "type": "object"
    },
    "NodeConfig": {
      "type": "object",
      "properties": {
        "oauthScopes": {
          "type": "array",
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
          "items": {
            "type": "string"
          }
        },
        "gcfsConfig": {
          "description": "GCFS (Google Container File System) configs.",
          "$ref": "GcfsConfig"
        },
        "accelerators": {
          "type": "array",
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled."
        },
        "imageType": {
          "type": "string",
          "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used."
        },
        "spot": {
          "type": "boolean",
          "description": "Spot flag for enabling Spot VM, which is a rebrand of the existing preemptible flag."
        },
        "reservationAffinity": {
          "description": "The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) to this node pool.",
          "$ref": "ReservationAffinity"
        },
        "localSsdCount": {
          "type": "integer",
          "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information.",
          "format": "int32"
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Parameters that can be configured on Linux nodes."
        },
        "minCpuPlatform": {
          "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)",
          "type": "string"
        },
        "nodeGroup": {
          "description": "Setting this field will assign instances of this pool to run on the specified node group. This is useful for running workloads on [sole tenant nodes](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes).",
          "type": "string"
        },
        "workloadMetadataConfig": {
          "description": "The workload metadata configuration for this node.",
          "$ref": "WorkloadMetadataConfig"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "taints": {
          "type": "array",
          "description": "List of kubernetes taints to be applied to each node. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "kubeletConfig": {
          "description": "Node kubelet configs.",
          "$ref": "NodeKubeletConfig"
        },
        "advancedMachineFeatures": {
          "$ref": "AdvancedMachineFeatures",
          "description": "Advanced features for the Compute Engine VM."
        },
        "ephemeralStorageConfig": {
          "$ref": "EphemeralStorageConfig",
          "description": "Parameters for the ephemeral storage filesystem. If unspecified, ephemeral storage is backed by the boot disk."
        },
        "gvnic": {
          "description": "Enable or disable gvnic on the node pool.",
          "$ref": "VirtualNIC"
        },
        "sandboxConfig": {
          "$ref": "SandboxConfig",
          "description": "Sandbox configuration for this node."
        },
        "labels": {
          "type": "object",
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used.",
          "type": "string"
        },
        "preemptible": {
          "description": "Whether the nodes are created as preemptible VM instances. See: https://cloud.google.com/compute/docs/instances/preemptible for more inforamtion about preemptible VM instances.",
          "type": "boolean"
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB."
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption"
        },
        "tags": {
          "type": "array",
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster or node pool creation. Each tag within the list must comply with RFC1035.",
          "items": {
            "type": "string"
          }
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-types). If unspecified, the default machine type is `e2-medium`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp `[a-zA-Z0-9-_]+` and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the reserved keys: - \"cluster-location\" - \"cluster-name\" - \"cluster-uid\" - \"configure-sh\" - \"containerd-configure-sh\" - \"enable-oslogin\" - \"gci-ensure-gke-docker\" - \"gci-metrics-enabled\" - \"gci-update-strategy\" - \"instance-template\" - \"kube-env\" - \"startup-script\" - \"user-data\" - \"disable-address-manager\" - \"windows-startup-script-ps1\" - \"common-psm1\" - \"k8s-node-setup-psm1\" - \"install-ssh-psm1\" - \"user-profile-psm1\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB.",
          "type": "object"
        }
      },
      "description": "Parameters that describe the nodes in a cluster. GKE Autopilot clusters do not recognize parameters in `NodeConfig`. Use AutoprovisioningNodePoolDefaults instead.",
      "id": "NodeConfig"
    },
    "PodSecurityPolicyConfig": {
      "type": "object",
      "id": "PodSecurityPolicyConfig",
      "description": "Configuration for the PodSecurityPolicy feature.",
      "properties": {
        "enabled": {
          "description": "Enable the PodSecurityPolicy controller for this cluster. If enabled, pods must be valid under a PodSecurityPolicy to be created.",
          "type": "boolean"
        }
      }
    },
    "SetLoggingServiceRequest": {
      "id": "SetLoggingServiceRequest",
      "properties": {
        "loggingService": {
          "type": "string",
          "description": "Required. The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "description": "SetLoggingServiceRequest sets the logging service of a cluster.",
      "type": "object"
    },
    "ShieldedNodes": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster."
        }
      },
      "id": "ShieldedNodes",
      "description": "Configuration of Shielded Nodes feature.",
      "type": "object"
    },
    "Jwk": {
      "type": "object",
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "properties": {
        "n": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "kty": {
          "type": "string",
          "description": "Key Type."
        },
        "x": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "use": {
          "description": "Permitted uses for the public keys.",
          "type": "string"
        },
        "crv": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "e": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "alg": {
          "description": "Algorithm.",
          "type": "string"
        },
        "kid": {
          "description": "Key ID.",
          "type": "string"
        }
      },
      "id": "Jwk"
    },
    "CreateClusterRequest": {
      "type": "object",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "parent": {
          "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`.",
          "type": "string"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. A [cluster resource](https://cloud.google.com/container-engine/reference/rest/v1beta1/projects.locations.clusters)"
        }
      },
      "description": "CreateClusterRequest creates a cluster.",
      "id": "CreateClusterRequest"
    },
    "WorkloadALTSConfig": {
      "id": "WorkloadALTSConfig",
      "properties": {
        "enableAlts": {
          "description": "enable_alts controls whether the alts handshaker should be enabled or not for direct-path. Requires Workload Identity (workload_pool must be non-empty).",
          "type": "boolean"
        }
      },
      "description": "Configuration for direct-path (via ALTS) with workload identity.",
      "type": "object"
    },
    "AutoUpgradeOptions": {
      "type": "object",
      "id": "AutoUpgradeOptions",
      "properties": {
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "description": {
          "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade.",
          "type": "string"
        }
      },
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed."
    },
    "NodeTaint": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for taint."
        },
        "key": {
          "type": "string",
          "description": "Key for taint."
        },
        "effect": {
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ],
          "description": "Effect for taint.",
          "type": "string"
        }
      },
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values.",
      "id": "NodeTaint",
      "type": "object"
    },
    "ServiceExternalIPsConfig": {
      "description": "Config to block services with externalIPs field.",
      "properties": {
        "enabled": {
          "description": "Whether Services with ExternalIPs field are allowed or not.",
          "type": "boolean"
        }
      },
      "id": "ServiceExternalIPsConfig",
      "type": "object"
    },
    "ResourceLimit": {
      "type": "object",
      "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB.",
      "properties": {
        "maximum": {
          "description": "Maximum amount of the resource in the cluster.",
          "format": "int64",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "Resource name \"cpu\", \"memory\" or gpu-specific string."
        },
        "minimum": {
          "description": "Minimum amount of the resource in the cluster.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ResourceLimit"
    },
    "UpgradeSettings": {
      "id": "UpgradeSettings",
      "description": "These upgrade settings configure the upgrade strategy for the node pool. Use strategy to switch between the strategies applied to the node pool. If the strategy is SURGE, use max_surge and max_unavailable to control the level of parallelism and the level of disruption caused by upgrade. 1. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. 2. maxUnavailable controls the number of nodes that can be simultaneously unavailable. 3. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). If the strategy is BLUE_GREEN, use blue_green_settings to configure the blue-green upgrade related settings. 1. standard_rollout_policy is the default policy. The policy is used to control the way blue pool gets drained. The draining is executed in the batch mode. The batch size could be specified as either percentage of the node pool size or the number of nodes. batch_soak_duration is the soak time after each batch gets drained. 2. node_pool_soak_duration is the soak time after all blue nodes are drained. After this period, the blue pool nodes will be deleted.",
      "type": "object",
      "properties": {
        "strategy": {
          "description": "Update strategy of the node pool.",
          "enum": [
            "NODE_POOL_UPDATE_STRATEGY_UNSPECIFIED",
            "BLUE_GREEN",
            "SURGE"
          ],
          "enumDescriptions": [
            "Default value.",
            "blue-green upgrade.",
            "SURGE is the traditional way of upgrading a node pool. max_surge and max_unavailable determines the level of upgrade parallelism."
          ],
          "type": "string"
        },
        "maxUnavailable": {
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready.",
          "type": "integer",
          "format": "int32"
        },
        "maxSurge": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process."
        },
        "blueGreenSettings": {
          "description": "Settings for blue-green upgrade strategy.",
          "$ref": "BlueGreenSettings"
        }
      }
    },
    "AdvancedMachineFeatures": {
      "description": "Specifies options for controlling advanced machine features.",
      "id": "AdvancedMachineFeatures",
      "type": "object",
      "properties": {
        "threadsPerCore": {
          "format": "int64",
          "type": "string",
          "description": "The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed."
        }
      }
    },
    "Metric": {
      "description": "Progress metric is (string, int|float|string) pair.",
      "id": "Metric",
      "type": "object",
      "properties": {
        "doubleValue": {
          "type": "number",
          "description": "For metrics with floating point value.",
          "format": "double"
        },
        "intValue": {
          "type": "string",
          "description": "For metrics with integer value.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Required. Metric name, e.g., \"nodes total\", \"percent done\"."
        },
        "stringValue": {
          "type": "string",
          "description": "For metrics with custom values (ratios, visual progress, etc.)."
        }
      }
    },
    "MeshCertificates": {
      "type": "object",
      "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
      "properties": {
        "enableCertificates": {
          "type": "boolean",
          "description": "enable_certificates controls issuance of workload mTLS certificates. If set, the GKE Workload Identity Certificates controller and node agent will be deployed in the cluster, which can then be configured by creating a WorkloadCertificateConfig Custom Resource. Requires Workload Identity (workload_pool must be non-empty)."
        }
      },
      "id": "MeshCertificates"
    },
    "AuthenticatorGroupsConfig": {
      "properties": {
        "enabled": {
          "description": "Whether this cluster should return group membership lookups during authentication using a group of security groups.",
          "type": "boolean"
        },
        "securityGroup": {
          "description": "The name of the security group-of-groups to be used. Only relevant if enabled = true.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for returning group information from authenticators.",
      "id": "AuthenticatorGroupsConfig"
    },
    "SetLegacyAbacRequest": {
      "id": "SetLegacyAbacRequest",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Whether ABAC authorization will be enabled in the cluster."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster."
    },
    "StartIPRotationRequest": {
      "id": "StartIPRotationRequest",
      "type": "object",
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "properties": {
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "rotateCredentials": {
          "type": "boolean",
          "description": "Whether to rotate credentials during IP rotation."
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "IntraNodeVisibilityConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables intra node visibility for this cluster."
        }
      },
      "type": "object",
      "description": "IntraNodeVisibilityConfig contains the desired config of the intra-node visibility on this cluster.",
      "id": "IntraNodeVisibilityConfig"
    },
    "ClusterUpdate": {
      "id": "ClusterUpdate",
      "type": "object",
      "properties": {
        "desiredMaster": {
          "description": "Configuration for master components.",
          "$ref": "Master"
        },
        "desiredTpuConfig": {
          "$ref": "TpuConfig",
          "description": "The desired Cloud TPU configuration."
        },
        "desiredIntraNodeVisibilityConfig": {
          "$ref": "IntraNodeVisibilityConfig",
          "description": "The desired config of Intra-node visibility."
        },
        "desiredGcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "The desired GCFS config for the cluster."
        },
        "desiredDatapathProvider": {
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "description": "The desired datapath provider for the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ]
        },
        "desiredClusterTelemetry": {
          "$ref": "ClusterTelemetry",
          "description": "The desired telemetry integration for the cluster."
        },
        "desiredDnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "desiredAddonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "desiredNotificationConfig": {
          "description": "The desired notification configuration.",
          "$ref": "NotificationConfig"
        },
        "desiredMeshCertificates": {
          "$ref": "MeshCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "desiredPrivateIpv6GoogleAccess": {
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services.",
          "type": "string"
        },
        "desiredNodePoolAutoConfigNetworkTags": {
          "$ref": "NetworkTags",
          "description": "The desired network tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "desiredReleaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The desired release channel configuration."
        },
        "desiredImageType": {
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredWorkloadAltsConfig": {
          "$ref": "WorkloadALTSConfig",
          "description": "Configuration for direct-path (via ALTS) with workload identity."
        },
        "desiredPrivateClusterConfig": {
          "description": "The desired private cluster configuration.",
          "$ref": "PrivateClusterConfig"
        },
        "desiredBinaryAuthorization": {
          "description": "The desired configuration options for the Binary Authorization feature.",
          "$ref": "BinaryAuthorization"
        },
        "desiredIdentityServiceConfig": {
          "description": "The desired Identity Service component configuration.",
          "$ref": "IdentityServiceConfig"
        },
        "desiredLoggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "desiredResourceUsageExportConfig": {
[...]
