{
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "name": "datastore",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Cloud Datastore API",
  "ownerName": "Google",
  "id": "datastore:v1",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "revision": "20220730",
  "documentationLink": "https://cloud.google.com/datastore/",
  "version": "v1",
  "mtlsRootUrl": "https://datastore.mtls.googleapis.com/",
  "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application. ",
  "discoveryVersion": "v1",
  "version_module": true,
  "servicePath": "",
  "rootUrl": "https://datastore.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "methods": {
        "export": {
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1/projects/{projectId}:export",
          "path": "v1/projects/{projectId}:export",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID against which to make the request.",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Exports a copy of all or a subset of entities from Google Cloud Datastore to another storage system, such as Google Cloud Storage. Recent updates to entities may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
          "request": {
            "$ref": "GoogleDatastoreAdminV1ExportEntitiesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "id": "datastore.projects.export",
          "httpMethod": "POST"
        },
        "beginTransaction": {
          "path": "v1/projects/{projectId}:beginTransaction",
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "flatPath": "v1/projects/{projectId}:beginTransaction",
          "request": {
            "$ref": "BeginTransactionRequest"
          },
          "response": {
            "$ref": "BeginTransactionResponse"
          },
          "id": "datastore.projects.beginTransaction",
          "description": "Begins a new transaction.",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "type": "string"
            }
          }
        },
        "commit": {
          "request": {
            "$ref": "CommitRequest"
          },
          "response": {
            "$ref": "CommitResponse"
          },
          "path": "v1/projects/{projectId}:commit",
          "flatPath": "v1/projects/{projectId}:commit",
          "id": "datastore.projects.commit",
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "httpMethod": "POST",
          "description": "Commits a transaction, optionally creating, deleting or modifying some entities.",
          "parameterOrder": [
            "projectId"
          ]
        },
        "lookup": {
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectId}:lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "description": "Looks up entities by key.",
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "LookupResponse"
          },
          "id": "datastore.projects.lookup",
          "path": "v1/projects/{projectId}:lookup",
          "request": {
            "$ref": "LookupRequest"
          }
        },
        "reserveIds": {
          "response": {
            "$ref": "ReserveIdsResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1/projects/{projectId}:reserveIds",
          "description": "Prevents the supplied keys' IDs from being auto-allocated by Cloud Datastore.",
          "path": "v1/projects/{projectId}:reserveIds",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "datastore.projects.reserveIds",
          "request": {
            "$ref": "ReserveIdsRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ]
        },
        "rollback": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "response": {
            "$ref": "RollbackResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "description": "Rolls back a transaction.",
          "request": {
            "$ref": "RollbackRequest"
          },
          "path": "v1/projects/{projectId}:rollback",
          "id": "datastore.projects.rollback",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true
            }
          },
          "flatPath": "v1/projects/{projectId}:rollback",
          "httpMethod": "POST"
        },
        "import": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "request": {
            "$ref": "GoogleDatastoreAdminV1ImportEntitiesRequest"
          },
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1/projects/{projectId}:import",
          "id": "datastore.projects.import",
          "path": "v1/projects/{projectId}:import",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Imports entities into Google Cloud Datastore. Existing entities with the same key are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportEntities operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Datastore.",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID against which to make the request."
            }
          }
        },
        "allocateIds": {
          "flatPath": "v1/projects/{projectId}:allocateIds",
          "id": "datastore.projects.allocateIds",
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "request": {
            "$ref": "AllocateIdsRequest"
          },
          "response": {
            "$ref": "AllocateIdsResponse"
          },
          "httpMethod": "POST",
          "path": "v1/projects/{projectId}:allocateIds",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Allocates IDs for the given keys, which is useful for referencing an entity before it is inserted."
        },
        "runQuery": {
          "path": "v1/projects/{projectId}:runQuery",
          "description": "Queries for entities.",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "RunQueryRequest"
          },
          "id": "datastore.projects.runQuery",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "flatPath": "v1/projects/{projectId}:runQuery",
          "response": {
            "$ref": "RunQueryResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ]
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "datastore.projects.operations.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "path": "v1/{+name}",
              "id": "datastore.projects.operations.get",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource."
                }
              }
            },
            "list": {
              "path": "v1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/operations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The standard list page size."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                }
              },
              "id": "datastore.projects.operations.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "datastore.projects.operations.cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
            }
          }
        },
        "indexes": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of items to return. If zero, then all results will be returned.",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "location": "path",
                  "description": "Project ID against which to make the request.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleDatastoreAdminV1ListIndexesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "description": "Lists the indexes that match the specified filters. Datastore uses an eventually consistent query to fetch the list of indexes and may occasionally return stale results.",
              "flatPath": "v1/projects/{projectId}/indexes",
              "path": "v1/projects/{projectId}/indexes",
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "id": "datastore.projects.indexes.list"
            },
            "create": {
              "path": "v1/projects/{projectId}/indexes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "datastore.projects.indexes.create",
              "flatPath": "v1/projects/{projectId}/indexes",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During index creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single property cannot be created.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleDatastoreAdminV1Index"
              },
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Project ID against which to make the request."
                }
              }
            },
            "get": {
              "id": "datastore.projects.indexes.get",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Project ID against which to make the request.",
                  "required": true
                },
                "indexId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The resource ID of the index to get."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "indexId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "path": "v1/projects/{projectId}/indexes/{indexId}",
              "response": {
                "$ref": "GoogleDatastoreAdminV1Index"
              },
              "description": "Gets an index.",
              "flatPath": "v1/projects/{projectId}/indexes/{indexId}"
            },
            "delete": {
              "flatPath": "v1/projects/{projectId}/indexes/{indexId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "projectId",
                "indexId"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "projectId": {
                  "description": "Project ID against which to make the request.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "indexId": {
                  "required": true,
                  "description": "The resource ID of the index to delete.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Deletes an existing index. An index can only be deleted if it is in a `READY` or `ERROR` state. On successful execution of the request, the index will be in a `DELETING` state. And on completion of the returned google.longrunning.Operation, the index will be removed. During index deletion, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, followed by calling delete again.",
              "id": "datastore.projects.indexes.delete",
              "path": "v1/projects/{projectId}/indexes/{indexId}"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "protocol": "rest",
  "baseUrl": "https://datastore.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "LookupRequest": {
      "type": "object",
      "id": "LookupRequest",
      "properties": {
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "Required. Keys of entities to look up."
        },
        "databaseId": {
          "type": "string",
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
        },
        "readOptions": {
          "$ref": "ReadOptions",
          "description": "The options for this lookup request."
        }
      },
      "description": "The request for Datastore.Lookup."
    },
    "CommitRequest": {
      "description": "The request for Datastore.Commit.",
      "id": "CommitRequest",
      "properties": {
        "mode": {
          "description": "The type of commit to perform. Defaults to `TRANSACTIONAL`.",
          "enum": [
            "MODE_UNSPECIFIED",
            "TRANSACTIONAL",
            "NON_TRANSACTIONAL"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Transactional: The mutations are either all applied, or none are applied. Learn about transactions [here](https://cloud.google.com/datastore/docs/concepts/transactions).",
            "Non-transactional: The mutations may not apply as all or none."
          ],
          "type": "string"
        },
        "transaction": {
          "format": "byte",
          "description": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "type": "string"
        },
        "mutations": {
          "type": "array",
          "items": {
            "$ref": "Mutation"
          },
          "description": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity."
        },
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1Progress": {
      "properties": {
        "workCompleted": {
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "type": "string",
          "format": "int64"
        },
        "workEstimated": {
          "type": "string",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "format": "int64"
        }
      },
      "id": "GoogleDatastoreAdminV1Progress",
      "description": "Measures the progress of a particular metric.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1ExportEntitiesRequest": {
      "description": "The request for google.datastore.admin.v1.DatastoreAdmin.ExportEntities.",
      "properties": {
        "outputUrlPrefix": {
          "description": "Required. Location for the export metadata and data files. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So output_url_prefix should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Cloud Storage bucket and `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace). For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). The resulting files will be nested deeper than the specified URL prefix. The final output URL will be provided in the google.datastore.admin.v1.ExportEntitiesResponse.output_url field. That value should be used for subsequent ImportEntities operations. By nesting the data files deeper, the same Cloud Storage bucket can be used in multiple ExportEntities operations without conflict.",
          "type": "string"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Description of what data from the project is included in the export."
        },
        "labels": {
          "description": "Client-assigned labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleDatastoreAdminV1ExportEntitiesRequest",
      "type": "object"
    },
    "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata": {
      "type": "object",
      "properties": {
        "migrationState": {
          "description": "The current state of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ]
        },
        "migrationStep": {
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ],
          "type": "string",
          "description": "The current step of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ]
        }
      },
      "description": "Metadata for Datastore to Firestore migration operations. The DatastoreFirestoreMigration operation is not started by the end-user via an explicit \"creation\" method. This is an intentional deviation from the LRO design pattern. This singleton resource can be accessed at: \"projects/{project_id}/operations/datastore-firestore-migration\"",
      "id": "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata"
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
      "description": "The response for google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.",
      "type": "object",
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      },
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse"
    },
    "PropertyFilter": {
      "id": "PropertyFilter",
      "type": "object",
      "properties": {
        "op": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "IN",
            "NOT_EQUAL",
            "HAS_ANCESTOR",
            "NOT_IN"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `property` is less than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is less than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is equal to the given `value`.",
            "The given `property` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `NOT_IN` is in the same query.",
            "The given `property` is not equal to the given `value`. Requires: * No other `NOT_EQUAL` or `NOT_IN` is in the same query. * That `property` comes first in the `order_by`.",
            "Limit the result set to the given entity and its descendants. Requires: * That `value` is an entity key.",
            "The value of the `property` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN`, `NOT_IN`, `NOT_EQUAL` is in the same query. * That `field` comes first in the `order_by`."
          ],
          "description": "The operator to filter by.",
          "type": "string"
        },
        "value": {
          "description": "The value to compare the property to.",
          "$ref": "Value"
        },
        "property": {
          "description": "The property to filter by.",
          "$ref": "PropertyReference"
        }
      },
      "description": "A filter on a specific property."
    },
    "BeginTransactionResponse": {
      "type": "object",
      "properties": {
        "transaction": {
          "description": "The transaction identifier (always present).",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "BeginTransactionResponse",
      "description": "The response for Datastore.BeginTransaction."
    },
    "Value": {
      "id": "Value",
      "description": "A message that can hold any of the supported value types and associated metadata.",
      "properties": {
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "description": "A null value.",
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ]
        },
        "keyValue": {
          "description": "A key value.",
          "$ref": "Key"
        },
        "integerValue": {
          "type": "string",
          "description": "An integer value.",
          "format": "int64"
        },
        "meaning": {
          "type": "integer",
          "description": "The `meaning` field should only be populated for backwards compatibility.",
          "format": "int32"
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "A double value."
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "entityValue": {
          "$ref": "Entity",
          "description": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key."
        },
        "arrayValue": {
          "description": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`.",
          "$ref": "ArrayValue"
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "timestampValue": {
          "description": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down.",
          "type": "string",
          "format": "google-datetime"
        },
        "excludeFromIndexes": {
          "description": "If the value should be excluded from all indexes including those defined explicitly.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes."
        },
        "blobValue": {
          "format": "byte",
          "description": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "GoogleDatastoreAdminV1IndexOperationMetadata": {
      "description": "Metadata for Index operations.",
      "type": "object",
      "id": "GoogleDatastoreAdminV1IndexOperationMetadata",
      "properties": {
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "indexId": {
          "type": "string",
          "description": "The index resource ID that this operation is acting on."
        }
      }
    },
    "RunQueryRequest": {
      "description": "The request for Datastore.RunQuery.",
      "type": "object",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
        },
        "gqlQuery": {
          "$ref": "GqlQuery",
          "description": "The GQL query to run. This query must be a non-aggregation query."
        },
        "readOptions": {
          "$ref": "ReadOptions",
          "description": "The options for this query."
        },
        "partitionId": {
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID.",
          "$ref": "PartitionId"
        },
        "query": {
          "$ref": "Query",
          "description": "The query to run."
        }
      },
      "id": "RunQueryRequest"
    },
    "Entity": {
      "description": "A Datastore data object. An entity is limited to 1 megabyte when stored. That _roughly_ corresponds to a limit of 1 megabyte for the serialized form of this message.",
      "id": "Entity",
      "type": "object",
      "properties": {
        "key": {
          "description": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key.",
          "$ref": "Key"
        },
        "properties": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object",
          "description": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The name must not contain more than 500 characters. The name cannot be `\"\"`."
        }
      }
    },
    "GqlQueryParameter": {
      "type": "object",
      "description": "A binding parameter for a GQL query.",
      "properties": {
        "value": {
          "$ref": "Value",
          "description": "A value parameter."
        },
        "cursor": {
          "format": "byte",
          "type": "string",
          "description": "A query cursor. Query cursors are returned in query result batches."
        }
      },
      "id": "GqlQueryParameter"
    },
    "RollbackRequest": {
      "description": "The request for Datastore.Rollback.",
      "id": "RollbackRequest",
      "type": "object",
      "properties": {
        "transaction": {
          "format": "byte",
          "description": "Required. The transaction identifier, returned by a call to Datastore.BeginTransaction.",
          "type": "string"
        },
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        }
      }
    },
    "Projection": {
      "id": "Projection",
      "properties": {
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to project."
        }
      },
      "type": "object",
      "description": "A representation of a property in a projection."
    },
    "GoogleDatastoreAdminV1IndexedProperty": {
      "type": "object",
      "description": "A property of an index.",
      "properties": {
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "The direction is unspecified.",
            "The property's values are indexed so as to support sequencing in ascending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =.",
            "The property's values are indexed so as to support sequencing in descending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =."
          ],
          "description": "Required. The indexed property's direction. Must not be DIRECTION_UNSPECIFIED."
        },
        "name": {
          "description": "Required. The property name to index.",
          "type": "string"
        }
      },
      "id": "GoogleDatastoreAdminV1IndexedProperty"
    },
    "EntityResult": {
      "id": "EntityResult",
      "description": "The result of fetching an entity from Datastore.",
      "type": "object",
      "properties": {
        "entity": {
          "description": "The resulting entity.",
          "$ref": "Entity"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time at which the entity was last changed. This field is set for `FULL` entity results. If this entity is missing, this field will not be set.",
          "type": "string"
        },
        "cursor": {
          "type": "string",
          "description": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message.",
          "format": "byte"
        },
        "version": {
          "format": "int64",
          "description": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads.",
          "type": "string"
        }
      }
    },
    "GoogleDatastoreAdminV1EntityFilter": {
      "properties": {
        "kinds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If empty, then this represents all kinds."
        },
        "namespaceIds": {
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1EntityFilter",
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']"
    },
    "GoogleDatastoreAdminV1PrepareStepDetails": {
      "type": "object",
      "description": "Details for the `PREPARE` step.",
      "id": "GoogleDatastoreAdminV1PrepareStepDetails",
      "properties": {
        "concurrencyMode": {
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ],
          "description": "The concurrency mode this database will use when it reaches the `REDIRECT_WRITES` step."
        }
      }
    },
    "ReserveIdsResponse": {
      "type": "object",
      "properties": {},
      "id": "ReserveIdsResponse",
      "description": "The response for Datastore.ReserveIds."
    },
    "MutationResult": {
      "properties": {
        "version": {
          "format": "int64",
          "description": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity.",
          "type": "string"
        },
        "conflictDetected": {
          "type": "boolean",
          "description": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation."
        },
        "updateTime": {
          "description": "The update time of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the timestamp will be the update timestamp of the current entity. This field will not be set after a 'delete'.",
          "format": "google-datetime",
          "type": "string"
        },
        "key": {
          "description": "The automatically allocated key. Set only when the mutation allocated a key.",
          "$ref": "Key"
        }
      },
      "description": "The result of applying a mutation.",
      "id": "MutationResult",
      "type": "object"
    },
    "PathElement": {
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "id": "PathElement",
      "properties": {
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes."
        }
      },
      "type": "object"
    },
    "CommitResponse": {
      "properties": {
        "commitTime": {
          "description": "The transaction commit timestamp. Not set for non-transactional commits.",
          "format": "google-datetime",
          "type": "string"
        },
        "indexUpdates": {
          "description": "The number of index entries updated during the commit, or zero if none were updated.",
          "type": "integer",
          "format": "int32"
        },
        "mutationResults": {
          "description": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request.",
          "items": {
            "$ref": "MutationResult"
          },
          "type": "array"
        }
      },
      "description": "The response for Datastore.Commit.",
      "id": "CommitResponse",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "properties": {
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "inputUrl": {
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field.",
          "type": "string"
        },
        "entityFilter": {
          "description": "Description of which entities are being imported.",
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter"
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        }
      },
      "type": "object",
      "description": "Metadata for ImportEntities operations.",
      "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata"
    },
    "GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "properties": {
        "outputUrl": {
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully.",
          "type": "string"
        }
      },
      "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
      "type": "object",
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
    },
    "TransactionOptions": {
      "id": "TransactionOptions",
      "properties": {
        "readWrite": {
          "description": "The transaction should allow both reads and writes.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "description": "The transaction should only allow reads.",
          "$ref": "ReadOnly"
        }
      },
      "description": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests.",
      "type": "object"
    },
    "Mutation": {
      "description": "A mutation to apply to an entity.",
      "id": "Mutation",
      "properties": {
        "upsert": {
          "$ref": "Entity",
          "description": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete."
        },
        "update": {
          "$ref": "Entity",
          "description": "The entity to update. The entity must already exist. Must have a complete key path."
        },
        "insert": {
          "$ref": "Entity",
          "description": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete."
        },
        "updateTime": {
          "description": "The update time of the entity that this mutation is being applied to. If this does not match the current update time on the server, the mutation conflicts.",
          "format": "google-datetime",
          "type": "string"
        },
        "baseVersion": {
          "format": "int64",
          "description": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts.",
          "type": "string"
        },
        "delete": {
          "$ref": "Key",
          "description": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only."
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "properties": {
        "entityFilter": {
          "description": "Description of which entities are being imported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "inputUrl": {
          "type": "string",
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field."
        }
      },
      "type": "object",
      "description": "Metadata for ImportEntities operations.",
      "id": "GoogleDatastoreAdminV1ImportEntitiesMetadata"
    },
    "GoogleDatastoreAdminV1beta1EntityFilter": {
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "id": "GoogleDatastoreAdminV1beta1EntityFilter",
      "type": "object",
      "properties": {
        "namespaceIds": {
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          }
        },
        "kinds": {
          "type": "array",
          "description": "If empty, then this represents all kinds.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LatLng": {
      "id": "LatLng",
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        },
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        }
      },
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "RunQueryResponse": {
      "type": "object",
      "description": "The response for Datastore.RunQuery.",
      "properties": {
        "batch": {
          "description": "A batch of query results (always present).",
          "$ref": "QueryResultBatch"
        },
        "query": {
          "description": "The parsed form of the `GqlQuery` from the request, if it was set.",
          "$ref": "Query"
        }
      },
      "id": "RunQueryResponse"
    },
    "Query": {
      "properties": {
        "endCursor": {
          "description": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "format": "byte",
          "type": "string"
        },
        "projection": {
          "type": "array",
          "items": {
            "$ref": "Projection"
          },
          "description": "The projection to return. Defaults to returning all properties."
        },
        "distinctOn": {
          "type": "array",
          "items": {
            "$ref": "PropertyReference"
          },
          "description": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned)."
        },
        "kind": {
          "description": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified.",
          "items": {
            "$ref": "KindExpression"
          },
          "type": "array"
        },
        "order": {
          "description": "The order to apply to the query results (if empty, order is unspecified).",
          "type": "array",
          "items": {
            "$ref": "PropertyOrder"
          }
        },
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be \u003e= 0 if specified.",
          "format": "int32",
          "type": "integer"
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be \u003e= 0 if specified."
        },
        "startCursor": {
          "type": "string",
          "description": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "format": "byte"
        },
        "filter": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        }
      },
      "type": "object",
      "description": "A query for entities.",
      "id": "Query"
    },
    "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata",
      "description": "Metadata for ExportEntities operations.",
      "properties": {
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Description of which entities are being exported."
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "outputUrlPrefix": {
          "type": "string",
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        }
      }
    },
    "PropertyReference": {
      "description": "A reference to a property relative to the kind expressions.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the property. If name includes \".\"s, it may be interpreted as a property name path."
        }
      },
      "id": "PropertyReference"
    },
    "ArrayValue": {
      "type": "object",
      "description": "An array value.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'.",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "id": "ArrayValue"
    },
    "GoogleDatastoreAdminV1RedirectWritesStepDetails": {
      "description": "Details for the `REDIRECT_WRITES` step.",
      "type": "object",
      "id": "GoogleDatastoreAdminV1RedirectWritesStepDetails",
      "properties": {
        "concurrencyMode": {
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ],
          "description": "Ths concurrency mode for this database.",
          "type": "string"
        }
      }
    },
    "PropertyOrder": {
      "type": "object",
      "properties": {
        "property": {
          "description": "The property to order by.",
          "$ref": "PropertyReference"
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Ascending.",
            "Descending."
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`."
        }
      },
      "description": "The desired order for a specific property.",
      "id": "PropertyOrder"
    },
    "KindExpression": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "id": "KindExpression",
      "description": "A representation of a kind."
    },
    "GoogleDatastoreAdminV1ImportEntitiesRequest": {
      "type": "object",
      "properties": {
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Optionally specify which kinds/namespaces are to be imported. If provided, the list must be a subset of the EntityFilter used in creating the export, otherwise a FAILED_PRECONDITION error will be returned. If no filter is specified then all entities from the export are imported."
        },
        "inputUrl": {
          "type": "string",
          "description": "Required. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So input_url should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]/OVERALL_EXPORT_METADATA_FILE`, where `BUCKET_NAME` is the name of the Cloud Storage bucket, `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace), and `OVERALL_EXPORT_METADATA_FILE` is the metadata file written by the ExportEntities operation. For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). For more information, see google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Client-assigned labels."
        }
      },
      "description": "The request for google.datastore.admin.v1.DatastoreAdmin.ImportEntities.",
      "id": "GoogleDatastoreAdminV1ImportEntitiesRequest"
    },
    "GqlQuery": {
      "description": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
      "properties": {
        "namedBindings": {
          "type": "object",
          "description": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`.",
          "additionalProperties": {
            "$ref": "GqlQueryParameter"
          }
        },
        "positionalBindings": {
          "description": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true.",
          "items": {
            "$ref": "GqlQueryParameter"
          },
          "type": "array"
        },
        "queryString": {
          "type": "string",
          "description": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
        },
        "allowLiterals": {
          "type": "boolean",
          "description": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is."
        }
      },
      "type": "object",
      "id": "GqlQuery"
    },
    "Key": {
      "description": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts.",
      "id": "Key",
      "type": "object",
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition.",
          "$ref": "PartitionId"
        },
        "path": {
          "items": {
            "$ref": "PathElement"
          },
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements.",
          "type": "array"
        }
      }
    },
    "ReadOnly": {
      "type": "object",
      "description": "Options specific to read-only transactions.",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Reads entities at the given time. This may not be older than 60 seconds."
        }
      },
      "id": "ReadOnly"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation"
    },
    "ReadWrite": {
      "description": "Options specific to read / write transactions.",
      "properties": {
        "previousTransaction": {
          "description": "The transaction identifier of the transaction being retried.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReadWrite"
    },
    "LookupResponse": {
      "properties": {
        "readTime": {
          "description": "The time at which these entities were read or found missing.",
          "type": "string",
          "format": "google-datetime"
        },
        "deferred": {
          "description": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "items": {
            "$ref": "Key"
          },
          "type": "array"
        },
        "found": {
          "items": {
            "$ref": "EntityResult"
          },
          "description": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "type": "array"
        },
        "missing": {
          "items": {
            "$ref": "EntityResult"
          },
          "description": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "type": "array"
        }
      },
      "description": "The response for Datastore.Lookup.",
      "type": "object",
      "id": "LookupResponse"
    },
    "CompositeFilter": {
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "description": "The operator for combining multiple filters.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ]
        },
        "filters": {
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A filter that merges multiple other filters using the given operator.",
      "id": "CompositeFilter"
    },
    "GoogleDatastoreAdminV1MigrationStateEvent": {
      "type": "object",
      "description": "An event signifying a change in state of a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ],
          "type": "string",
          "description": "The new state of the migration.",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1MigrationStateEvent"
    },
    "RollbackResponse": {
      "id": "RollbackResponse",
      "properties": {},
      "type": "object",
      "description": "The response for Datastore.Rollback. (an empty message)."
    },
    "ReserveIdsRequest": {
      "properties": {
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        },
        "keys": {
          "type": "array",
          "items": {
            "$ref": "Key"
          },
          "description": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated."
        }
      },
      "type": "object",
      "description": "The request for Datastore.ReserveIds.",
      "id": "ReserveIdsRequest"
    },
    "AllocateIdsResponse": {
      "type": "object",
      "properties": {
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "The keys specified in the request (in the same order), each with its key path completed with a newly allocated ID."
        }
      },
      "description": "The response for Datastore.AllocateIds.",
      "id": "AllocateIdsResponse"
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "type": "object",
      "description": "Metadata for ExportEntities operations.",
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata",
      "properties": {
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being exported."
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        }
      }
    },
    "ReadOptions": {
      "type": "object",
      "id": "ReadOptions",
      "properties": {
        "readConsistency": {
          "description": "The non-transactional read consistency to use.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Strong consistency.",
            "Eventual consistency."
          ],
          "enum": [
            "READ_CONSISTENCY_UNSPECIFIED",
            "STRONG",
            "EVENTUAL"
          ],
          "type": "string"
        },
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction."
        },
        "readTime": {
          "description": "Reads entities as they were at the given time. This may not be older than 270 seconds. This value is only supported for Cloud Firestore in Datastore mode.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The options shared by read requests."
    },
    "Filter": {
      "type": "object",
      "properties": {
        "propertyFilter": {
          "description": "A filter on a property.",
          "$ref": "PropertyFilter"
        },
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        }
      },
      "description": "A holder for any type of filter.",
      "id": "Filter"
    },
    "PartitionId": {
      "id": "PartitionId",
      "type": "object",
      "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of the project to which the entities belong."
        },
        "databaseId": {
          "description": "If not empty, the ID of the database to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        }
      }
    },
    "BeginTransactionRequest": {
      "properties": {
        "transactionOptions": {
          "description": "Options for a new transaction.",
          "$ref": "TransactionOptions"
        },
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        }
      },
      "id": "BeginTransactionRequest",
      "description": "The request for Datastore.BeginTransaction.",
      "type": "object"
    },
    "AllocateIdsRequest": {
      "type": "object",
      "id": "AllocateIdsRequest",
      "description": "The request for Datastore.AllocateIds.",
      "properties": {
        "keys": {
          "description": "Required. A list of keys with incomplete key paths for which to allocate IDs. No key may be reserved/read-only.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        },
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        }
      }
    },
    "GoogleDatastoreAdminV1MigrationProgressEvent": {
      "type": "object",
      "description": "An event signifying the start of a new step in a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "id": "GoogleDatastoreAdminV1MigrationProgressEvent",
      "properties": {
        "redirectWritesStepDetails": {
          "$ref": "GoogleDatastoreAdminV1RedirectWritesStepDetails",
          "description": "Details for the `REDIRECT_WRITES` step."
        },
        "step": {
          "description": "The step that is starting. An event with step set to `START` indicates that the migration has been reverted back to the initial pre-migration state.",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ]
        },
        "prepareStepDetails": {
          "$ref": "GoogleDatastoreAdminV1PrepareStepDetails",
          "description": "Details for the `PREPARE` step."
        }
      }
    },
    "GoogleDatastoreAdminV1ListIndexesResponse": {
      "id": "GoogleDatastoreAdminV1ListIndexesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "indexes": {
          "items": {
            "$ref": "GoogleDatastoreAdminV1Index"
          },
          "description": "The indexes.",
          "type": "array"
        }
      },
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ListIndexes.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1CommonMetadata": {
      "id": "GoogleDatastoreAdminV1CommonMetadata",
      "type": "object",
      "description": "Metadata common to all Datastore Admin operations.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that work began on the operation."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise.",
          "format": "google-datetime"
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES",
            "CREATE_INDEX",
            "DELETE_INDEX"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities.",
            "CreateIndex.",
            "DeleteIndex."
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The current state of the Operation."
        }
      }
    },
    "QueryResultBatch": {
      "type": "object",
      "properties": {
        "snapshotVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries."
        },
        "entityResultType": {
          "description": "The result type for every entity in `entity_results`.",
          "type": "string",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "FULL",
            "PROJECTION",
            "KEY_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "The key and properties.",
            "A projected subset of properties. The entity may have no key.",
            "Only the key."
          ]
        },
        "skippedCursor": {
          "description": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0.",
          "format": "byte",
          "type": "string"
        },
        "endCursor": {
          "format": "byte",
          "type": "string",
          "description": "A cursor that points to the position after the last result in the batch."
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Read timestamp this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches. This value will not be set for eventually consistent queries in Cloud Datastore.",
          "type": "string"
        },
        "skippedResults": {
          "type": "integer",
          "format": "int32",
          "description": "The number of results skipped, typically because of an offset."
        },
        "moreResults": {
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "type": "string",
          "description": "The state of the query after the current batch.",
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ]
        },
        "entityResults": {
          "items": {
            "$ref": "EntityResult"
          },
          "description": "The results for this batch.",
          "type": "array"
        }
      },
      "id": "QueryResultBatch",
      "description": "A batch of results produced by a query."
    },
    "GoogleDatastoreAdminV1Index": {
      "id": "GoogleDatastoreAdminV1Index",
      "type": "object",
      "properties": {
        "properties": {
          "items": {
            "$ref": "GoogleDatastoreAdminV1IndexedProperty"
          },
          "type": "array",
          "description": "Required. An ordered sequence of property names and their index attributes."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. The state of the index.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created, and cannot be used by queries. There is an active long-running operation for the index. The index is updated when writing an entity. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing an entity. The index is fully populated from all stored entities it applies to.",
            "The index is being deleted, and cannot be used by queries. There is an active long-running operation for the index. The index is not updated when writing an entity. Some index data may exist.",
            "The index was being created or deleted, but something went wrong. The index cannot by used by queries. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing an entity. Some index data may exist."
          ]
        },
        "ancestor": {
          "enum": [
            "ANCESTOR_MODE_UNSPECIFIED",
            "NONE",
            "ALL_ANCESTORS"
          ],
          "type": "string",
          "description": "Required. The index's ancestor mode. Must not be ANCESTOR_MODE_UNSPECIFIED.",
          "enumDescriptions": [
            "The ancestor mode is unspecified.",
            "Do not include the entity's ancestors in the index.",
            "Include all the entity's ancestors in the index."
          ]
        },
        "indexId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource ID of the index."
        },
        "kind": {
          "type": "string",
          "description": "Required. The entity kind to which this index applies."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. Project ID.",
          "readOnly": true
        }
      },
      "description": "Datastore composite index definition."
    },
    "GoogleDatastoreAdminV1beta1Progress": {
      "description": "Measures the progress of a particular metric.",
      "id": "GoogleDatastoreAdminV1beta1Progress",
      "type": "object",
      "properties": {
        "workEstimated": {
          "type": "string",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "format": "int64"
        },
        "workCompleted": {
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleDatastoreAdminV1beta1CommonMetadata": {
      "id": "GoogleDatastoreAdminV1beta1CommonMetadata",
      "description": "Metadata common to all Datastore Admin operations.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The current state of the Operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "labels": {
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "operationType": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities."
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest."
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise.",
          "format": "google-datetime"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  }
}
