{
  "protocol": "rest",
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "title": "Data Labeling API",
  "description": "Public API for Google Cloud AI Data Labeling Service.",
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "name": "datalabeling",
  "revision": "20220621",
  "id": "datalabeling:v1beta1",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudDatalabelingV1beta1EvaluationJobConfig": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJobConfig",
      "description": "Configures specific details of how a continuous evaluation job works. Provide this configuration when you create an EvaluationJob.",
      "properties": {
        "evaluationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig",
          "description": "Required. Details for calculating evaluation metrics and creating Evaulations. If your model version performs image object detection, you must specify the `boundingBoxEvaluationOptions` field within this configuration. Otherwise, provide an empty object for this configuration."
        },
        "exampleSamplePercentage": {
          "type": "number",
          "format": "double",
          "description": "Required. Fraction of predictions to sample and save to BigQuery during each evaluation interval. For example, 0.1 means 10% of predictions served by your model version get saved to BigQuery."
        },
        "inputConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1InputConfig",
          "description": "Rquired. Details for the sampled prediction input. Within this configuration, there are requirements for several fields: * `dataType` must be one of `IMAGE`, `TEXT`, or `GENERAL_DATA`. * `annotationType` must be one of `IMAGE_CLASSIFICATION_ANNOTATION`, `TEXT_CLASSIFICATION_ANNOTATION`, `GENERAL_CLASSIFICATION_ANNOTATION`, or `IMAGE_BOUNDING_BOX_ANNOTATION` (image object detection). * If your machine learning model performs classification, you must specify `classificationMetadata.isMultiLabel`. * You must specify `bigquerySource` (not `gcsSource`)."
        },
        "bigqueryImportKeys": {
          "description": "Required. Prediction keys that tell Data Labeling Service where to find the data for evaluation in your BigQuery table. When the service samples prediction input and output from your model version and saves it to BigQuery, the data gets stored as JSON strings in the BigQuery table. These keys tell Data Labeling Service how to parse the JSON. You can provide the following entries in this field: * `data_json_key`: the data key for prediction input. You must provide either this key or `reference_json_key`. * `reference_json_key`: the data reference key for prediction input. You must provide either this key or `data_json_key`. * `label_json_key`: the label key for prediction output. Required. * `label_score_json_key`: the score key for prediction output. Required. * `bounding_box_json_key`: the bounding box key for prediction output. Required if your model version perform image object detection. Learn [how to configure prediction keys](/ml-engine/docs/continuous-evaluation/create-job#prediction-keys).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "imageClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
          "description": "Specify this field if your model version performs image classification or general classification. `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet. `allowMultiLabel` in this configuration must match `classificationMetadata.isMultiLabel` in input_config."
        },
        "boundingPolyConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig",
          "description": "Specify this field if your model version performs image object detection (bounding box detection). `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet."
        },
        "evaluationJobAlertConfig": {
          "description": "Optional. Configuration details for evaluation job alerts. Specify this field if you want to receive email alerts if the evaluation job finds that your predictions have low mean average precision during a run.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig"
        },
        "humanAnnotationConfig": {
          "description": "Optional. Details for human annotation of your data. If you set labelMissingGroundTruth to `true` for this evaluation job, then you must specify this field. If you plan to provide your own ground truth labels, then omit this field. Note that you must create an Instruction resource before you can specify this field. Provide the name of the instruction resource in the `instruction` field within this configuration.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "textClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig",
          "description": "Specify this field if your model version performs text classification. `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet. `allowMultiLabel` in this configuration must match `classificationMetadata.isMultiLabel` in input_config."
        },
        "exampleCount": {
          "format": "int32",
          "description": "Required. The maximum number of predictions to sample and save to BigQuery during each evaluation interval. This limit overrides `example_sample_percentage`: even if the service has not sampled enough predictions to fulfill `example_sample_perecentage` during an interval, it stops sampling predictions when it meets this limit.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1FeedbackThread": {
      "properties": {
        "feedbackThreadMetadata": {
          "description": "Metadata regarding the feedback thread.",
          "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThreadMetadata"
        },
        "name": {
          "type": "string",
          "description": "Name of the feedback thread. Format: 'project/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1FeedbackThread",
      "description": "A feedback thread of a certain labeling task on a certain annotated dataset.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata",
      "type": "object",
      "description": "Details of LabelImagePolyline operation metadata."
    },
    "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination": {
      "properties": {
        "outputFolderUri": {
          "type": "string",
          "description": "Required. Cloud Storage directory to export data to."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination",
      "description": "Export folder destination of the data."
    },
    "GoogleCloudDatalabelingV1p1alpha1CreateInstructionMetadata": {
      "id": "GoogleCloudDatalabelingV1p1alpha1CreateInstructionMetadata",
      "type": "object",
      "description": "Metadata of a CreateInstruction operation.",
      "properties": {
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp when create instruction request was created.",
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}"
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata",
      "properties": {
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\""
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when export dataset request was created.",
          "type": "string"
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        }
      },
      "type": "object",
      "description": "Metadata of an ExportData operation."
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingBoxOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingBoxOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata": {
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelTextClassificationOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelTextClassificationOperationMetadata",
      "description": "Details of a LabelTextClassification operation metadata."
    },
    "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse": {
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1OutputConfig",
          "description": "Output only. output_config in the ExportData request."
        },
        "totalCount": {
          "description": "Output only. Total number of examples requested to export",
          "format": "int32",
          "type": "integer"
        },
        "labelStats": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1LabelStats",
          "description": "Output only. Statistic infos of labels in the exported dataset."
        },
        "exportCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples exported successfully."
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        },
        "dataset": {
          "type": "string",
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\""
        }
      },
      "description": "Response used for ExportDataset longrunning operation.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse"
    },
    "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Details of LabelImagePolyline operation metadata.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelTextEntityExtractionOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelTextEntityExtractionOperationMetadata",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelTextEntityExtraction operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1ImportDataOperationResponse": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ImportDataOperationResponse",
      "properties": {
        "totalCount": {
          "type": "integer",
          "description": "Output only. Total number of examples requested to import",
          "format": "int32"
        },
        "dataset": {
          "description": "Ouptut only. The name of imported dataset.",
          "type": "string"
        },
        "importCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of examples imported successfully."
        }
      },
      "description": "Response used for ImportData longrunning operation."
    },
    "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse": {
      "type": "object",
      "description": "Results for listing FeedbackThreads.",
      "properties": {
        "feedbackThreads": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
          },
          "description": "The list of feedback threads to return."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
    },
    "GoogleCloudDatalabelingV1beta1VideoPayload": {
      "properties": {
        "videoThumbnails": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1VideoThumbnail"
          },
          "description": "The list of video thumbnails.",
          "type": "array"
        },
        "videoUri": {
          "description": "Video uri from the user bucket.",
          "type": "string"
        },
        "frameRate": {
          "type": "number",
          "description": "FPS of the video.",
          "format": "float"
        },
        "mimeType": {
          "type": "string",
          "description": "Video format."
        },
        "signedUri": {
          "description": "Signed uri of the video file in the service bucket.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Container of information of a video.",
      "id": "GoogleCloudDatalabelingV1beta1VideoPayload"
    },
    "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse": {
      "id": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse",
      "type": "object",
      "description": "Results of searching evaluations.",
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
          },
          "type": "array",
          "description": "The list of evaluations matching the search."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ClassificationMetrics": {
      "id": "GoogleCloudDatalabelingV1beta1ClassificationMetrics",
      "properties": {
        "prCurve": {
          "description": "Precision-recall curve based on ground truth labels, predicted labels, and scores for the predicted labels.",
          "$ref": "GoogleCloudDatalabelingV1beta1PrCurve"
        },
        "confusionMatrix": {
          "$ref": "GoogleCloudDatalabelingV1beta1ConfusionMatrix",
          "description": "Confusion matrix of predicted labels vs. ground truth labels."
        }
      },
      "description": "Metrics calculated for a classification model.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata": {
      "properties": {
        "dataset": {
          "description": "The name of the dataset for which the analysis report is generated. Format: \"projects/*/datasets/*\"",
          "type": "string"
        },
        "createTime": {
          "description": "Timestamp when generate report request was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata of an GenerateAnalysisReport operation.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1TimeSegment": {
      "properties": {
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "End of the time segment (exclusive), represented as the duration since the example start."
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start of the time segment (inclusive), represented as the duration since the example start.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1TimeSegment",
      "type": "object",
      "description": "A time period inside of an example that has a time dimension (e.g. video)."
    },
    "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation": {
      "properties": {
        "annotationSpec": {
          "description": "Label of the text entities.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        },
        "sequentialSegment": {
          "description": "Position of the entity.",
          "$ref": "GoogleCloudDatalabelingV1beta1SequentialSegment"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation",
      "type": "object",
      "description": "Text entity extraction annotation."
    },
    "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata": {
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationResponse": {
      "id": "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationResponse",
      "properties": {
        "importCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples imported successfully."
        },
        "totalCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Total number of examples requested to import"
        },
        "dataset": {
          "description": "Ouptut only. The name of imported dataset.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response used for ImportData longrunning operation."
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDatalabelingV1beta1ExampleComparison": {
      "properties": {
        "groundTruthExample": {
          "description": "The ground truth output for the input.",
          "$ref": "GoogleCloudDatalabelingV1beta1Example"
        },
        "modelCreatedExamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Example"
          },
          "description": "Predictions by the model for the input."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ExampleComparison",
      "type": "object",
      "description": "Example comparisons comparing ground truth output and predictions for a specific input."
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImagePolylineOperationMetadata": {
      "description": "Details of LabelImagePolyline operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImagePolylineOperationMetadata",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpecSetConfig": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpecSetConfig",
      "properties": {
        "allowMultiLabel": {
          "type": "boolean",
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels from one annotation spec set."
        },
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        }
      },
      "type": "object",
      "description": "Annotation spec set with the setting of allowing multi labels or not."
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata",
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrix": {
      "type": "object",
      "description": "Confusion matrix of the model running the classification. Only applicable when the metrics entry aggregates multiple labels. Not applicable when the entry is for a single label.",
      "properties": {
        "row": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Row"
          }
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrix"
    },
    "GoogleCloudDatalabelingV1beta1LabelTextClassificationOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelTextClassificationOperationMetadata",
      "description": "Details of a LabelTextClassification operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata": {
      "description": "Details of a LabelTextEntityExtraction operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Timestamp when create instruction request was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "instruction": {
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}",
          "type": "string"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array"
        }
      },
      "description": "Metadata of a CreateInstruction operation.",
      "id": "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata"
    },
    "GoogleCloudDatalabelingV1beta1GcsSource": {
      "id": "GoogleCloudDatalabelingV1beta1GcsSource",
      "type": "object",
      "description": "Source of the Cloud Storage file to be imported.",
      "properties": {
        "mimeType": {
          "description": "Required. The format of the source file. Only \"text/csv\" is supported.",
          "type": "string"
        },
        "inputUri": {
          "type": "string",
          "description": "Required. The input URI of source file. This must be a Cloud Storage path (`gs://...`)."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1TextClassificationConfig": {
      "description": "Config for text classification human labeling task.",
      "id": "GoogleCloudDatalabelingV1beta1TextClassificationConfig",
      "type": "object",
      "properties": {
        "allowMultiLabel": {
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one text segment.",
          "type": "boolean"
        },
        "sentimentConfig": {
          "description": "Optional. Configs for sentiment selection. We deprecate sentiment analysis in data labeling side as it is incompatible with uCAIP.",
          "$ref": "GoogleCloudDatalabelingV1beta1SentimentConfig"
        },
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1GcsFolderDestination": {
      "type": "object",
      "properties": {
        "outputFolderUri": {
          "type": "string",
          "description": "Required. Cloud Storage directory to export data to."
        }
      },
      "description": "Export folder destination of the data.",
      "id": "GoogleCloudDatalabelingV1alpha1GcsFolderDestination"
    },
    "GoogleCloudDatalabelingV1beta1OutputConfig": {
      "description": "The configuration of output data.",
      "id": "GoogleCloudDatalabelingV1beta1OutputConfig",
      "type": "object",
      "properties": {
        "gcsFolderDestination": {
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.",
          "$ref": "GoogleCloudDatalabelingV1beta1GcsFolderDestination"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDatalabelingV1beta1GcsDestination",
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageClassificationOperationMetadata": {
      "description": "Metadata of a LabelImageClassification operation.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageClassificationOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata": {
      "type": "object",
      "description": "Metadata on AnnotatedDataset.",
      "id": "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata",
      "properties": {
        "objectTrackingConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig",
          "description": "Configuration for video object tracking task."
        },
        "humanAnnotationConfig": {
          "description": "HumanAnnotationConfig used when requesting the human labeling task for this AnnotatedDataset.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "segmentationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1SegmentationConfig",
          "description": "Configuration for image segmentation task."
        },
        "imageClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
          "description": "Configuration for image classification task."
        },
        "polylineConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1PolylineConfig",
          "description": "Configuration for image polyline task."
        },
        "textEntityExtractionConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig",
          "description": "Configuration for text entity extraction task."
        },
        "objectDetectionConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectDetectionConfig",
          "description": "Configuration for video object detection task."
        },
        "videoClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationConfig",
          "description": "Configuration for video classification task."
        },
        "boundingPolyConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig",
          "description": "Configuration for image bounding box and bounding poly task."
        },
        "eventConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1EventConfig",
          "description": "Configuration for video event labeling task."
        },
        "textClassificationConfig": {
          "description": "Configuration for text classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1EvaluationConfig": {
      "properties": {
        "boundingBoxEvaluationOptions": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions",
          "description": "Only specify this field if the related model performs image object detection (`IMAGE_BOUNDING_BOX_ANNOTATION`). Describes how to evaluate bounding boxes."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1EvaluationConfig",
      "description": "Configuration details used for calculating evaluation metrics and creating an Evaluation.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1Evaluation": {
      "id": "GoogleCloudDatalabelingV1beta1Evaluation",
      "description": "Describes an evaluation between a machine learning model's predictions and ground truth labels. Created when an EvaluationJob runs successfully.",
      "type": "object",
      "properties": {
        "annotationType": {
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "type": "string",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "description": "Output only. Type of task that the model version being evaluated performs, as defined in the evaluationJobConfig.inputConfig.annotationType field of the evaluation job that created this evaluation."
        },
        "evaluationJobRunTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp for when the evaluation job that created this evaluation ran."
        },
        "evaluationMetrics": {
          "description": "Output only. Metrics comparing predictions to ground truth labels.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationMetrics"
        },
        "evaluatedItemCount": {
          "type": "string",
          "description": "Output only. The number of items in the ground truth dataset that were used for this evaluation. Only populated when the evaulation is for certain AnnotationTypes.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of an evaluation. The name has the following format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}'"
        },
        "createTime": {
          "description": "Output only. Timestamp for when this evaluation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "config": {
          "description": "Output only. Options used in the evaluation job that created this evaluation.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ImagePayload": {
      "description": "Container of information about an image.",
      "properties": {
        "signedUri": {
          "description": "Signed uri of the image file in the service bucket.",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "Image uri from the user bucket."
        },
        "imageThumbnail": {
          "description": "A byte string of a thumbnail image.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Image format."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ImagePayload"
    },
    "GoogleCloudDatalabelingV1beta1ExportDataOperationResponse": {
      "description": "Response used for ExportDataset longrunning operation.",
      "properties": {
        "labelStats": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelStats",
          "description": "Output only. Statistic infos of labels in the exported dataset."
        },
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "totalCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Total number of examples requested to export"
        },
        "outputConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1OutputConfig",
          "description": "Output only. output_config in the ExportData request."
        },
        "exportCount": {
          "format": "int32",
          "description": "Output only. Number of examples exported successfully.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ExportDataOperationResponse",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ImageClassificationConfig": {
      "properties": {
        "answerAggregationType": {
          "description": "Optional. The type of how to aggregate answers.",
          "enum": [
            "STRING_AGGREGATION_TYPE_UNSPECIFIED",
            "MAJORITY_VOTE",
            "UNANIMOUS_VOTE",
            "NO_AGGREGATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Majority vote to aggregate answers.",
            "Unanimous answers will be adopted.",
            "Preserve all answers by crowd compute."
          ]
        },
        "allowMultiLabel": {
          "type": "boolean",
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one image."
        },
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        }
      },
      "description": "Config for image classification human labeling task.",
      "id": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions": {
      "properties": {
        "iouThreshold": {
          "description": "Minimum [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) required for 2 bounding boxes to be considered a match. This must be a number between 0 and 1.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Options regarding evaluation between bounding boxes.",
      "id": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1OutputConfig": {
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudDatalabelingV1alpha1GcsDestination",
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
        },
        "gcsFolderDestination": {
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.",
          "$ref": "GoogleCloudDatalabelingV1alpha1GcsFolderDestination"
        }
      },
      "id": "GoogleCloudDatalabelingV1alpha1OutputConfig",
      "type": "object",
      "description": "The configuration of output data."
    },
    "GoogleCloudDatalabelingV1beta1InputConfig": {
      "type": "object",
      "description": "The configuration of input data, including data type, location, etc.",
      "properties": {
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "IMAGE",
            "VIDEO",
            "TEXT",
            "GENERAL_DATA"
          ],
          "type": "string",
          "description": "Required. Data type must be specifed when user tries to import data.",
          "enumDescriptions": [
            "Data type is unspecified.",
            "Allowed for continuous evaluation.",
            "Video data type.",
            "Allowed for continuous evaluation.",
            "Allowed for continuous evaluation."
          ]
        },
        "gcsSource": {
          "description": "Source located in Cloud Storage.",
          "$ref": "GoogleCloudDatalabelingV1beta1GcsSource"
        },
        "classificationMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1ClassificationMetadata",
          "description": "Optional. Metadata about annotations for the input. You must specify this field if you are using this InputConfig in an EvaluationJob for a model version that performs classification."
        },
        "bigquerySource": {
          "description": "Source located in BigQuery. You must specify this field if you are using this InputConfig in an EvaluationJob.",
          "$ref": "GoogleCloudDatalabelingV1beta1BigQuerySource"
        },
        "textMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextMetadata",
          "description": "Required for text import, as language code must be specified."
        },
        "annotationType": {
          "type": "string",
          "description": "Optional. The type of annotation to be performed on this data. You must specify this field if you are using this InputConfig in an EvaluationJob.",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ]
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1InputConfig"
    },
    "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse",
      "description": "Results for listing FeedbackMessages.",
      "properties": {
        "feedbackMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
          },
          "description": "The list of feedback messages to return."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageSegmentationOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageSegmentationOperationMetadata",
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1SegmentationConfig": {
      "type": "object",
      "properties": {
        "instructionMessage": {
          "description": "Instruction message showed on labelers UI.",
          "type": "string"
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name. format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1SegmentationConfig",
      "description": "Config for image segmentation"
    },
    "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata",
      "properties": {
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "dataset": {
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when import dataset request was created."
        }
      },
      "type": "object",
      "description": "Metadata of an ImportData operation."
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "description": "Details of a LabelVideoClassification operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1TextPayload": {
      "id": "GoogleCloudDatalabelingV1beta1TextPayload",
      "properties": {
        "textContent": {
          "type": "string",
          "description": "Text content."
        }
      },
      "type": "object",
      "description": "Container of information about a piece of text."
    },
    "GoogleCloudDatalabelingV1beta1AnnotationValue": {
      "properties": {
        "textClassificationAnnotation": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationAnnotation",
          "description": "Annotation value for text classification case."
        },
        "videoObjectTrackingAnnotation": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation",
          "description": "Annotation value for video object detection and tracking case."
        },
        "textEntityExtractionAnnotation": {
          "description": "Annotation value for text entity extraction case.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation"
        },
        "imageSegmentationAnnotation": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation",
          "description": "Annotation value for image segmentation."
        },
        "imageClassificationAnnotation": {
          "description": "Annotation value for image classification case.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationAnnotation"
        },
        "videoEventAnnotation": {
          "description": "Annotation value for video event case.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoEventAnnotation"
        },
        "imageBoundingPolyAnnotation": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation",
          "description": "Annotation value for image bounding box, oriented bounding box and polygon cases."
        },
        "imagePolylineAnnotation": {
          "description": "Annotation value for image polyline cases. Polyline here is different from BoundingPoly. It is formed by line segments connected to each other but not closed form(Bounding Poly). The line segments can cross each other.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation"
        },
        "videoClassificationAnnotation": {
          "description": "Annotation value for video classification case.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1AnnotationValue",
      "description": "Annotation value for an example.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata": {
      "type": "object",
      "description": "Metadata of a LabelImageClassification operation.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse": {
      "description": "Results for listing evaluation jobs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        },
        "evaluationJobs": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
          },
          "description": "The list of evaluation jobs to return.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig": {
      "description": "Configuration for how human labeling task should be done.",
      "properties": {
        "instruction": {
          "description": "Required. Instruction resource name.",
          "type": "string"
        },
        "userEmailAddress": {
          "type": "string",
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent."
        },
        "languageCode": {
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification.",
          "type": "string"
        },
        "annotatedDatasetDisplayName": {
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters .",
          "type": "string"
        },
        "questionDuration": {
          "format": "google-duration",
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.",
          "type": "string"
        },
        "contributorEmails": {
          "items": {
            "type": "string"
          },
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/",
          "type": "array"
        },
        "replicaCount": {
          "type": "integer",
          "description": "Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5.",
          "format": "int32"
        },
        "labelGroup": {
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`.",
          "type": "string"
        },
        "annotatedDatasetDescription": {
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
    },
    "GoogleCloudDatalabelingV1beta1CreateDatasetRequest": {
      "description": "Request message for CreateDataset.",
      "id": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest",
      "properties": {
        "dataset": {
          "description": "Required. The dataset to be created.",
          "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1PrCurve": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1PrCurve",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "The annotation spec of the label for which the precision-recall curve calculated. If this field is empty, that means the precision-recall curve is an aggregate curve for all labels."
        },
        "meanAveragePrecision": {
          "format": "float",
          "description": "Mean average prcision of this curve.",
          "type": "number"
        },
        "areaUnderCurve": {
          "type": "number",
          "format": "float",
          "description": "Area under the precision-recall curve. Not to be confused with area under a receiver operating characteristic (ROC) curve."
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Entries that make up the precision-recall graph. Each entry is a \"point\" on the graph drawn for a different `confidence_threshold`.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry"
          }
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ListExamplesResponse": {
      "id": "GoogleCloudDatalabelingV1beta1ListExamplesResponse",
      "properties": {
        "examples": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Example"
          },
          "description": "The list of examples to return.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      },
      "description": "Results of listing Examples in and annotated dataset.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageRequest": {
      "properties": {
        "imageClassificationConfig": {
          "description": "Configuration for image classification task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig"
        },
        "polylineConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1PolylineConfig",
          "description": "Configuration for polyline task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required."
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "CLASSIFICATION",
            "BOUNDING_BOX",
            "ORIENTED_BOUNDING_BOX",
            "BOUNDING_POLY",
            "POLYLINE",
            "SEGMENTATION"
          ],
          "enumDescriptions": [
            "",
            "Label whole image with one or more of labels.",
            "Label image with bounding boxes for labels.",
            "Label oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Label images with bounding poly. A bounding poly is a plane figure that is bounded by a finite chain of straight line segments closing in a loop.",
            "Label images with polyline. Polyline is formed by connected line segments which are not in closed form.",
            "Label images with segmentation. Segmentation is different from bounding poly since it is more fine-grained, pixel level annotation."
          ],
          "description": "Required. The type of image labeling task.",
          "type": "string"
        },
        "basicConfig": {
          "description": "Required. Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "boundingPolyConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig",
          "description": "Configuration for bounding box and bounding poly task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required."
        },
        "segmentationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1SegmentationConfig",
          "description": "Configuration for segmentation task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageRequest",
      "description": "Request message for starting an image labeling task."
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata": {
      "description": "Metadata of a LabelImageClassification operation.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse",
      "properties": {
        "exampleComparisons": {
          "description": "A list of example comparisons matching the search criteria.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ExampleComparison"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      },
      "description": "Results of searching example comparisons."
    },
    "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig": {
      "id": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
      "properties": {
        "userEmailAddress": {
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent.",
          "type": "string"
        },
        "instruction": {
          "description": "Required. Instruction resource name.",
          "type": "string"
        },
        "contributorEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/"
        },
        "languageCode": {
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification.",
          "type": "string"
        },
        "annotatedDatasetDescription": {
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.",
          "type": "string"
        },
        "replicaCount": {
          "type": "integer",
          "description": "Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5.",
          "format": "int32"
        },
        "labelGroup": {
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`.",
          "type": "string"
        },
        "questionDuration": {
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "annotatedDatasetDisplayName": {
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters .",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for how human labeling task should be done."
    },
    "GoogleCloudDatalabelingV1beta1Polyline": {
      "id": "GoogleCloudDatalabelingV1beta1Polyline",
      "type": "object",
      "properties": {
        "vertices": {
          "type": "array",
          "description": "The polyline vertices.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Vertex"
          }
        }
      },
      "description": "A line with multiple line segments."
    },
    "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame": {
      "id": "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame",
      "type": "object",
      "description": "Video frame level annotation for object detection and tracking.",
      "properties": {
        "boundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPoly"
        },
        "normalizedBoundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly"
        },
        "timeOffset": {
          "description": "The time offset of this frame relative to the beginning of the video.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1CreateInstructionRequest": {
      "id": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest",
      "properties": {
        "instruction": {
          "description": "Required. Instruction of how to perform the labeling task.",
          "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
        }
      },
      "type": "object",
      "description": "Request message for CreateInstruction."
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelTextEntityExtractionOperationMetadata": {
      "description": "Details of a LabelTextEntityExtraction operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelTextEntityExtractionOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1Vertex": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1Vertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "properties": {
        "x": {
          "type": "integer",
          "description": "X coordinate.",
          "format": "int32"
        },
        "y": {
          "format": "int32",
          "type": "integer",
          "description": "Y coordinate."
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageSegmentationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config."
        }
      },
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageSegmentationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1BigQuerySource": {
      "properties": {
        "inputUri": {
          "description": "Required. BigQuery URI to a table, up to 2,000 characters long. If you specify the URI of a table that does not exist, Data Labeling Service creates a table at the URI with the correct schema when you create your EvaluationJob. If you specify the URI of a table that already exists, it must have the [correct schema](/ml-engine/docs/continuous-evaluation/create-job#table-schema). Provide the table URI in the following format: \"bq://{your_project_id}/ {your_dataset_name}/{your_table_name}\" [Learn more](/ml-engine/docs/continuous-evaluation/create-job#table-schema).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1BigQuerySource",
      "description": "The BigQuery location for input data. If used in an EvaluationJob, this is where the service saves the prediction input and output sampled from the model version."
    },
    "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation": {
      "type": "object",
      "properties": {
        "imageBytes": {
          "description": "A byte string of a full image's color map.",
          "format": "byte",
          "type": "string"
        },
        "annotationColors": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
          },
          "type": "object",
          "description": "The mapping between rgb color and annotation spec. The key is the rgb color represented in format of rgb(0, 0, 0). The value is the AnnotationSpec."
        },
        "mimeType": {
          "description": "Image format.",
          "type": "string"
        }
      },
      "description": "Image segmentation annotation.",
      "id": "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation"
    },
    "GoogleCloudDatalabelingV1beta1EvaluationMetrics": {
      "type": "object",
      "properties": {
        "classificationMetrics": {
          "$ref": "GoogleCloudDatalabelingV1beta1ClassificationMetrics"
        },
        "objectDetectionMetrics": {
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectDetectionMetrics"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1EvaluationMetrics"
    },
    "GoogleCloudDatalabelingV1beta1ObjectDetectionMetrics": {
      "id": "GoogleCloudDatalabelingV1beta1ObjectDetectionMetrics",
      "type": "object",
      "description": "Metrics calculated for an image object detection (bounding box) model.",
      "properties": {
        "prCurve": {
          "$ref": "GoogleCloudDatalabelingV1beta1PrCurve",
          "description": "Precision-recall curve."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly": {
      "id": "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly",
      "type": "object",
      "properties": {
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices.",
          "type": "array"
        }
      },
      "description": "Normalized bounding polygon."
    },
    "GoogleCloudDatalabelingV1beta1NormalizedVertex": {
      "type": "object",
      "properties": {
        "y": {
          "description": "Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "x": {
          "format": "float",
          "type": "number",
          "description": "X coordinate."
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "GoogleCloudDatalabelingV1beta1NormalizedVertex"
    },
    "GoogleCloudDatalabelingV1beta1AnnotatedDataset": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotatedDataset",
      "properties": {
        "labelStats": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelStats",
          "description": "Output only. Per label statistics."
        },
        "metadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata",
          "description": "Output only. Additional information about AnnotatedDataset."
        },
        "blockingResources": {
          "description": "Output only. The names of any related resources that are blocking changes to the annotated dataset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "annotationType": {
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "type": "string",
          "description": "Output only. Type of the annotation. It is specified when starting labeling task."
        },
        "exampleCount": {
          "description": "Output only. Number of examples in the annotated dataset.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Output only. The display name of the AnnotatedDataset. It is specified in HumanAnnotationConfig when user starts a labeling task. Maximum of 64 characters.",
          "type": "string"
        },
        "completedExampleCount": {
          "type": "string",
          "description": "Output only. Number of examples that have annotation in the annotated dataset.",
          "format": "int64"
        },
        "description": {
          "description": "Output only. The description of the AnnotatedDataset. It is specified in HumanAnnotationConfig when user starts a labeling task. Maximum of 10000 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the AnnotatedDataset was created."
        },
        "name": {
          "type": "string",
          "description": "Output only. AnnotatedDataset resource name in format of: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}"
        },
        "annotationSource": {
          "enumDescriptions": [
            "",
            "Answer is provided by a human contributor."
          ],
          "enum": [
            "ANNOTATION_SOURCE_UNSPECIFIED",
            "OPERATOR"
          ],
          "type": "string",
          "description": "Output only. Source of the annotation."
        }
      },
      "type": "object",
      "description": "AnnotatedDataset is a set holding annotations for data in a Dataset. Each labeling task will generate an AnnotatedDataset under the Dataset that the task is requested for."
    },
    "GoogleCloudDatalabelingV1alpha1ExportDataOperationResponse": {
      "description": "Response used for ExportDataset longrunning operation.",
      "id": "GoogleCloudDatalabelingV1alpha1ExportDataOperationResponse",
      "type": "object",
      "properties": {
        "exportCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples exported successfully."
        },
        "labelStats": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelStats",
          "description": "Output only. Statistic infos of labels in the exported dataset."
        },
        "totalCount": {
          "type": "integer",
          "description": "Output only. Total number of examples requested to export",
          "format": "int32"
        },
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "outputConfig": {
          "description": "Output only. output_config in the ExportData request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1OutputConfig"
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1SentimentConfig": {
      "properties": {
        "enableLabelSentimentSelection": {
          "type": "boolean",
          "description": "If set to true, contributors will have the option to select sentiment of the label they selected, to mark it as negative or positive label. Default is false."
        }
      },
      "description": "Config for setting up sentiments.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1SentimentConfig"
    },
    "GoogleCloudDatalabelingV1beta1ExportDataOperationMetadata": {
      "description": "Metadata of an ExportData operation.",
      "type": "object",
      "properties": {
        "dataset": {
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when export dataset request was created."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ExportDataOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1ListDatasetsResponse": {
      "type": "object",
      "description": "Results of listing datasets within a project.",
      "id": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse",
      "properties": {
        "datasets": {
          "description": "The list of datasets to return.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ImportDataRequest": {
      "type": "object",
      "properties": {
        "inputConfig": {
          "description": "Required. Specify the input source of the data.",
          "$ref": "GoogleCloudDatalabelingV1beta1InputConfig"
        },
        "userEmailAddress": {
          "description": "Email of the user who started the import task and should be notified by email. If empty no notification will be sent.",
          "type": "string"
        }
      },
      "description": "Request message for ImportData API.",
      "id": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelTextClassificationOperationMetadata": {
      "description": "Details of a LabelTextClassification operation metadata.",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelTextClassificationOperationMetadata",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectDetectionOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation": {
      "description": "Image bounding poly annotation. It represents a polygon including bounding box in the image.",
      "type": "object",
      "properties": {
        "boundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPoly"
        },
        "normalizedBoundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly"
        },
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of object in this bounding polygon."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation"
    },
    "GoogleCloudDatalabelingV1beta1NormalizedPolyline": {
      "type": "object",
      "properties": {
        "normalizedVertices": {
          "description": "The normalized polyline vertices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1NormalizedVertex"
          }
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1NormalizedPolyline",
      "description": "Normalized polyline."
    },
    "GoogleCloudDatalabelingV1beta1LabelOperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when labeling request was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "imageClassificationDetails": {
          "description": "Details of label image classification operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "imageBoundingPolyDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata",
          "description": "Details of label image bounding poly operation."
        },
        "textEntityExtractionDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata",
          "description": "Details of label text entity extraction operation."
        },
        "videoClassificationDetails": {
          "description": "Details of label video classification operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata"
        },
        "textClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelTextClassificationOperationMetadata",
          "description": "Details of label text classification operation."
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Progress of label operation. Range: [0, 100]."
        },
        "imageBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata",
          "description": "Details of label image bounding box operation."
        },
        "imageOrientedBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata",
          "description": "Details of label image oriented bounding box operation."
        },
        "videoObjectTrackingDetails": {
          "description": "Details of label video object tracking operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata"
        },
        "videoEventDetails": {
          "description": "Details of label video event operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoEventOperationMetadata"
        },
        "imagePolylineDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImagePolylineOperationMetadata",
          "description": "Details of label image polyline operation."
        },
        "imageSegmentationDetails": {
          "description": "Details of label image segmentation operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata"
        },
        "dataset": {
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        },
        "videoObjectDetectionDetails": {
          "description": "Details of label video object detection operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata"
        }
      },
      "type": "object",
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23",
      "id": "GoogleCloudDatalabelingV1beta1LabelOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse": {
      "properties": {
        "annotationSpecSets": {
          "type": "array",
          "description": "The list of annotation spec sets.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse",
      "description": "Results of listing annotation spec set under a project.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata": {
      "description": "Metadata describing the feedback from the operator.",
      "id": "GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1OutputConfig": {
      "id": "GoogleCloudDatalabelingV1p1alpha1OutputConfig",
      "properties": {
        "gcsFolderDestination": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination",
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
        },
        "gcsDestination": {
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1GcsDestination"
        }
      },
      "type": "object",
      "description": "The configuration of output data."
    },
    "GoogleCloudDatalabelingV1alpha1ImportDataOperationResponse": {
      "id": "GoogleCloudDatalabelingV1alpha1ImportDataOperationResponse",
      "properties": {
        "totalCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Total number of examples requested to import"
        },
        "importCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples imported successfully."
        },
        "dataset": {
          "description": "Ouptut only. The name of imported dataset.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response used for ImportData longrunning operation."
    },
    "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation": {
      "description": "Video object tracking annotation.",
      "id": "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation",
      "type": "object",
      "properties": {
        "timeSegment": {
          "description": "The time segment of the video to which object tracking applies.",
          "$ref": "GoogleCloudDatalabelingV1beta1TimeSegment"
        },
        "annotationSpec": {
          "description": "Label of the object tracked in this annotation.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        },
        "objectTrackingFrames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame"
          },
          "description": "The list of frames where this object track appears."
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelStats": {
      "properties": {
        "exampleCount": {
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      },
      "description": "Statistics about annotation specs.",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelStats",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1OutputConfig": {
      "id": "GoogleCloudDatalabelingV1p2alpha1OutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsDestination"
        },
        "gcsFolderDestination": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination",
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
        }
      },
      "type": "object",
      "description": "The configuration of output data."
    },
    "GoogleCloudDatalabelingV1beta1ListInstructionsResponse": {
      "properties": {
        "instructions": {
          "type": "array",
          "description": "The list of Instructions to return.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse",
      "description": "Results of listing instructions under a project.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelStats": {
      "type": "object",
      "description": "Statistics about annotation specs.",
      "properties": {
        "exampleCount": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations."
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelStats"
    },
    "GoogleCloudDatalabelingV1beta1CsvInstruction": {
      "properties": {
        "gcsFileUri": {
          "description": "CSV file for the instruction. Only gcs path is allowed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1CsvInstruction",
      "description": "Deprecated: this instruction format is not supported any more. Instruction from a CSV file."
    },
    "GoogleCloudDatalabelingV1beta1BoundingPoly": {
      "type": "object",
      "description": "A bounding polygon in the image.",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Vertex"
          },
          "type": "array",
          "description": "The bounding polygon vertices."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1BoundingPoly"
    },
    "GoogleCloudDatalabelingV1beta1SequentialSegment": {
      "properties": {
        "start": {
          "description": "Start position (inclusive).",
          "format": "int32",
          "type": "integer"
        },
        "end": {
          "format": "int32",
          "description": "End position (exclusive).",
          "type": "integer"
        }
      },
      "description": "Start and end position in a sequence (e.g. text segment).",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1SequentialSegment"
    },
    "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata": {
      "description": "Metadata of an ImportData operation.",
      "type": "object",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when import dataset request was created.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationResponse": {
      "properties": {
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        },
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "labelStats": {
          "description": "Output only. Statistic infos of labels in the exported dataset.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelStats"
        },
        "totalCount": {
          "type": "integer",
          "description": "Output only. Total number of examples requested to export",
          "format": "int32"
        },
        "exportCount": {
          "type": "integer",
          "description": "Output only. Number of examples exported successfully.",
          "format": "int32"
        },
        "outputConfig": {
          "description": "Output only. output_config in the ExportData request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1OutputConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationResponse",
      "type": "object",
      "description": "Response used for ExportDataset longrunning operation."
    },
    "GoogleCloudDatalabelingV1beta1DataItem": {
      "properties": {
        "videoPayload": {
          "description": "The video payload, a container of the video uri.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoPayload"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the data item, in format of: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}"
        },
        "imagePayload": {
          "description": "The image payload, a container of the image bytes/uri.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePayload"
        },
        "textPayload": {
          "description": "The text payload, a container of text content.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextPayload"
        }
      },
      "description": "DataItem is a piece of data, without annotation. For example, an image.",
      "id": "GoogleCloudDatalabelingV1beta1DataItem",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1GcsDestination": {
      "properties": {
        "outputUri": {
          "description": "Required. The output uri of destination file.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported."
        }
      },
      "description": "Export destination of the data.Only gcs path is allowed in output_uri.",
      "id": "GoogleCloudDatalabelingV1alpha1GcsDestination",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata",
      "type": "object",
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "properties": {
        "basicConfig": {
[...]
