{
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "title": "Dataflow API",
  "schemas": {
    "StreamingComputationTask": {
      "properties": {
        "dataDisks": {
          "type": "array",
          "items": {
            "$ref": "MountedDataDisk"
          },
          "description": "Describes the set of data disks this task should apply to."
        },
        "taskType": {
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "description": "A type of streaming computation task.",
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "type": "string"
        },
        "computationRanges": {
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "type": "array",
          "description": "Contains ranges of a streaming computation this task should apply to."
        }
      },
      "description": "A task which describes what action should be performed for the specified streaming computation ranges.",
      "id": "StreamingComputationTask",
      "type": "object"
    },
    "TaskRunnerSettings": {
      "properties": {
        "workflowFileName": {
          "description": "The file to store the workflow in.",
          "type": "string"
        },
        "dataflowApiVersion": {
          "type": "string",
          "description": "The API version of endpoint, e.g. \"v1b3\""
        },
        "taskUser": {
          "type": "string",
          "description": "The UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\"."
        },
        "streamingWorkerMainClass": {
          "type": "string",
          "description": "The streaming worker main class name."
        },
        "oauthScopes": {
          "items": {
            "type": "string"
          },
          "description": "The OAuth2 scopes to be requested by the taskrunner in order to access the Cloud Dataflow API.",
          "type": "array"
        },
        "baseTaskDir": {
          "description": "The location on the worker for task-specific subdirectories.",
          "type": "string"
        },
        "alsologtostderr": {
          "description": "Whether to also send taskrunner log info to stderr.",
          "type": "boolean"
        },
        "vmId": {
          "description": "The ID string of the VM.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the taskrunner should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "logUploadLocation": {
          "description": "Indicates where to put logs. If this is not specified, the logs will not be uploaded. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "continueOnException": {
          "description": "Whether to continue taskrunner if an exception is hit.",
          "type": "boolean"
        },
        "parallelWorkerSettings": {
          "$ref": "WorkerSettings",
          "description": "The settings to pass to the parallel worker harness."
        },
        "taskGroup": {
          "type": "string",
          "description": "The UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\"."
        },
        "logToSerialconsole": {
          "description": "Whether to send taskrunner log info to Google Compute Engine VM serial console.",
          "type": "boolean"
        },
        "languageHint": {
          "description": "The suggested backend language.",
          "type": "string"
        },
        "harnessCommand": {
          "type": "string",
          "description": "The command to launch the worker harness."
        },
        "baseUrl": {
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "commandlinesFileName": {
          "type": "string",
          "description": "The file to store preprocessing commands in."
        },
        "logDir": {
          "description": "The directory on the VM to store logs.",
          "type": "string"
        }
      },
      "description": "Taskrunner configuration settings.",
      "id": "TaskRunnerSettings",
      "type": "object"
    },
    "CounterStructuredName": {
      "id": "CounterStructuredName",
      "type": "object",
      "properties": {
        "originalStepName": {
          "type": "string",
          "description": "System generated name of the original step in the user's graph, before optimization."
        },
        "origin": {
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "type": "string",
          "description": "One of the standard Origins defined above."
        },
        "executionStepName": {
          "type": "string",
          "description": "Name of the stage. An execution step contains multiple component steps."
        },
        "originNamespace": {
          "type": "string",
          "description": "A string containing a more specific namespace of the counter's origin."
        },
        "name": {
          "type": "string",
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required."
        },
        "componentStepName": {
          "type": "string",
          "description": "Name of the optimized step being executed by the workers."
        },
        "portion": {
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "type": "string",
          "description": "Portion of this counter, either key or value."
        },
        "inputIndex": {
          "format": "int32",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them.",
          "type": "integer"
        },
        "workerId": {
          "description": "ID of a particular worker.",
          "type": "string"
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        }
      },
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job."
    },
    "FloatingPointMean": {
      "description": "A representation of a floating point mean metric contribution.",
      "id": "FloatingPointMean",
      "type": "object",
      "properties": {
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        },
        "sum": {
          "description": "The sum of all values being aggregated.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "DerivedSource": {
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source."
        },
        "derivationMode": {
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string",
          "description": "What source to base the produced source on (if any)."
        }
      },
      "id": "DerivedSource",
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split."
    },
    "StringList": {
      "id": "StringList",
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Elements of the list."
        }
      },
      "description": "A metric value representing a list of strings.",
      "type": "object"
    },
    "DatastoreIODetails": {
      "id": "DatastoreIODetails",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "namespace": {
          "description": "Namespace used in the connection.",
          "type": "string"
        }
      },
      "description": "Metadata for a Datastore connector used by the job."
    },
    "JobMessage": {
      "properties": {
        "messageImportance": {
          "description": "Importance level of the message.",
          "type": "string",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ]
        },
        "messageText": {
          "type": "string",
          "description": "The text of the message."
        },
        "id": {
          "description": "Deprecated.",
          "type": "string"
        },
        "time": {
          "description": "The timestamp of the message.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "JobMessage",
      "description": "A particular message pertaining to a Dataflow job.",
      "type": "object"
    },
    "MultiOutputInfo": {
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      },
      "description": "Information about an output of a multi-output DoFn.",
      "id": "MultiOutputInfo",
      "type": "object"
    },
    "LaunchFlexTemplateRequest": {
      "type": "object",
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        }
      },
      "id": "LaunchFlexTemplateRequest",
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate."
    },
    "HotKeyDetection": {
      "type": "object",
      "id": "HotKeyDetection",
      "properties": {
        "hotKeyAge": {
          "format": "google-duration",
          "type": "string",
          "description": "The age of the hot key measured from when it was first detected."
        },
        "userStepName": {
          "description": "User-provided name of the step that contains this hot key.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of the step containing this hot key. Unique across the workflow.",
          "type": "string"
        }
      },
      "description": "Proto describing a hot key detected on a given WorkItem."
    },
    "SourceSplitOptions": {
      "id": "SourceSplitOptions",
      "type": "object",
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest.",
      "properties": {
        "desiredShardSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "DEPRECATED in favor of desired_bundle_size_bytes."
        },
        "desiredBundleSizeBytes": {
          "type": "string",
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes.",
          "format": "int64"
        }
      }
    },
    "SdkHarnessContainerImage": {
      "id": "SdkHarnessContainerImage",
      "type": "object",
      "properties": {
        "capabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)"
        },
        "containerImage": {
          "description": "A docker container image that resides in Google Container Registry.",
          "type": "string"
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
        },
        "environmentId": {
          "type": "string",
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness."
        }
      },
      "description": "Defines an SDK harness container for executing Dataflow pipelines."
    },
    "SourceGetMetadataResponse": {
      "properties": {
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "The computed metadata."
        }
      },
      "type": "object",
      "id": "SourceGetMetadataResponse",
      "description": "The result of a SourceGetMetadataOperation."
    },
    "ListJobMessagesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        },
        "autoscalingEvents": {
          "description": "Autoscaling events in ascending timestamp order.",
          "items": {
            "$ref": "AutoscalingEvent"
          },
          "type": "array"
        },
        "jobMessages": {
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array",
          "description": "Messages in ascending timestamp order."
        }
      },
      "type": "object",
      "id": "ListJobMessagesResponse",
      "description": "Response to a request to list job messages."
    },
    "ListJobsResponse": {
      "type": "object",
      "properties": {
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "type": "array",
          "description": "A subset of the requested job information."
        },
        "failedLocation": {
          "type": "array",
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "items": {
            "$ref": "FailedLocation"
          }
        },
        "nextPageToken": {
          "description": "Set if there may be more results than fit in this response.",
          "type": "string"
        }
      },
      "id": "ListJobsResponse",
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}."
    },
    "LaunchFlexTemplateResponse": {
      "type": "object",
      "description": "Response to the request to launch a job from Flex Template.",
      "id": "LaunchFlexTemplateResponse",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "Step": {
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "id": "Step",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job."
        },
        "kind": {
          "type": "string",
          "description": "The kind of step in the Cloud Dataflow job."
        },
        "properties": {
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "TemplateMetadata": {
      "description": "Metadata describing a template.",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array",
          "description": "The parameters for the template."
        },
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        }
      },
      "id": "TemplateMetadata",
      "type": "object"
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime",
      "properties": {
        "rate": {
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "format": "double",
          "type": "number"
        },
        "totalMs": {
          "format": "uint64",
          "type": "string",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the measurement."
        }
      },
      "type": "object"
    },
    "StreamingComputationRanges": {
      "type": "object",
      "description": "Describes full or partial data disk assignment information of the computation ranges.",
      "properties": {
        "computationId": {
          "type": "string",
          "description": "The ID of the computation."
        },
        "rangeAssignments": {
          "type": "array",
          "description": "Data disk assignments for ranges from this computation.",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          }
        }
      },
      "id": "StreamingComputationRanges"
    },
    "GetDebugConfigRequest": {
      "type": "object",
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        },
        "componentId": {
          "description": "The internal component id for which debug configuration is requested.",
          "type": "string"
        }
      },
      "description": "Request to get updated debug configuration for component.",
      "id": "GetDebugConfigRequest"
    },
    "ApproximateSplitRequest": {
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "type": "object",
      "id": "ApproximateSplitRequest",
      "properties": {
        "fractionOfRemainder": {
          "type": "number",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "format": "double"
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input).",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ContainerSpec": {
      "properties": {
        "sdkInfo": {
          "description": "Required. SDK info of the Flex Template.",
          "$ref": "SDKInfo"
        },
        "image": {
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image",
          "type": "string"
        },
        "imageRepositoryPasswordSecretId": {
          "description": "Secret Manager secret id for password to authenticate to private registry.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata describing a template including description and validation rules.",
          "$ref": "TemplateMetadata"
        },
        "defaultEnvironment": {
          "description": "Default runtime environment for the job.",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "imageRepositoryUsernameSecretId": {
          "type": "string",
          "description": "Secret Manager secret id for username to authenticate to private registry."
        },
        "imageRepositoryCertPath": {
          "type": "string",
          "description": "Cloud Storage path to self-signed certificate of private registry."
        }
      },
      "id": "ContainerSpec",
      "type": "object",
      "description": "Container Spec."
    },
    "WorkerPool": {
      "type": "object",
      "properties": {
        "teardownPolicy": {
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ],
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ],
          "type": "string"
        },
        "numWorkers": {
          "format": "int32",
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer"
        },
        "diskType": {
          "type": "string",
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "diskSourceImage": {
          "type": "string",
          "description": "Fully qualified source image for disks."
        },
        "zone": {
          "type": "string",
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string"
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "workerHarnessContainerImage": {
          "type": "string",
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead."
        },
        "packages": {
          "type": "array",
          "items": {
            "$ref": "Package"
          },
          "description": "Packages to be installed on workers."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported."
        },
        "poolArgs": {
          "type": "object",
          "description": "Extra arguments for this worker pool.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "machineType": {
          "type": "string",
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "sdkHarnessContainerImages": {
          "items": {
            "$ref": "SdkHarnessContainerImage"
          },
          "type": "array",
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries."
        },
        "autoscalingSettings": {
          "$ref": "AutoscalingSettings",
          "description": "Settings for autoscaling of this WorkerPool."
        },
        "taskrunnerSettings": {
          "$ref": "TaskRunnerSettings",
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field."
        },
        "onHostMaintenance": {
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\"."
        },
        "defaultPackageSet": {
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage packages typically useful to workers written in Python."
          ],
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ],
          "type": "string"
        },
        "dataDisks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Data disks that are used by a VM in this workflow.",
          "type": "array"
        },
        "metadata": {
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "numThreadsPerWorker": {
          "type": "integer",
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming).",
          "format": "int32"
        }
      },
      "id": "WorkerPool",
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job."
    },
    "LaunchFlexTemplateParameter": {
      "description": "Launch FlexTemplate Parameter.",
      "id": "LaunchFlexTemplateParameter",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containerSpec": {
          "description": "Spec about the container image to launch.",
          "$ref": "ContainerSpec"
        },
        "containerSpecGcsPath": {
          "type": "string",
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content."
        },
        "launchOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters."
        },
        "update": {
          "type": "boolean",
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job."
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "transformNameMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'"
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job."
        }
      }
    },
    "Point": {
      "type": "object",
      "description": "A point in the timeseries.",
      "properties": {
        "value": {
          "description": "The value of the point.",
          "format": "double",
          "type": "number"
        },
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of the point."
        }
      },
      "id": "Point"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Sink": {
      "id": "Sink",
      "description": "A sink that records can be encoded and written to.",
      "type": "object",
      "properties": {
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The codec to use to encode data written to the sink."
        },
        "spec": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The sink to write to, plus its parameters."
        }
      }
    },
    "WorkerMessageCode": {
      "id": "WorkerMessageCode",
      "properties": {
        "code": {
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "type": "object"
    },
    "PubSubIODetails": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "Topic accessed in the connection."
        },
        "subscription": {
          "type": "string",
          "description": "Subscription used in the connection."
        }
      },
      "description": "Metadata for a Pub/Sub connector used by the job.",
      "id": "PubSubIODetails",
      "type": "object"
    },
    "WorkerHealthReportResponse": {
      "id": "WorkerHealthReportResponse",
      "type": "object",
      "description": "WorkerHealthReportResponse contains information returned to the worker in response to a health ping.",
      "properties": {
        "reportInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "A positive value indicates the worker should change its reporting interval to the specified value. The default value of zero means no change in report rate is requested by the server."
        }
      }
    },
    "ComponentSource": {
      "properties": {
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        }
      },
      "type": "object",
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "id": "ComponentSource"
    },
    "Environment": {
      "description": "Describes the environment in which a Dataflow Job runs.",
      "properties": {
        "version": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A structure describing which components and their versions of the service are required in order to run the job."
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        },
        "flexResourceSchedulingGoal": {
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "description": "Which Flexible Resource Scheduling mode to run in.",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}"
        },
        "workerPools": {
          "type": "array",
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
          "items": {
            "$ref": "WorkerPool"
          }
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Any debugging options to be supplied to the job."
        },
        "sdkPipelineOptions": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "type": "object"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Identity to run virtual machines as. Defaults to the default account."
        },
        "experiments": {
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userAgent": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A description of the process that generated the request."
        },
        "shuffleMode": {
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "description": "Output only. The shuffle mode used for the job.",
          "readOnly": true,
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ],
          "type": "string"
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "internalExperiments": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Experimental settings."
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "serviceOptions": {
          "type": "array",
          "description": "The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on).",
          "items": {
            "type": "string"
          }
        },
        "clusterManagerApiService": {
          "type": "string",
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\"."
        }
      },
      "id": "Environment",
      "type": "object"
    },
    "KeyRangeLocation": {
      "properties": {
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "deliveryEndpoint": {
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "deprecatedPersistentDirectory": {
          "type": "string",
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem."
        }
      },
      "type": "object",
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "id": "KeyRangeLocation"
    },
    "CounterStructuredNameAndMetadata": {
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "properties": {
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        },
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        }
      },
      "id": "CounterStructuredNameAndMetadata",
      "type": "object"
    },
    "SourceSplitRequest": {
      "type": "object",
      "properties": {
        "options": {
          "description": "Hints for tuning the splitting process.",
          "$ref": "SourceSplitOptions"
        },
        "source": {
          "$ref": "Source",
          "description": "Specification of the source to be split."
        }
      },
      "id": "SourceSplitRequest",
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it."
    },
    "SourceFork": {
      "properties": {
        "primary": {
          "$ref": "SourceSplitShard",
          "description": "DEPRECATED"
        },
        "primarySource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        },
        "residualSource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        },
        "residual": {
          "$ref": "SourceSplitShard",
          "description": "DEPRECATED"
        }
      },
      "description": "DEPRECATED in favor of DynamicSourceSplit.",
      "id": "SourceFork",
      "type": "object"
    },
    "LeaseWorkItemResponse": {
      "description": "Response to a request to lease WorkItems.",
      "properties": {
        "workItems": {
          "items": {
            "$ref": "WorkItem"
          },
          "description": "A list of the leased WorkItems.",
          "type": "array"
        },
        "unifiedWorkerResponse": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker."
        }
      },
      "type": "object",
      "id": "LeaseWorkItemResponse"
    },
    "FlexTemplateRuntimeEnvironment": {
      "id": "FlexTemplateRuntimeEnvironment",
      "properties": {
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "launcherMachineType": {
          "description": "The machine type to use for launching the job. The default is n1-standard-1.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "flexrsGoal": {
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "type": "string"
        },
        "additionalExperiments": {
          "type": "array",
          "description": "Additional experiment flags for the job.",
          "items": {
            "type": "string"
          }
        },
        "numWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The initial number of Google Compute Engine instances for the job."
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "maxWorkers": {
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "saveHeapDumpsToGcsPath": {
          "type": "string",
          "description": "Cloud Storage bucket (directory) to upload heap dumps to. Enabling this field implies that `dump_heap_on_oom` is set to true."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "workerZone": {
          "type": "string",
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "tempLocation": {
          "type": "string",
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "sdkContainerImage": {
          "type": "string",
          "description": "Docker registry location of container image to use for the 'worker harness. Default is the container for the version of the SDK. Note this field is only valid for portable pipelines."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "dumpHeapOnOom": {
          "type": "boolean",
          "description": "If true, when processing time is spent almost entirely on garbage collection (GC), saves a heap dump before ending the thread or process. If false, ends the thread or process without saving a heap dump. Does not save a heap dump when the Java Virtual Machine (JVM) has an out of memory error during processing. The location of the heap file is either echoed back to the user, or the user is given the opportunity to download the heap file."
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Worker disk size, in gigabytes.",
          "format": "int32"
        },
        "autoscalingAlgorithm": {
          "type": "string",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "description": "The algorithm to use for autoscaling",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ]
        },
        "additionalUserLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "stagingLocation": {
          "description": "The Cloud Storage path for staging local files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        }
      },
      "description": "The environment values to be set at runtime for flex template.",
      "type": "object"
    },
    "StageSource": {
      "type": "object",
      "description": "Description of an input or output of an execution stage.",
      "id": "StageSource",
      "properties": {
        "userName": {
          "type": "string",
          "description": "Human-readable name for this source; may be user or system generated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "sizeBytes": {
          "description": "Size of the source, if measurable.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ApproximateProgress": {
      "id": "ApproximateProgress",
      "properties": {
        "position": {
          "description": "Obsolete.",
          "$ref": "Position"
        },
        "remainingTime": {
          "description": "Obsolete.",
          "format": "google-duration",
          "type": "string"
        },
        "percentComplete": {
          "format": "float",
          "type": "number",
          "description": "Obsolete."
        }
      },
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "type": "object"
    },
    "KeyRangeDataDiskAssignment": {
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "properties": {
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "KeyRangeDataDiskAssignment"
    },
    "IntegerGauge": {
      "properties": {
        "value": {
          "$ref": "SplitInt64",
          "description": "The value of the variable represented by this gauge."
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this value was measured. Measured as msecs from epoch."
        }
      },
      "id": "IntegerGauge",
      "description": "A metric value representing temporal values of a variable.",
      "type": "object"
    },
    "DisplayData": {
      "properties": {
        "key": {
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system.",
          "type": "string"
        },
        "shortStrValue": {
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip.",
          "type": "string"
        },
        "url": {
          "description": "An optional full URL.",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering."
        },
        "strValue": {
          "description": "Contains value if the data is of string type.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Contains value if the data is of a boolean type."
        },
        "label": {
          "type": "string",
          "description": "An optional label to display in a dax UI for the element."
        },
        "durationValue": {
          "type": "string",
          "format": "google-duration",
          "description": "Contains value if the data is of duration type."
        },
        "floatValue": {
          "description": "Contains value if the data is of float type.",
          "format": "float",
          "type": "number"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "Contains value if the data is of timestamp type."
        },
        "int64Value": {
          "description": "Contains value if the data is of int64 type.",
          "type": "string",
          "format": "int64"
        },
        "javaClassValue": {
          "type": "string",
          "description": "Contains value if the data is of java class type."
        }
      },
      "description": "Data provided with a pipeline or transform to provide descriptive info.",
      "type": "object",
      "id": "DisplayData"
    },
    "IntegerList": {
      "id": "IntegerList",
      "type": "object",
      "description": "A metric value representing a list of integers.",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "items": {
            "$ref": "SplitInt64"
          },
          "type": "array"
        }
      }
    },
    "ParameterMetadata": {
      "description": "Metadata for a specific parameter.",
      "properties": {
        "customMetadata": {
          "description": "Optional. Additional metadata for describing this parameter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "regexes": {
          "type": "array",
          "description": "Optional. Regexes that the parameter must match.",
          "items": {
            "type": "string"
          }
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "paramType": {
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION"
          ],
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "type": "string",
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription."
          ]
        },
        "isOptional": {
          "type": "boolean",
          "description": "Optional. Whether the parameter is optional. Defaults to false."
        },
        "helpText": {
          "type": "string",
          "description": "Required. The help text to display for the parameter."
        }
      },
      "type": "object",
      "id": "ParameterMetadata"
    },
    "StreamingSetupTask": {
      "properties": {
        "receiveWorkPort": {
          "format": "int32",
          "type": "integer",
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers."
        },
        "drain": {
          "type": "boolean",
          "description": "The user has requested drain."
        },
        "workerHarnessPort": {
          "format": "int32",
          "type": "integer",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness."
        },
        "streamingComputationTopology": {
          "description": "The global topology of the streaming Dataflow job.",
          "$ref": "TopologyConfig"
        },
        "snapshotConfig": {
          "description": "Configures streaming appliance snapshot.",
          "$ref": "StreamingApplianceSnapshotConfig"
        }
      },
      "description": "A task which initializes part of a streaming Dataflow job.",
      "type": "object",
      "id": "StreamingSetupTask"
    },
    "SendDebugCaptureResponse": {
      "description": "Response to a send capture request. nothing",
      "type": "object",
      "id": "SendDebugCaptureResponse",
      "properties": {}
    },
    "FailedLocation": {
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      },
      "id": "FailedLocation"
    },
    "StateFamilyConfig": {
      "description": "State family configuration.",
      "properties": {
        "isRead": {
          "type": "boolean",
          "description": "If true, this family corresponds to a read operation."
        },
        "stateFamily": {
          "description": "The state family value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StateFamilyConfig"
    },
    "StageSummary": {
      "type": "object",
      "id": "StageSummary",
      "description": "Information about a particular execution stage of a job.",
      "properties": {
        "stageId": {
          "description": "ID of this stage",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "Metrics for this stage."
        },
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "description": "State of this stage.",
          "type": "string",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ]
        },
        "startTime": {
          "description": "Start time of this stage.",
          "type": "string",
          "format": "google-datetime"
        },
        "progress": {
          "description": "Progress for this stage. Only applicable to Batch jobs.",
          "$ref": "ProgressTimeseries"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time.",
          "type": "string"
        }
      }
    },
    "GetDebugConfigResponse": {
      "description": "Response to a get debug configuration request.",
      "properties": {
        "config": {
          "type": "string",
          "description": "The encoded debug configuration for the requested component."
        }
      },
      "id": "GetDebugConfigResponse",
      "type": "object"
    },
    "CounterMetadata": {
      "type": "object",
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "properties": {
        "kind": {
          "type": "string",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "description": "Counter aggregation kind."
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the counter semantics."
        },
        "standardUnits": {
          "type": "string",
          "description": "System defined Units, see above enum.",
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        }
      },
      "id": "CounterMetadata"
    },
    "ResourceUtilizationReportResponse": {
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "id": "ResourceUtilizationReportResponse",
      "properties": {},
      "type": "object"
    },
    "SourceOperationResponse": {
      "properties": {
        "split": {
          "description": "A response to a request to split a source.",
          "$ref": "SourceSplitResponse"
        },
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        }
      },
      "id": "SourceOperationResponse",
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "type": "object"
    },
    "NameAndKind": {
      "properties": {
        "name": {
          "description": "Name of the counter.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "description": "Counter aggregation kind.",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        }
      },
      "description": "Basic metadata about a counter.",
      "type": "object",
      "id": "NameAndKind"
    },
    "SourceGetMetadataRequest": {
      "properties": {
        "source": {
          "description": "Specification of the source whose metadata should be computed.",
          "$ref": "Source"
        }
      },
      "type": "object",
      "id": "SourceGetMetadataRequest",
      "description": "A request to compute the SourceMetadata of a Source."
    },
    "StreamingApplianceSnapshotConfig": {
      "type": "object",
      "description": "Streaming appliance snapshot configuration.",
      "id": "StreamingApplianceSnapshotConfig",
      "properties": {
        "snapshotId": {
          "type": "string",
          "description": "If set, indicates the snapshot id for the snapshot being performed."
        },
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        }
      }
    },
    "TransformSummary": {
      "description": "Description of the type, names/ids, and input/outputs for a transform.",
      "id": "TransformSummary",
      "properties": {
        "inputCollectionName": {
          "items": {
            "type": "string"
          },
          "description": "User names for all collection inputs to this transform.",
          "type": "array"
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Transform-specific display data.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "User provided name for this transform instance."
        },
        "id": {
          "type": "string",
          "description": "SDK generated id of this transform instance."
        },
        "kind": {
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of transform.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        },
        "outputCollectionName": {
          "description": "User names for all collection outputs to this transform.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "properties": {
        "algorithm": {
          "description": "The algorithm to use for autoscaling.",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ]
        },
        "maxNumWorkers": {
          "format": "int32",
          "description": "The maximum number of workers to cap scaling at.",
          "type": "integer"
        }
      },
      "id": "AutoscalingSettings",
      "type": "object"
    },
    "ReportWorkItemStatusRequest": {
      "type": "object",
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
          "type": "string"
        },
        "unifiedWorkerRequest": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker."
        },
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response).",
          "type": "string"
        },
        "currentWorkerTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The current timestamp at the worker."
        },
        "workItemStatuses": {
          "items": {
            "$ref": "WorkItemStatus"
          },
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "type": "array"
        }
      },
      "id": "ReportWorkItemStatusRequest",
      "description": "Request to report the status of WorkItems."
    },
    "PartialGroupByKeyInstruction": {
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "properties": {
        "sideInputs": {
          "type": "array",
          "description": "Zero or more side inputs.",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "inputElementCodec": {
          "description": "The codec to use for interpreting an element in the input PTable.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "valueCombiningFn": {
          "description": "The value combining function to invoke.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "originalCombineValuesInputStoreName": {
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues.",
          "type": "string"
        },
        "input": {
          "description": "Describes the input to the partial group-by-key instruction.",
          "$ref": "InstructionInput"
        }
      },
      "id": "PartialGroupByKeyInstruction",
      "type": "object"
    },
    "InstructionInput": {
      "description": "An input of an instruction, as a reference to an output of a producer instruction.",
      "id": "InstructionInput",
      "type": "object",
      "properties": {
        "producerInstructionIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask."
        },
        "outputNum": {
          "format": "int32",
          "type": "integer",
          "description": "The output index (origin zero) within the producer."
        }
      }
    },
    "CounterUpdate": {
      "properties": {
        "boolean": {
          "type": "boolean",
          "description": "Boolean value for And, Or."
        },
        "integer": {
          "$ref": "SplitInt64",
          "description": "Integer value for Sum, Max, Min."
        },
        "floatingPoint": {
          "format": "double",
          "description": "Floating point value for Sum, Max, Min.",
          "type": "number"
        },
        "integerMean": {
          "$ref": "IntegerMean",
          "description": "Integer mean aggregation value for Mean."
        },
        "shortId": {
          "format": "int64",
          "description": "The service-generated short identifier for this counter. The short_id -\u003e (name, metadata) mapping is constant for the lifetime of a job.",
          "type": "string"
        },
        "integerList": {
          "description": "List of integers, for Set.",
          "$ref": "IntegerList"
        },
        "internal": {
          "type": "any",
          "description": "Value for internally-defined counters used by the Dataflow service."
        },
        "stringList": {
          "description": "List of strings, for Set.",
          "$ref": "StringList"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta."
        },
        "floatingPointList": {
          "description": "List of floating point numbers, for Set.",
          "$ref": "FloatingPointList"
        },
        "nameAndKind": {
          "description": "Counter name and aggregation type.",
          "$ref": "NameAndKind"
        },
        "integerGauge": {
          "description": "Gauge data",
          "$ref": "IntegerGauge"
        },
        "floatingPointMean": {
          "description": "Floating point mean aggregation value for Mean.",
          "$ref": "FloatingPointMean"
        },
        "distribution": {
          "$ref": "DistributionUpdate",
          "description": "Distribution data"
        },
        "structuredNameAndMetadata": {
          "description": "Counter structured name and metadata.",
          "$ref": "CounterStructuredNameAndMetadata"
        }
      },
      "id": "CounterUpdate",
      "type": "object",
      "description": "An update to a Counter sent from a worker."
    },
    "LaunchTemplateResponse": {
      "description": "Response to the request to launch a template.",
      "id": "LaunchTemplateResponse",
      "type": "object",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "MetricUpdate": {
      "properties": {
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow service.",
          "type": "any"
        },
        "updateTime": {
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "format": "google-datetime",
          "type": "string"
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "kind": {
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
          "type": "string"
        },
        "distribution": {
          "type": "any",
          "description": "A struct value describing properties of a distribution of numeric values."
        },
        "meanCount": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long."
        },
        "set": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type."
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        }
      },
      "description": "Describes the state of a metric.",
      "id": "MetricUpdate",
      "type": "object"
    },
    "Snapshot": {
      "id": "Snapshot",
      "properties": {
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this snapshot was created."
        },
        "projectId": {
          "type": "string",
          "description": "The project this snapshot belongs to."
        },
        "state": {
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "description": "State of the snapshot.",
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "type": "string"
        },
        "diskSizeBytes": {
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        },
        "sourceJobId": {
          "type": "string",
          "description": "The job this snapshot was created from."
        },
        "ttl": {
          "format": "google-duration",
          "description": "The time after which this snapshot will be automatically deleted.",
          "type": "string"
        },
        "region": {
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\".",
          "type": "string"
        },
        "pubsubMetadata": {
          "type": "array",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          },
          "description": "Pub/Sub snapshot metadata."
        }
      },
      "description": "Represents a snapshot of a job.",
      "type": "object"
    },
    "DataDiskAssignment": {
      "type": "object",
      "properties": {
        "vmInstance": {
          "type": "string",
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\"."
        },
        "dataDisks": {
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DataDiskAssignment",
      "description": "Data disk assignment for a given VM instance."
    },
    "ApproximateReportedProgress": {
      "description": "A progress measurement of a WorkItem by a worker.",
      "id": "ApproximateReportedProgress",
      "properties": {
        "fractionConsumed": {
          "format": "double",
          "type": "number",
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed)."
        },
        "position": {
          "description": "A Position within the work to represent a progress.",
          "$ref": "Position"
        },
        "remainingParallelism": {
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off.",
          "$ref": "ReportedParallelism"
        },
        "consumedParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite."
        }
      },
      "type": "object"
    },
    "MetricStructuredName": {
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "type": "object",
      "id": "MetricStructuredName",
      "properties": {
        "origin": {
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
          "type": "string"
        },
        "context": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "type": "object"
        },
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        }
      }
    },
    "DeleteSnapshotResponse": {
      "description": "Response from deleting a snapshot.",
      "id": "DeleteSnapshotResponse",
      "properties": {},
      "type": "object"
    },
    "BigTableIODetails": {
      "type": "object",
      "id": "BigTableIODetails",
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "properties": {
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        }
      }
    },
    "ExecutionStageSummary": {
      "id": "ExecutionStageSummary",
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this stage.",
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
[...]
