{
  "ownerDomain": "google.com",
  "revision": "20220628",
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "baseUrl": "https://dfareporting.googleapis.com/",
  "batchPath": "batch",
  "version": "v4",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "title": "Campaign Manager 360 API",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Dfareporting",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "schemas": {
    "ObaIcon": {
      "description": "Online Behavioral Advertiser icon.",
      "type": "object",
      "properties": {
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        },
        "program": {
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices.",
          "type": "string"
        },
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "yPosition": {
          "type": "string",
          "description": "OBA icon y coordinate position. Accepted values are top or bottom."
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "iconClickTrackingUrl": {
          "type": "string",
          "description": "URL to track click when an OBA icon is clicked."
        },
        "size": {
          "description": "OBA icon size.",
          "$ref": "Size"
        }
      },
      "id": "ObaIcon"
    },
    "FloodlightActivitiesListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "floodlightActivities": {
          "items": {
            "$ref": "FloodlightActivity"
          },
          "type": "array",
          "description": "Floodlight activity collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesListResponse\"."
        }
      },
      "description": "Floodlight Activity List Response",
      "id": "FloodlightActivitiesListResponse"
    },
    "VideoFormatsListResponse": {
      "description": "Video Format List Response",
      "type": "object",
      "id": "VideoFormatsListResponse",
      "properties": {
        "videoFormats": {
          "description": "Video format collection.",
          "type": "array",
          "items": {
            "$ref": "VideoFormat"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormatsListResponse\"."
        }
      }
    },
    "SiteContact": {
      "description": "Site Contact",
      "properties": {
        "lastName": {
          "type": "string",
          "description": "Last name of this site contact."
        },
        "email": {
          "description": "Email address of this site contact. This is a required field.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "First name of this site contact."
        },
        "phone": {
          "description": "Primary phone number of this site contact.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title or designation of this site contact."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this site contact. This is a read-only, auto-generated field."
        },
        "address": {
          "type": "string",
          "description": "Address of this site contact."
        },
        "contactType": {
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ],
          "type": "string",
          "description": "Site contact type.",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "SiteContact"
    },
    "DynamicTargetingKeysListResponse": {
      "description": "Dynamic Targeting Key List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKeysListResponse\".",
          "type": "string"
        },
        "dynamicTargetingKeys": {
          "type": "array",
          "items": {
            "$ref": "DynamicTargetingKey"
          },
          "description": "Dynamic targeting key collection."
        }
      },
      "type": "object",
      "id": "DynamicTargetingKeysListResponse"
    },
    "ContentCategory": {
      "type": "object",
      "description": "Organizes placements according to the contents of their associated webpages.",
      "id": "ContentCategory",
      "properties": {
        "name": {
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this content category. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\".",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this content category. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DimensionValueList": {
      "description": "Represents the list of DimensionValue resources.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        },
        "items": {
          "description": "The dimension values returned in this response.",
          "items": {
            "$ref": "DimensionValue"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "kind": {
          "description": "The kind of list this is, in this case dfareporting#dimensionValueList.",
          "type": "string"
        }
      },
      "id": "DimensionValueList",
      "type": "object"
    },
    "LanguageTargeting": {
      "type": "object",
      "description": "Language Targeting.",
      "properties": {
        "languages": {
          "items": {
            "$ref": "Language"
          },
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array"
        }
      },
      "id": "LanguageTargeting"
    },
    "Creative": {
      "description": "Contains properties of a Creative.",
      "id": "Creative",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "Type of this creative. This is a required field. Applicable to all creative types. *Note:* FLASH_INPAGE, HTML5_BANNER, and IMAGE are only used for existing creatives. New creatives should use DISPLAY as a replacement for these types.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE",
            "DISPLAY_REDIRECT",
            "CUSTOM_DISPLAY",
            "INTERNAL_REDIRECT",
            "CUSTOM_DISPLAY_INTERSTITIAL",
            "INTERSTITIAL_INTERNAL_REDIRECT",
            "TRACKING_TEXT",
            "RICH_MEDIA_DISPLAY_BANNER",
            "RICH_MEDIA_INPAGE_FLOATING",
            "RICH_MEDIA_IM_EXPAND",
            "RICH_MEDIA_DISPLAY_EXPANDING",
            "RICH_MEDIA_DISPLAY_INTERSTITIAL",
            "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
            "RICH_MEDIA_MOBILE_IN_APP",
            "FLASH_INPAGE",
            "INSTREAM_VIDEO",
            "VPAID_LINEAR_VIDEO",
            "VPAID_NON_LINEAR_VIDEO",
            "INSTREAM_VIDEO_REDIRECT",
            "RICH_MEDIA_PEEL_DOWN",
            "HTML5_BANNER",
            "DISPLAY",
            "DISPLAY_IMAGE_GALLERY",
            "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
            "INSTREAM_AUDIO"
          ]
        },
        "adParameters": {
          "type": "string",
          "description": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID."
        },
        "customKeyValues": {
          "description": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "totalFileSize": {
          "type": "string",
          "description": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64"
        },
        "backupImageFeatures": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by Campaign Manager for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "backgroundColor": {
          "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "string"
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. This is a required field when applicable; however for IMAGE, FLASH_INPAGE creatives, and for DISPLAY creatives with a primary asset of type HTML_IMAGE, if left blank, this field will be automatically set using the actual size of the associated image assets. Applicable to the following creative types: DISPLAY, DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA."
        },
        "mediaDuration": {
          "type": "number",
          "format": "float",
          "description": "Creative audio or video duration in seconds. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO, INSTREAM_AUDIO, all RICH_MEDIA, and all VPAID."
        },
        "artworkType": {
          "description": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "type": "string"
        },
        "mediaDescription": {
          "description": "Description of the audio or video ad. Applicable to the following creative types: all INSTREAM_VIDEO, INSTREAM_AUDIO, and all VPAID.",
          "type": "string"
        },
        "counterCustomEvents": {
          "description": "List of counter events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID.",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array"
        },
        "thirdPartyUrls": {
          "items": {
            "$ref": "ThirdPartyTrackingUrl"
          },
          "type": "array",
          "description": "Third-party URLs for tracking in-stream creative events. Applicable to the following creative types: all INSTREAM_VIDEO, all INSTREAM_AUDIO, and all VPAID."
        },
        "clickTags": {
          "items": {
            "$ref": "ClickTag"
          },
          "type": "array",
          "description": "Click tags of the creative. For DISPLAY, FLASH_INPAGE, and HTML5_BANNER creatives, this is a subset of detected click tags for the assets associated with this creative. After creating a flash asset, detected click tags will be returned in the creativeAssetMetadata. When inserting the creative, populate the creative clickTags field using the creativeAssetMetadata.clickTags field. For DISPLAY_IMAGE_GALLERY creatives, there should be exactly one entry in this list for each image creative asset. A click tag is matched with a corresponding creative asset by matching the clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "exitCustomEvents": {
          "type": "array",
          "description": "List of exit events configured for the creative. For DISPLAY and DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags, For DISPLAY, an event is also created from the backupImageReportingLabel. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "obaIcon": {
          "description": "Online behavioral advertising icon to be added to the creative. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "ObaIcon"
        },
        "studioCreativeId": {
          "format": "int64",
          "type": "string",
          "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "creativeFieldAssignments": {
          "type": "array",
          "description": "Creative field assignments for this creative. Applicable to all creative types.",
          "items": {
            "$ref": "CreativeFieldAssignment"
          }
        },
        "companionCreatives": {
          "type": "array",
          "description": "List of companion creatives assigned to an in-Stream video creative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID, all INSTREAM_AUDIO and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "archived": {
          "description": "Whether the creative is archived. Applicable to all creative types.",
          "type": "boolean"
        },
        "requiredFlashPluginVersion": {
          "description": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
          "type": "string"
        },
        "creativeAssetSelection": {
          "description": "Required if dynamicAssetSelection is true.",
          "$ref": "CreativeAssetSelection"
        },
        "fsCommand": {
          "description": "OpenWindow FSCommand of this creative. This lets the SWF file communicate with either Flash Player or the program hosting Flash Player, such as a web browser. This is only triggered if allowScriptAccess field is true. Applicable to the following creative types: FLASH_INPAGE.",
          "$ref": "FsCommand"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Creative last modification information. This is a read-only field. Applicable to all creative types."
        },
        "dynamicAssetSelection": {
          "description": "Set this to true to enable the use of rules to target individual assets in this creative. When set to true creativeAssetSelection must be set. This also controls asset-level companions. When this is true, companion creatives should be assigned to creative assets. Learn more. Applicable to INSTREAM_VIDEO creatives.",
          "type": "boolean"
        },
        "version": {
          "type": "integer",
          "description": "The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types.",
          "format": "int32"
        },
        "htmlCodeLocked": {
          "description": "Whether HTML code is generated by Campaign Manager or manually entered. Set to true to ignore changes to htmlCode. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER.",
          "type": "boolean"
        },
        "adTagKeys": {
          "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "studioTraffickedCreativeId": {
          "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "backupImageReportingLabel": {
          "type": "string",
          "description": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "sslOverride": {
          "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types.",
          "type": "boolean"
        },
        "skipOffset": {
          "description": "Amount of time to play the video before the skip button appears. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "VideoOffset"
        },
        "id": {
          "description": "ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types.",
          "format": "int64",
          "type": "string"
        },
        "convertFlashToHtml5": {
          "type": "boolean",
          "description": "Whether Flash assets associated with the creative need to be automatically converted to HTML5. This flag is enabled by default and users can choose to disable it if they don't want the system to generate and use HTML5 asset for this creative. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "authoringSource": {
          "type": "string",
          "description": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CREATIVE_AUTHORING_SOURCE_DCM",
            "CREATIVE_AUTHORING_SOURCE_DBM",
            "CREATIVE_AUTHORING_SOURCE_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_GWD",
            "CREATIVE_AUTHORING_SOURCE_ACS"
          ]
        },
        "renderingIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "advertiserId": {
          "description": "Advertiser ID of this creative. This is a required field. Applicable to all creative types.",
          "format": "int64",
          "type": "string"
        },
        "overrideCss": {
          "description": "Override CSS value for rich media creatives. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "universalAdId": {
          "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO and INSTREAM_VIDEO and VPAID.",
          "$ref": "UniversalAdId"
        },
        "compatibility": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "DISPLAY",
              "DISPLAY_INTERSTITIAL",
              "APP",
              "APP_INTERSTITIAL",
              "IN_STREAM_VIDEO",
              "IN_STREAM_AUDIO"
            ]
          },
          "description": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. IN_STREAM_AUDIO refers to rendering in in-stream audio ads developed with the VAST standard. Applicable to all creative types. Acceptable values are: - \"APP\" - \"APP_INTERSTITIAL\" - \"IN_STREAM_VIDEO\" - \"IN_STREAM_AUDIO\" - \"DISPLAY\" - \"DISPLAY_INTERSTITIAL\" "
        },
        "additionalSizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Additional sizes associated with a responsive creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. Applicable to DISPLAY creatives when the primary asset type is HTML_IMAGE.",
          "type": "array"
        },
        "commercialId": {
          "description": "Industry standard ID assigned to creative for reach and frequency. Applicable to INSTREAM_VIDEO_REDIRECT creatives.",
          "type": "string"
        },
        "requiredFlashVersion": {
          "description": "The internal Flash version for this creative as calculated by Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer",
          "format": "int32"
        },
        "autoAdvanceImages": {
          "description": "Whether images are automatically advanced for image gallery creatives. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\"."
        },
        "name": {
          "description": "Name of the creative. This is a required field and must be less than 256 characters long. Applicable to all creative types.",
          "type": "string"
        },
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "redirectUrl": {
          "type": "string",
          "description": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT"
        },
        "authoringTool": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "enum": [
            "NINJA",
            "SWIFFY"
          ],
          "type": "string"
        },
        "renderingId": {
          "description": "ID of current rendering version. This is a read-only field. Applicable to all creative types.",
          "format": "int64",
          "type": "string"
        },
        "backupImageClickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Click-through URL for backup image. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE."
        },
        "backupImageTargetWindow": {
          "description": "Target window for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "TargetWindow"
        },
        "thirdPartyRichMediaImpressionsUrl": {
          "description": "Third-party URL used to record rich media impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "latestTraffickedCreativeId": {
          "format": "int64",
          "type": "string",
          "description": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "active": {
          "description": "Whether the creative is active. Applicable to all creative types.",
          "type": "boolean"
        },
        "creativeAssets": {
          "type": "array",
          "description": "Assets associated with a creative. Applicable to all but the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and REDIRECT",
          "items": {
            "$ref": "CreativeAsset"
          }
        },
        "allowScriptAccess": {
          "description": "Whether script access is allowed for this creative. This is a read-only and deprecated field which will automatically be set to true on update. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "boolean"
        },
        "skippable": {
          "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "timerCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array",
          "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE."
        },
        "thirdPartyBackupImageImpressionsUrl": {
          "type": "string",
          "description": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA."
        },
        "sslCompliant": {
          "description": "Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types.",
          "type": "boolean"
        },
        "htmlCode": {
          "type": "string",
          "description": "HTML code for the creative. This is a required field when applicable. This field is ignored if htmlCodeLocked is true. Applicable to the following creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA."
        },
        "studioAdvertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Studio advertiser ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types."
        }
      }
    },
    "OperatingSystem": {
      "type": "object",
      "description": "Contains information about an operating system that can be targeted by ads.",
      "id": "OperatingSystem",
      "properties": {
        "dartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of this operating system. This is the ID used for targeting."
        },
        "mobile": {
          "description": "Whether this operating system is for mobile.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystem\".",
          "type": "string"
        },
        "desktop": {
          "description": "Whether this operating system is for desktop.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this operating system.",
          "type": "string"
        }
      }
    },
    "VideoSettings": {
      "id": "VideoSettings",
      "type": "object",
      "properties": {
        "obaSettings": {
          "$ref": "ObaIcon",
          "description": "Settings for the OBA icon of video creatives served to this placement. If this object is provided, the creative-level OBA settings will be overridden."
        },
        "obaEnabled": {
          "type": "boolean",
          "description": "Whether OBA icons are enabled for this placement."
        },
        "orientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Orientation of a video placement. If this value is set, placement will return assets matching the specified orientation.",
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ]
        },
        "skippableSettings": {
          "$ref": "SkippableSetting",
          "description": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden."
        },
        "durationSeconds": {
          "description": "Duration of a video placement in seconds.",
          "type": "integer",
          "format": "int32"
        },
        "transcodeSettings": {
          "$ref": "TranscodeSetting",
          "description": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden."
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this placement.",
          "$ref": "CompanionSetting"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\"."
        },
        "publisherSpecificationId": {
          "type": "string",
          "description": "Publisher specification ID of a video placement.",
          "format": "int64"
        }
      },
      "description": "Video Settings"
    },
    "AudienceSegmentGroup": {
      "description": "Audience Segment Group.",
      "properties": {
        "audienceSegments": {
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "items": {
            "$ref": "AudienceSegment"
          },
          "type": "array"
        },
        "id": {
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AudienceSegmentGroup"
    },
    "PathReportCompatibleFields": {
      "id": "PathReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH\".",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#pathReportCompatibleFields."
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "pathFilters": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"pathFilters\" section of the report."
        },
        "channelGroupings": {
          "description": "Dimensions which are compatible to be selected in the \"channelGroupings\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        }
      }
    },
    "TargetingTemplatesListResponse": {
      "type": "object",
      "properties": {
        "targetingTemplates": {
          "description": "Targeting template collection.",
          "items": {
            "$ref": "TargetingTemplate"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplatesListResponse\".",
          "type": "string"
        }
      },
      "id": "TargetingTemplatesListResponse",
      "description": "Targeting Template List Response"
    },
    "CreativeGroupAssignment": {
      "type": "object",
      "id": "CreativeGroupAssignment",
      "description": "Creative Group Assignment.",
      "properties": {
        "creativeGroupId": {
          "description": "ID of the creative group to be assigned.",
          "format": "int64",
          "type": "string"
        },
        "creativeGroupNumber": {
          "enum": [
            "CREATIVE_GROUP_ONE",
            "CREATIVE_GROUP_TWO"
          ],
          "type": "string",
          "description": "Creative group number of the creative group assignment.",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "PlacementStrategy": {
      "type": "object",
      "description": "Contains properties of a placement strategy.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\"."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank."
        },
        "name": {
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account.",
          "type": "string"
        }
      },
      "id": "PlacementStrategy"
    },
    "AccountsListResponse": {
      "description": "Account List Response",
      "type": "object",
      "id": "AccountsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountsListResponse\"."
        },
        "accounts": {
          "type": "array",
          "description": "Account collection.",
          "items": {
            "$ref": "Account"
          }
        }
      }
    },
    "Browser": {
      "id": "Browser",
      "description": "Contains information about a browser that can be targeted by ads.",
      "type": "object",
      "properties": {
        "minorVersion": {
          "type": "string",
          "description": "Minor version number (number after first dot on left) of this browser. For example, for Chrome 5.0.375.86 beta, this field should be set to 0. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
        },
        "dartId": {
          "type": "string",
          "description": "DART ID of this browser. This is the ID used when generating reports.",
          "format": "int64"
        },
        "majorVersion": {
          "description": "Major version number (leftmost number) of this browser. For example, for Chrome 5.0.376.86 beta, this field should be set to 5. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is.",
          "type": "string"
        },
        "name": {
          "description": "Name of this browser.",
          "type": "string"
        },
        "browserVersionId": {
          "description": "ID referring to this grouping of browser and version numbers. This is the ID used for targeting.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browser\"."
        }
      }
    },
    "CreativeAssetId": {
      "id": "CreativeAssetId",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the creative asset. This is a required field while inserting an asset. After insertion, this assetIdentifier is used to identify the uploaded asset. Characters in the name must be alphanumeric or one of the following: \".-_ \". Spaces are allowed."
        },
        "type": {
          "enum": [
            "IMAGE",
            "FLASH",
            "VIDEO",
            "HTML",
            "HTML_IMAGE",
            "AUDIO"
          ],
          "description": "Type of asset to upload. This is a required field. FLASH and IMAGE are no longer supported for new uploads. All image assets should use HTML_IMAGE.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Creative Asset ID."
    },
    "OptimizationActivity": {
      "id": "OptimizationActivity",
      "type": "object",
      "description": "Creative optimization activity.",
      "properties": {
        "floodlightActivityId": {
          "format": "int64",
          "description": "Floodlight activity ID of this optimization activity. This is a required field.",
          "type": "string"
        },
        "floodlightActivityIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1."
        }
      }
    },
    "OperatingSystemsListResponse": {
      "description": "Operating System List Response",
      "id": "OperatingSystemsListResponse",
      "properties": {
        "operatingSystems": {
          "items": {
            "$ref": "OperatingSystem"
          },
          "type": "array",
          "description": "Operating system collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChangeLogsListResponse": {
      "description": "Change Log List Response",
      "properties": {
        "changeLogs": {
          "description": "Change log collection.",
          "items": {
            "$ref": "ChangeLog"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\"."
        }
      },
      "id": "ChangeLogsListResponse",
      "type": "object"
    },
    "FloodlightActivityGroup": {
      "properties": {
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\"."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser."
        },
        "accountId": {
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes."
        },
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "type": {
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "FloodlightActivityGroup",
      "description": "Contains properties of a Floodlight activity group."
    },
    "MeasurementPartnerCampaignLink": {
      "properties": {
        "linkStatus": {
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING"
          ],
          "description": ".",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "measurementPartner": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "description": "Measurement partner used for tag wrapping.",
          "type": "string"
        },
        "partnerCampaignId": {
          "type": "string",
          "description": "Partner campaign ID needed for establishing linking with Measurement partner."
        }
      },
      "id": "MeasurementPartnerCampaignLink",
      "type": "object"
    },
    "UserRole": {
      "description": "Contains properties of auser role, which is used to manage user access.",
      "properties": {
        "defaultUserRole": {
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions.",
          "type": "boolean"
        },
        "permissions": {
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "List of permissions associated with this user role.",
          "type": "array"
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\".",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank."
        },
        "parentUserRoleId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the user role that this user role is based on or copied from. This is a required field."
        }
      },
      "id": "UserRole",
      "type": "object"
    },
    "UserProfile": {
      "id": "UserProfile",
      "properties": {
        "subAccountId": {
          "description": "The sub account ID this profile belongs to if applicable.",
          "type": "string",
          "format": "int64"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "accountName": {
          "description": "The account name this profile belongs to.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "The account ID to which this profile belongs."
        },
        "profileId": {
          "format": "int64",
          "type": "string",
          "description": "The unique ID of the user profile."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfile\".",
          "type": "string"
        },
        "userName": {
          "description": "The user name.",
          "type": "string"
        },
        "subAccountName": {
          "type": "string",
          "description": "The sub account name this profile belongs to if applicable."
        }
      },
      "type": "object",
      "description": "A UserProfile resource lets you list all DFA user profiles that are associated with a Google user account. The profile_id needs to be specified in other API requests. "
    },
    "LastModifiedInfo": {
      "properties": {
        "time": {
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LastModifiedInfo",
      "description": "Modification timestamp."
    },
    "CompanionSetting": {
      "type": "object",
      "id": "CompanionSetting",
      "properties": {
        "enabledSizes": {
          "type": "array",
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes.",
          "items": {
            "$ref": "Size"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
          "type": "string"
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this placement.",
          "type": "boolean"
        },
        "imageOnly": {
          "type": "boolean",
          "description": "Whether to serve only static images as companions."
        }
      },
      "description": "Companion Settings"
    },
    "ObjectFilter": {
      "description": "Object Filter.",
      "id": "ObjectFilter",
      "type": "object",
      "properties": {
        "objectIds": {
          "description": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "status": {
          "description": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list.",
          "enum": [
            "NONE",
            "ASSIGNED",
            "ALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\"."
        }
      }
    },
    "SubaccountsListResponse": {
      "id": "SubaccountsListResponse",
      "description": "Subaccount List Response",
      "type": "object",
      "properties": {
        "subaccounts": {
          "items": {
            "$ref": "Subaccount"
          },
          "description": "Subaccount collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "BrowsersListResponse": {
      "id": "BrowsersListResponse",
      "type": "object",
      "properties": {
        "browsers": {
          "description": "Browser collection.",
          "items": {
            "$ref": "Browser"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\"."
        }
      },
      "description": "Browser List Response"
    },
    "PlatformType": {
      "id": "PlatformType",
      "description": "Contains information about a platform type that can be targeted by ads.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformType\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this platform type.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this platform type.",
          "type": "string"
        }
      }
    },
    "ListPopulationClause": {
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "id": "ListPopulationClause",
      "type": "object",
      "properties": {
        "terms": {
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "type": "array",
          "items": {
            "$ref": "ListPopulationTerm"
          }
        }
      }
    },
    "TranscodeSetting": {
      "id": "TranscodeSetting",
      "description": "Transcode Settings",
      "type": "object",
      "properties": {
        "enabledVideoFormats": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Allowlist of video formats to be served to this placement. Set this list to null or empty to serve all video formats."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#transcodeSetting\".",
          "type": "string"
        }
      }
    },
    "ClickThroughUrlSuffixProperties": {
      "type": "object",
      "id": "ClickThroughUrlSuffixProperties",
      "description": "Click Through URL Suffix settings.",
      "properties": {
        "overrideInheritedSuffix": {
          "description": "Whether this entity should override the inherited click-through URL suffix with its own defined value.",
          "type": "boolean"
        },
        "clickThroughUrlSuffix": {
          "type": "string",
          "description": "Click-through URL suffix to apply to all ads in this entity's scope. Must be less than 128 characters long."
        }
      }
    },
    "AdvertiserInvoicesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserInvoicesListResponse\".",
          "type": "string"
        },
        "invoices": {
          "type": "array",
          "description": "Invoice collection",
          "items": {
            "$ref": "Invoice"
          }
        }
      },
      "id": "AdvertiserInvoicesListResponse",
      "type": "object",
      "description": "Invoice List Response"
    },
    "ListPopulationTerm": {
      "description": "Remarketing List Population Rule Term.",
      "properties": {
        "operator": {
          "type": "string",
          "description": "Comparison operator of this term. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NUM_EQUALS",
            "NUM_LESS_THAN",
            "NUM_LESS_THAN_EQUAL",
            "NUM_GREATER_THAN",
            "NUM_GREATER_THAN_EQUAL",
            "STRING_EQUALS",
            "STRING_CONTAINS"
          ]
        },
        "remarketingListId": {
          "type": "string",
          "description": "ID of the list in question. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM.",
          "format": "int64"
        },
        "variableName": {
          "type": "string",
          "description": "Name of the variable (U1, U2, etc.) being compared in this term. This field is only relevant when type is set to null, CUSTOM_VARIABLE_TERM or REFERRER_TERM."
        },
        "type": {
          "enum": [
            "CUSTOM_VARIABLE_TERM",
            "LIST_MEMBERSHIP_TERM",
            "REFERRER_TERM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "List population term type determines the applicable fields in this object. If left unset or set to CUSTOM_VARIABLE_TERM, then variableName, variableFriendlyName, operator, value, and negation are applicable. If set to LIST_MEMBERSHIP_TERM then remarketingListId and contains are applicable. If set to REFERRER_TERM then operator, value, and negation are applicable."
        },
        "value": {
          "type": "string",
          "description": "Literal to compare the variable to. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM."
        },
        "negation": {
          "description": "Whether to negate the comparison result of this term during rule evaluation. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "boolean"
        },
        "contains": {
          "description": "Will be true if the term should check if the user is in the list and false if the term should check if the user is not in the list. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM. False by default.",
          "type": "boolean"
        },
        "variableFriendlyName": {
          "type": "string",
          "description": "Friendly name of this term's variable. This is a read-only, auto-generated field. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM."
        }
      },
      "type": "object",
      "id": "ListPopulationTerm"
    },
    "CountriesListResponse": {
      "type": "object",
      "description": "Country List Response",
      "id": "CountriesListResponse",
      "properties": {
        "countries": {
          "type": "array",
          "items": {
            "$ref": "Country"
          },
          "description": "Country collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\"."
        }
      }
    },
    "ConnectionTypesListResponse": {
      "description": "Connection Type List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\"."
        },
        "connectionTypes": {
          "description": "Collection of connection types such as broadband and mobile.",
          "items": {
            "$ref": "ConnectionType"
          },
          "type": "array"
        }
      },
      "id": "ConnectionTypesListResponse",
      "type": "object"
    },
    "BillingRateTieredRate": {
      "type": "object",
      "properties": {
        "lowValue": {
          "type": "string",
          "description": "The minimum for this tier range.",
          "format": "int64"
        },
        "highValue": {
          "type": "string",
          "description": "The maximum for this tier range.",
          "format": "int64"
        },
        "rateInMicros": {
          "description": "Rate in micros for this tier.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "BillingRateTieredRate"
    },
    "LookbackConfiguration": {
      "id": "LookbackConfiguration",
      "properties": {
        "postImpressionActivitiesDuration": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads. If you enter 0, impressions will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "type": "integer"
        },
        "clickDuration": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads. If you enter 0, clicks will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Lookback configuration settings."
    },
    "AdBlockingConfiguration": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether this campaign has enabled ad blocking. When true, ad blocking is enabled for placements in the campaign, but this may be overridden by site and placement settings. When false, ad blocking is disabled for all placements under the campaign, regardless of site and placement settings."
        }
      },
      "description": "Campaign ad blocking settings.",
      "id": "AdBlockingConfiguration"
    },
    "Metro": {
      "description": "Contains information about a metro region that can be targeted by ads.",
      "properties": {
        "dmaId": {
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "type": "string",
          "format": "int64"
        },
        "countryCode": {
          "description": "Country code of the country to which this metro region belongs.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\"."
        },
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this metro region.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this metro region."
        },
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this metro region belongs.",
          "format": "int64"
        }
      },
      "id": "Metro",
      "type": "object"
    },
    "DateRange": {
      "description": "Represents a date range.",
      "type": "object",
      "properties": {
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dateRange."
        },
        "relativeDateRange": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The date range relative to the date of when the report is run.",
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        },
        "startDate": {
          "format": "date",
          "type": "string"
        }
      },
      "id": "DateRange"
    },
    "FloodlightActivitiesGenerateTagResponse": {
      "id": "FloodlightActivitiesGenerateTagResponse",
      "properties": {
        "floodlightActivityTag": {
          "type": "string",
          "description": "Generated tag for this Floodlight activity. For global site tags, this is the event snippet."
        },
        "globalSiteTagGlobalSnippet": {
          "type": "string",
          "description": "The global snippet section of a global site tag. The global site tag sets new cookies on your domain, which will store a unique identifier for a user or the ad click that brought the user to your site. Learn more."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesGenerateTagResponse\"."
        }
      },
      "type": "object",
      "description": "Floodlight Activity GenerateTag Response"
    },
    "ProjectsListResponse": {
      "description": "Project List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "projects": {
          "description": "Project collection.",
          "items": {
            "$ref": "Project"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#projectsListResponse\"."
        }
      },
      "type": "object",
      "id": "ProjectsListResponse"
    },
    "UserRolePermission": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermission\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this user role permission.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this user role permission.",
          "type": "string"
        },
        "permissionGroupId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the permission group that this user role permission belongs to."
        },
        "availability": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Levels of availability for a user role permission.",
          "enum": [
            "NOT_AVAILABLE_BY_DEFAULT",
            "ACCOUNT_BY_DEFAULT",
            "SUBACCOUNT_AND_ACCOUNT_BY_DEFAULT",
            "ACCOUNT_ALWAYS",
            "SUBACCOUNT_AND_ACCOUNT_ALWAYS",
            "USER_PROFILE_ONLY"
          ]
        }
      },
      "description": "Contains properties of a user role permission.",
      "id": "UserRolePermission",
      "type": "object"
    },
    "AccountPermissionGroup": {
      "description": "AccountPermissionGroups contains a mapping of permission group IDs to names. A permission group is a grouping of account permissions.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroup\"."
        },
        "id": {
          "description": "ID of this account permission group.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this account permission group."
        }
      },
      "type": "object",
      "id": "AccountPermissionGroup"
    },
    "DisjunctiveMatchStatement": {
      "properties": {
        "eventFilters": {
          "type": "array",
          "items": {
            "$ref": "EventFilter"
          },
          "description": "The event filters contained within this disjunctive match statement."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#disjunctiveMatchStatement.",
          "type": "string"
        }
      },
      "id": "DisjunctiveMatchStatement",
      "type": "object",
      "description": "Represents a Disjunctive Match Statement resource, which is a conjunction (and) of disjunctive (or) boolean statements."
    },
    "BillingAssignment": {
      "description": "List account, subaccount, advertiser, and campaign associated with a given Billing Profile.",
      "properties": {
        "campaignId": {
          "description": "ID of the campaign associated with the billing assignment. Wildcard (*) means this assignment is not limited to a single campaign",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignment\".",
          "type": "string"
        },
        "accountId": {
          "description": "ID of the account associated with the billing assignment.This is a read-only, auto-generated field.",
          "type": "string"
        },
        "subaccountId": {
          "description": "ID of the subaccount associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single subaccountThis is a read-only, auto-generated field.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "ID of the advertiser associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single advertiser"
        }
      },
      "id": "BillingAssignment",
      "type": "object"
    },
    "Size": {
      "properties": {
        "iab": {
          "type": "boolean",
          "description": "IAB standard size. This is a read-only, auto-generated field."
        },
        "height": {
          "format": "int32",
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "format": "int32"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this size. This is a read-only, auto-generated field."
        }
      },
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets.",
      "type": "object",
      "id": "Size"
    },
    "SortedDimension": {
      "id": "SortedDimension",
      "properties": {
        "sortOrder": {
          "description": "An optional sort order for the dimension column.",
          "type": "string",
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#sortedDimension.",
          "type": "string"
        },
        "name": {
          "description": "The name of the dimension.",
          "type": "string"
        }
      },
      "description": "Represents a sorted dimension.",
      "type": "object"
    },
    "CreativeCustomEvent": {
      "properties": {
        "id": {
          "description": "ID of this event. This is a required field and should not be modified after insertion.",
          "type": "string",
          "format": "int64"
        },
        "artworkLabel": {
          "type": "string",
          "description": "Artwork label column, used to link events in Campaign Manager back to events in Studio. This is a required field and should not be modified after insertion."
        },
        "popupWindowProperties": {
          "description": "Properties for rich media popup windows. This field is used only for exit events.",
          "$ref": "PopupWindowProperties"
        },
        "advertiserCustomEventId": {
          "type": "string",
          "description": "Unique ID of this event used by Reporting and Data Transfer. This is a read-only field.",
          "format": "int64"
        },
        "advertiserCustomEventName": {
          "description": "User-entered name for the event.",
          "type": "string"
        },
        "videoReportingId": {
          "type": "string",
          "description": "Video reporting ID, used to differentiate multiple videos in a single creative. This is a read-only field."
        },
        "targetType": {
          "description": "Target type used by the event.",
          "enum": [
            "TARGET_BLANK",
            "TARGET_TOP",
            "TARGET_SELF",
            "TARGET_PARENT",
            "TARGET_POPUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "exitClickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Exit click-through URL for the event. This field is used only for exit events."
        },
        "advertiserCustomEventType": {
          "enum": [
            "ADVERTISER_EVENT_TIMER",
            "ADVERTISER_EVENT_EXIT",
            "ADVERTISER_EVENT_COUNTER"
          ],
          "description": "Type of the event. This is a read-only field.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "artworkType": {
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Artwork type used by the creative.This is a read-only field.",
          "type": "string"
        }
      },
      "description": "Creative Custom Event.",
      "type": "object",
      "id": "CreativeCustomEvent"
    },
    "DimensionFilter": {
      "description": "Represents a dimension filter.",
      "id": "DimensionFilter",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimensionFilter."
        },
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension to filter."
        },
        "value": {
          "description": "The value of the dimension to filter.",
          "type": "string"
        }
      }
    },
    "UserProfileList": {
      "description": "Represents the list of user profiles.",
      "id": "UserProfileList",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfileList\"."
        },
        "items": {
          "items": {
            "$ref": "UserProfile"
          },
          "type": "array",
          "description": "The user profiles returned in this response."
        }
      }
    },
    "PlacementStrategiesListResponse": {
      "properties": {
        "placementStrategies": {
          "items": {
            "$ref": "PlacementStrategy"
          },
          "type": "array",
          "description": "Placement strategy collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlacementStrategiesListResponse",
      "description": "Placement Strategy List Response"
    },
    "SizesListResponse": {
      "description": "Size List Response",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\"."
        },
        "sizes": {
          "type": "array",
          "description": "Size collection.",
          "items": {
            "$ref": "Size"
          }
        }
      },
      "id": "SizesListResponse"
    },
    "FloodlightActivityDynamicTag": {
      "id": "FloodlightActivityDynamicTag",
      "properties": {
        "name": {
          "description": "Name of this tag.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "tag": {
          "type": "string",
          "description": "Tag code."
        }
      },
      "description": "Dynamic Tag",
      "type": "object"
    },
    "CreativeAssignment": {
      "properties": {
        "creativeGroupAssignments": {
          "type": "array",
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments.",
          "items": {
            "$ref": "CreativeGroupAssignment"
          }
        },
        "companionCreativeOverrides": {
          "items": {
            "$ref": "CompanionClickThroughOverride"
          },
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads.",
          "type": "array"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "active": {
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation.",
          "type": "boolean"
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1."
        },
        "applyEventTags": {
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "sslCompliant": {
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "sequence": {
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "creativeId": {
          "format": "int64",
          "description": "ID of the creative to be assigned. This is a required field.",
          "type": "string"
        },
        "richMediaExitOverrides": {
          "items": {
            "$ref": "RichMediaExitOverride"
          },
          "type": "array",
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR "
        },
        "creativeIdDimensionValue": {
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of the creative assignment.",
          "$ref": "ClickThroughUrl"
        }
      },
      "description": "Creative Assignment.",
      "id": "CreativeAssignment",
      "type": "object"
    },
    "Recipient": {
      "description": "Represents a recipient.",
      "id": "Recipient",
      "properties": {
        "deliveryType": {
          "enum": [
            "LINK",
            "ATTACHMENT"
          ],
          "annotations": {
            "required": [
              "dfareporting.reports.insert",
              "dfareporting.reports.update"
            ]
          },
          "type": "string",
          "description": "The delivery type for the recipient.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#recipient.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the recipient.",
          "annotations": {
            "required": [
              "dfareporting.reports.insert",
              "dfareporting.reports.update"
            ]
          }
        }
      },
      "type": "object"
    },
    "ThirdPartyAuthenticationToken": {
      "properties": {
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the third-party authentication token."
        }
      },
      "type": "object",
      "id": "ThirdPartyAuthenticationToken",
      "description": "Third Party Authentication Token"
    },
    "BillingAssignmentsListResponse": {
      "description": "Billing assignment List Response",
      "type": "object",
      "id": "BillingAssignmentsListResponse",
      "properties": {
        "billingAssignments": {
          "items": {
            "$ref": "BillingAssignment"
          },
          "description": "Billing assignments collection.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\"."
        }
      }
    },
    "TagSettings": {
      "type": "object",
      "properties": {
        "imageTagEnabled": {
          "type": "boolean",
          "description": "Whether image tags are enabled."
        },
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        }
      },
      "id": "TagSettings",
      "description": "Dynamic and Image Tag Settings."
    },
    "ClickTag": {
      "properties": {
        "clickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Parameter value for the specified click tag. This field contains a click-through url."
        },
        "eventName": {
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        },
        "name": {
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ClickTag",
      "description": "Creative Click Tag."
    },
    "OrderContact": {
      "properties": {
        "contactName": {
          "type": "string",
          "description": "Name of this contact."
        },
        "contactType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLANNING_ORDER_CONTACT_BUYER_CONTACT",
            "PLANNING_ORDER_CONTACT_BUYER_BILLING_CONTACT",
            "PLANNING_ORDER_CONTACT_SELLER_CONTACT"
          ],
          "description": "Type of this contact."
        },
        "contactInfo": {
          "description": "Free-form information about this contact. It could be any information related to this contact in addition to type, title, name, and signature user profile ID.",
          "type": "string"
        },
        "contactTitle": {
          "description": "Title of this contact.",
          "type": "string"
        },
        "signatureUserProfileId": {
          "format": "int64",
          "description": "ID of the user profile containing the signature that will be embedded into order documents.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderContact",
      "description": "Contact of an order."
    },
    "CreativeGroup": {
      "description": "Contains properties of a creative group.",
      "id": "CreativeGroup",
      "properties": {
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this creative group. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "groupNumber": {
          "description": "Subgroup of the creative group. Assign your creative groups to a subgroup in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion. Acceptable values are 1 to 2, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this creative group. This is a read-only, auto-generated field."
        }
      },
      "type": "object"
    },
    "MetrosListResponse": {
      "id": "MetrosListResponse",
      "type": "object",
      "description": "Metro List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\".",
          "type": "string"
        },
        "metros": {
          "description": "Metro collection.",
          "items": {
            "$ref": "Metro"
          },
          "type": "array"
        }
      }
    },
[...]
