{
  "name": "dns",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://dns.googleapis.com/",
  "revision": "20220728",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "canonicalName": "Dns",
  "servicePath": "",
  "title": "Cloud DNS API",
  "schemas": {
    "PoliciesListResponse": {
      "properties": {
        "policies": {
          "description": "The policy resources.",
          "type": "array",
          "items": {
            "$ref": "Policy"
          }
        },
        "kind": {
          "description": "Type of resource.",
          "default": "dns#policiesListResponse",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        }
      },
      "id": "PoliciesListResponse",
      "type": "object"
    },
    "Project": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#project"
        },
        "id": {
          "description": "User assigned unique identifier for the resource (output only).",
          "type": "string"
        },
        "number": {
          "format": "uint64",
          "type": "string",
          "description": "Unique numeric identifier for the resource; defined by the server (output only)."
        },
        "quota": {
          "$ref": "Quota",
          "description": "Quotas assigned to this project (output only)."
        }
      },
      "id": "Project",
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console. Next tag: 7.",
      "type": "object"
    },
    "PoliciesPatchResponse": {
      "id": "PoliciesPatchResponse",
      "type": "object",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "PolicyAlternativeNameServerConfig": {
      "properties": {
        "targetNameServers": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "type": "array",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfig"
        }
      },
      "id": "PolicyAlternativeNameServerConfig",
      "type": "object"
    },
    "ChangesListResponse": {
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection.",
      "type": "object",
      "id": "ChangesListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a \"snapshot\" of collections larger than the maximum page size."
        },
        "changes": {
          "type": "array",
          "description": "The requested changes.",
          "items": {
            "$ref": "Change"
          }
        },
        "kind": {
          "default": "dns#changesListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      }
    },
    "ResponseHeader": {
      "properties": {
        "operationId": {
          "description": "For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResponseHeader",
      "description": "Elements common to every response."
    },
    "ManagedZonePeeringConfig": {
      "properties": {
        "targetNetwork": {
          "description": "The network with which to peer.",
          "$ref": "ManagedZonePeeringConfigTargetNetwork"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfig"
        }
      },
      "type": "object",
      "id": "ManagedZonePeeringConfig"
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "properties": {
        "networkUrl": {
          "description": "The fully qualified url of the network on which the ILB is",
          "type": "string"
        },
        "project": {
          "description": "present. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network} The project ID in which the ILB exists.",
          "type": "string"
        },
        "ipProtocol": {
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ipAddress": {
          "description": "The frontend IP address of the",
          "type": "string"
        },
        "port": {
          "description": "Load Balancer to health check. The configured port of the Load Balancer.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The region for regional ILBs."
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget"
        },
        "loadBalancerType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "none",
            "regionalL4ilb"
          ]
        }
      },
      "id": "RRSetRoutingPolicyLoadBalancerTarget",
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "RRSetRoutingPolicyGeoPolicy": {
      "type": "object",
      "id": "RRSetRoutingPolicyGeoPolicy",
      "description": "Configures a RRSetRoutingPolicy that routes based on the geo location of the querying user.",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicy",
          "type": "string"
        },
        "enableFencing": {
          "type": "boolean",
          "description": "Without fencing, if health check fails for all configured items in the current geo bucket, we'll failover to the next nearest geo bucket. With fencing, if health check is enabled, as long as some targets in the current geo bucket are healthy, we'll return only the healthy targets. However, if they're all unhealthy, we won't failover to the next nearest bucket, we'll simply return all the items in the current bucket even though they're unhealthy."
        },
        "items": {
          "description": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead.",
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          }
        }
      }
    },
    "ManagedZoneDnsSecConfig": {
      "id": "ManagedZoneDnsSecConfig",
      "properties": {
        "defaultKeySpecs": {
          "type": "array",
          "items": {
            "$ref": "DnsKeySpec"
          },
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF."
        },
        "nonExistence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "nsec",
            "nsec3"
          ],
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ],
          "enum": [
            "off",
            "on",
            "transfer"
          ],
          "type": "string",
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in."
        },
        "kind": {
          "default": "dns#managedZoneDnsSecConfig",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RRSetRoutingPolicyPrimaryBackupPolicy": {
      "id": "RRSetRoutingPolicyPrimaryBackupPolicy",
      "properties": {
        "backupGeoTargets": {
          "description": "Backup targets provide a regional failover policy for the otherwise global primary targets. If serving state is set to BACKUP, this policy essentially becomes a geo routing policy.",
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyPrimaryBackupPolicy",
          "type": "string"
        },
        "trickleTraffic": {
          "description": "When serving state is PRIMARY, this field provides the option of sending a small percentage of the traffic to the backup targets.",
          "format": "double",
          "type": "number"
        },
        "primaryTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        }
      },
      "type": "object",
      "description": "Configures a RRSetRoutingPolicy such that all queries are responded with the primary_targets if they are healthy. And if all of them are unhealthy, then we fallback to a geo localized policy."
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "description": "A routing block which contains the routing information for one WRR item.",
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem",
      "properties": {
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "DNSSEC generated signatures for all the rrdata within this item. Note that if health checked targets are provided for DNSSEC enabled zones, there's a restriction of 1 ip per item. ."
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "healthCheckedTargets": {
          "description": "endpoints that need to be health checked before making the routing decision. The unhealthy endpoints will be omitted from the result. If all endpoints within a buckete are unhealthy, we'll choose a different bucket (sampled w.r.t. its weight) for responding. Note that if DNSSEC is enabled for this zone, only one of rrdata or health_checked_targets can be set.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem"
        },
        "weight": {
          "description": "The weight corresponding to this subset of rrdata. When multiple WeightedRoundRobinPolicyItems are configured, the probability of returning an rrset is proportional to its weight relative to the sum of weights configured for all items. This weight should be non-negative.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ManagedZonesListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "description": "Type of resource.",
          "default": "dns#managedZonesListResponse",
          "type": "string"
        },
        "managedZones": {
          "items": {
            "$ref": "ManagedZone"
          },
          "type": "array",
          "description": "The managed zone resources."
        }
      },
      "id": "ManagedZonesListResponse",
      "type": "object"
    },
    "PolicyNetwork": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#policyNetwork",
          "type": "string"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        }
      },
      "id": "PolicyNetwork"
    },
    "ManagedZoneOperationsListResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "The operation resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "default": "dns#managedZoneOperationsListResponse",
          "description": "Type of resource.",
          "type": "string"
        }
      },
      "id": "ManagedZoneOperationsListResponse",
      "type": "object"
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicy",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          }
        }
      },
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion."
    },
    "RRSetRoutingPolicy": {
      "id": "RRSetRoutingPolicy",
      "properties": {
        "primaryBackup": {
          "$ref": "RRSetRoutingPolicyPrimaryBackupPolicy"
        },
        "wrr": {
          "$ref": "RRSetRoutingPolicyWrrPolicy"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicy",
          "type": "string"
        },
        "geo": {
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        }
      },
      "type": "object",
      "description": "A RRSetRoutingPolicy represents ResourceRecordSet data that is returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection."
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "properties": {
        "deactivateTime": {
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only.",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZonePeeringConfigTargetNetwork",
          "type": "string"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZonePeeringConfigTargetNetwork"
    },
    "OperationManagedZoneContext": {
      "type": "object",
      "properties": {
        "newValue": {
          "description": "The post-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        },
        "oldValue": {
          "$ref": "ManagedZone",
          "description": "The pre-operation ManagedZone resource."
        }
      },
      "id": "OperationManagedZoneContext"
    },
    "ResponsePolicyRuleLocalData": {
      "type": "object",
      "properties": {
        "localDatas": {
          "type": "array",
          "description": "All resource record sets for this selector, one per resource record type. The name must match the dns_name.",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        }
      },
      "id": "ResponsePolicyRuleLocalData"
    },
    "ManagedZone": {
      "id": "ManagedZone",
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "The DNS name of this managed zone, for instance \"example.com.\"."
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZone"
        },
        "labels": {
          "description": "User labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nameServerSet": {
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users leave this field unset. If you need to use this field, contact your account team.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only)",
          "format": "uint64",
          "type": "string"
        },
        "cloudLoggingConfig": {
          "$ref": "ManagedZoneCloudLoggingConfig"
        },
        "dnssecConfig": {
          "$ref": "ManagedZoneDnsSecConfig",
          "description": "DNSSEC configuration."
        },
        "visibility": {
          "type": "string",
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "public",
            "private"
          ]
        },
        "reverseLookupConfig": {
          "$ref": "ManagedZoneReverseLookupConfig",
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS resolves reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config."
        },
        "forwardingConfig": {
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to.",
          "$ref": "ManagedZoneForwardingConfig"
        },
        "privateVisibilityConfig": {
          "$ref": "ManagedZonePrivateVisibilityConfig",
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from."
        },
        "nameServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)"
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only."
        },
        "name": {
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "This field links to the associated service directory namespace. Do not set this field for public zones or forwarding zones.",
          "$ref": "ManagedZoneServiceDirectoryConfig"
        },
        "peeringConfig": {
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with.",
          "$ref": "ManagedZonePeeringConfig"
        }
      },
      "type": "object"
    },
    "OperationDnsKeyContext": {
      "properties": {
        "newValue": {
          "description": "The post-operation DnsKey resource.",
          "$ref": "DnsKey"
        },
        "oldValue": {
          "description": "The pre-operation DnsKey resource.",
          "$ref": "DnsKey"
        }
      },
      "id": "OperationDnsKeyContext",
      "type": "object"
    },
    "DnsKeySpec": {
      "type": "object",
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "properties": {
        "algorithm": {
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "type": "string"
        },
        "kind": {
          "default": "dns#dnsKeySpec",
          "type": "string"
        },
        "keyType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets.",
          "type": "string",
          "enum": [
            "keySigning",
            "zoneSigning"
          ]
        },
        "keyLength": {
          "type": "integer",
          "format": "uint32",
          "description": "Length of the keys in bits."
        }
      },
      "id": "DnsKeySpec"
    },
    "ResponsePoliciesUpdateResponse": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "id": "ResponsePoliciesUpdateResponse"
    },
    "DnsKeysListResponse": {
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "dnsKeys": {
          "type": "array",
          "description": "The requested resources.",
          "items": {
            "$ref": "DnsKey"
          }
        },
        "kind": {
          "default": "dns#dnsKeysListResponse",
          "type": "string",
          "description": "Type of resource."
        }
      },
      "id": "DnsKeysListResponse",
      "type": "object"
    },
    "DnsKeyDigest": {
      "type": "object",
      "id": "DnsKeyDigest",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "description": "Specifies the algorithm used to calculate this digest.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "digest": {
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.",
          "type": "string"
        }
      }
    },
    "ResponsePoliciesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "responsePolicies": {
          "description": "The Response Policy resources.",
          "type": "array",
          "items": {
            "$ref": "ResponsePolicy"
          }
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "type": "object",
      "id": "ResponsePoliciesListResponse"
    },
    "PoliciesUpdateResponse": {
      "id": "PoliciesUpdateResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "policy": {
          "$ref": "Policy"
        }
      },
      "type": "object"
    },
    "ManagedZoneForwardingConfig": {
      "id": "ManagedZoneForwardingConfig",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneForwardingConfig"
        },
        "targetNameServers": {
          "type": "array",
          "description": "List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given.",
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          }
        }
      },
      "type": "object"
    },
    "Quota": {
      "type": "object",
      "properties": {
        "managedZonesPerNetwork": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of managed zones which can be attached to a network."
        },
        "peeringZonesPerTargetNetwork": {
          "format": "int32",
          "description": "Maximum allowed number of consumer peering zones per target network owned by this producer project",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "default": "dns#quota"
        },
        "targetNameServersPerManagedZone": {
          "description": "Maximum allowed number of target name servers per managed forwarding zone.",
          "type": "integer",
          "format": "int32"
        },
        "gkeClustersPerManagedZone": {
          "format": "int32",
          "description": "Maximum allowed number of GKE clusters to which a privately scoped zone can be attached.",
          "type": "integer"
        },
        "policies": {
          "format": "int32",
          "description": "Maximum allowed number of policies per project.",
          "type": "integer"
        },
        "managedZonesPerGkeCluster": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of managed zones which can be attached to a GKE cluster."
        },
        "targetNameServersPerPolicy": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of alternative target name servers per policy."
        },
        "responsePolicies": {
          "format": "int32",
          "description": "Maximum allowed number of response policies per project.",
          "type": "integer"
        },
        "networksPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of networks per policy.",
          "format": "int32"
        },
        "rrsetsPerManagedZone": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project."
        },
        "totalRrdataSizePerChange": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes."
        },
        "managedZones": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of managed zones in the project."
        },
        "gkeClustersPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of GKE clusters per policy.",
          "format": "int32"
        },
        "responsePolicyRulesPerResponsePolicy": {
          "type": "integer",
          "description": "Maximum allowed number of rules per response policy.",
          "format": "int32"
        },
        "gkeClustersPerResponsePolicy": {
          "format": "int32",
          "description": "Maximum allowed number of GKE clusters per response policy.",
          "type": "integer"
        },
        "rrsetDeletionsPerChange": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.",
          "type": "integer"
        },
        "networksPerResponsePolicy": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of networks per response policy."
        },
        "rrsetAdditionsPerChange": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.",
          "type": "integer"
        },
        "dnsKeysPerManagedZone": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of DnsKeys per ManagedZone."
        },
        "networksPerManagedZone": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached."
        },
        "whitelistedKeySpecs": {
          "type": "array",
          "items": {
            "$ref": "DnsKeySpec"
          },
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys."
        },
        "resourceRecordsPerRrset": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet."
        },
        "itemsPerRoutingPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of items per routing policy.",
          "format": "int32"
        }
      },
      "id": "Quota",
      "description": "Limits associated with a Project."
    },
    "GoogleIamV1GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GoogleIamV1GetPolicyOptions"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "description": "ResourceRecordSet data for one geo location.",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem",
          "type": "string"
        },
        "location": {
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc.",
          "type": "string"
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "healthCheckedTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets",
          "description": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with rrdata within this item."
        },
        "signatureRrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for all the rrdata within this item. Note that if health checked targets are provided for DNSSEC enabled zones, there's a restriction of 1 ip per item. ."
        }
      },
      "type": "object",
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "id": "PolicyAlternativeNameServerConfigTargetNameServer",
      "type": "object",
      "properties": {
        "ipv4Address": {
          "description": "IPv4 address to forward to.",
          "type": "string"
        },
        "kind": {
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer",
          "type": "string"
        },
        "forwardingPath": {
          "enum": [
            "default",
            "private"
          ],
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "enumDescriptions": [
            "Cloud DNS makes forwarding decision based on IP address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "GoogleIamV1Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        }
      }
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. Format this URL like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfigNetwork"
        }
      },
      "id": "ManagedZonePrivateVisibilityConfigNetwork",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object"
    },
    "ResponsePolicy": {
      "description": "A Response Policy is a collection of selectors that apply to queries made against one or more Virtual Private Cloud networks.",
      "properties": {
        "networks": {
          "description": "List of network names specifying networks to which this policy is applied.",
          "items": {
            "$ref": "ResponsePolicyNetwork"
          },
          "type": "array"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string",
          "format": "int64"
        },
        "responsePolicyName": {
          "type": "string",
          "description": "User assigned name for this Response Policy."
        },
        "description": {
          "type": "string",
          "description": "User-provided description for this Response Policy."
        },
        "kind": {
          "default": "dns#responsePolicy",
          "type": "string"
        }
      },
      "id": "ResponsePolicy",
      "type": "object"
    },
    "DnsKey": {
      "type": "object",
      "properties": {
        "publicKey": {
          "description": "Base64 encoded public half of this key. Output only.",
          "type": "string"
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.",
          "type": "string"
        },
        "isActive": {
          "type": "boolean",
          "description": "Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures."
        },
        "digests": {
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.",
          "type": "array",
          "items": {
            "$ref": "DnsKeyDigest"
          }
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "creationTime": {
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "keyTag": {
          "format": "int32",
          "type": "integer",
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only."
        },
        "algorithm": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.",
          "type": "string",
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ]
        },
        "type": {
          "type": "string",
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "keySigning",
            "zoneSigning"
          ]
        },
        "keyLength": {
          "type": "integer",
          "format": "uint32",
          "description": "Length of the key in bits. Specified at creation time, and then immutable."
        },
        "kind": {
          "default": "dns#dnsKey",
          "type": "string"
        }
      },
      "description": "A DNSSEC key pair.",
      "id": "DnsKey"
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "type": "object",
      "id": "ManagedZoneForwardingConfigNameServerTarget",
      "properties": {
        "forwardingPath": {
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on IP address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "enum": [
            "default",
            "private"
          ],
          "enumDescriptions": [
            "Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZoneForwardingConfigNameServerTarget",
          "type": "string"
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address of a target name server."
        }
      }
    },
    "ManagedZoneServiceDirectoryConfig": {
      "properties": {
        "namespace": {
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace",
          "description": "Contains information about the namespace associated with the zone."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneServiceDirectoryConfig"
        }
      },
      "type": "object",
      "description": "Contains information about Service Directory-backed zones.",
      "id": "ManagedZoneServiceDirectoryConfig"
    },
    "ResourceRecordSetsDeleteResponse": {
      "type": "object",
      "properties": {},
      "id": "ResourceRecordSetsDeleteResponse"
    },
    "ResourceRecordSet": {
      "id": "ResourceRecordSet",
      "properties": {
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples."
        },
        "type": {
          "type": "string",
          "description": "The identifier of a supported record type. See the list of Supported DNS record types."
        },
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
          "description": "Configures dynamic query responses based on geo location of querying user or a weighted round robin based routing policy. A ResourceRecordSet should only have either rrdata (static) or routing_policy (dynamic). An error is returned otherwise."
        },
        "kind": {
          "type": "string",
          "default": "dns#resourceRecordSet"
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "description": "As defined in RFC 4034 (section 3.2).",
          "type": "array"
        },
        "ttl": {
          "description": "Number of seconds that this ResourceRecordSet can be cached by resolvers.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "For example, www.example.com.",
          "type": "string"
        }
      },
      "description": "A unit of data that is returned by the DNS servers.",
      "type": "object"
    },
    "ResponsePolicyRulesUpdateResponse": {
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "type": "object",
      "id": "ResponsePolicyRulesUpdateResponse"
    },
    "GoogleIamV1AuditConfig": {
      "type": "object",
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "Operation": {
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)"
        },
        "dnsKeyContext": {
          "$ref": "OperationDnsKeyContext",
          "description": "Only populated if the operation targeted a DnsKey (output only)."
        },
        "type": {
          "type": "string",
          "description": "Type of the operation. Operations include insert, update, and delete (output only)."
        },
        "zoneContext": {
          "description": "Only populated if the operation targeted a ManagedZone (output only).",
          "$ref": "OperationManagedZoneContext"
        },
        "kind": {
          "type": "string",
          "default": "dns#operation"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enum": [
            "pending",
            "done"
          ]
        },
        "startTime": {
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only).",
          "type": "string"
        }
      }
    },
    "Expr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "ResponsePoliciesPatchResponse": {
      "id": "ResponsePoliciesPatchResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "type": "object"
    },
    "ResponsePolicyRule": {
      "type": "object",
      "id": "ResponsePolicyRule",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "The DNS name (wildcard or exact) to apply this rule to. Must be unique within the Response Policy Rule."
        },
        "ruleName": {
          "type": "string",
          "description": "An identifier for this rule. Must be unique with the ResponsePolicy."
        },
        "behavior": {
          "description": "Answer this query with a behavior rather than DNS data.",
          "enum": [
            "behaviorUnspecified",
            "bypassResponsePolicy"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Skip a less-specific ResponsePolicyRule and continue normal query logic. This can be used with a less-specific wildcard selector to exempt a subset of the wildcard ResponsePolicyRule from the ResponsePolicy behavior and query the public Internet instead. For instance, if these rules exist: *.example.com -\u003e LocalData 1.2.3.4 foo.example.com -\u003e Behavior 'bypassResponsePolicy' Then a query for 'foo.example.com' skips the wildcard. This additionally functions to facilitate the allowlist feature. RPZs can be applied to multiple levels in the (eventually org, folder, project, network) hierarchy. If a rule is applied at a higher level of the hierarchy, adding a passthru rule at a lower level will supersede that, and a query from an affected vm to that domain will be exempt from the RPZ and proceed to normal resolution behavior."
          ]
        },
        "localData": {
          "$ref": "ResponsePolicyRuleLocalData",
          "description": "Answer this query directly with DNS data. These ResourceRecordSets override any other DNS behavior for the matched name; in particular they override private zones, the public internet, and GCP internal DNS. No SOA nor NS types are allowed."
        },
        "kind": {
          "default": "dns#responsePolicyRule",
          "type": "string"
        }
      },
      "description": "A Response Policy Rule is a selector that applies its behavior to queries that match the selector. Selectors are DNS names, which may be wildcards or exact matches. Each DNS query subject to a Response Policy matches at most one ResponsePolicyRule, as identified by the dns_name field with the longest matching suffix."
    },
    "ResponsePolicyNetwork": {
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        },
        "kind": {
          "default": "dns#responsePolicyNetwork",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResponsePolicyNetwork"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.",
      "properties": {
        "name": {
          "type": "string",
          "description": "User-assigned name for this policy."
        },
        "alternativeNameServerConfig": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "$ref": "PolicyAlternativeNameServerConfig"
        },
        "enableInboundForwarding": {
          "type": "boolean",
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy."
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function."
        },
        "enableLogging": {
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.",
          "type": "boolean"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "uint64",
          "type": "string"
        },
        "kind": {
          "default": "dns#policy",
          "type": "string"
        },
        "networks": {
          "description": "List of network names specifying networks to which this policy is applied.",
          "type": "array",
          "items": {
            "$ref": "PolicyNetwork"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "ResourceRecordSetsListResponse": {
      "id": "ResourceRecordSetsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#resourceRecordSetsListResponse",
          "type": "string",
          "description": "Type of resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. This lets you retrieve complete contents of even larger collections, one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "rrsets": {
          "type": "array",
          "description": "The resource record set resources.",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        }
      }
    },
    "ManagedZoneCloudLoggingConfig": {
      "properties": {
        "enableLogging": {
          "type": "boolean",
          "description": "If set, enable query logging for this ManagedZone. False by default, making logging opt-in."
        },
        "kind": {
          "default": "dns#managedZoneCloudLoggingConfig",
          "type": "string"
        }
      },
      "description": "Cloud Logging configurations for publicly visible zones.",
      "type": "object",
      "id": "ManagedZoneCloudLoggingConfig"
    },
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "properties": {
        "namespaceUrl": {
          "description": "The fully qualified URL of the namespace associated with the zone. Format must be https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}",
          "type": "string"
        },
        "deletionTime": {
          "type": "string",
          "description": "The time that the namespace backing this zone was deleted; an empty string if it still exists. This is in RFC3339 text format. Output only."
        },
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfigNamespace",
          "type": "string"
        }
      },
      "id": "ManagedZoneServiceDirectoryConfigNamespace",
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfig",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfig"
        },
        "networks": {
          "type": "array",
          "description": "The list of VPC networks that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          }
        }
      }
    },
    "ResponsePolicyRulesPatchResponse": {
      "type": "object",
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "id": "ResponsePolicyRulesPatchResponse"
    },
    "ManagedZoneReverseLookupConfig": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneReverseLookupConfig"
        }
      },
      "type": "object",
      "id": "ManagedZoneReverseLookupConfig"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "properties": {
        "options": {
          "$ref": "GoogleIamV1GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "type": "object",
      "description": "Request message for `GetIamPolicy` method."
    },
    "ResponsePolicyRulesListResponse": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicyRules": {
          "type": "array",
          "items": {
            "$ref": "ResponsePolicyRule"
          },
          "description": "The Response Policy Rule resources."
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      },
      "id": "ResponsePolicyRulesListResponse"
    },
    "RRSetRoutingPolicyHealthCheckTargets": {
      "id": "RRSetRoutingPolicyHealthCheckTargets",
      "description": "HealthCheckTargets describes endpoints to health-check when responding to Routing Policy queries. Only the healthy endpoints will be included in the response.",
      "type": "object",
      "properties": {
        "internalLoadBalancers": {
          "items": {
            "$ref": "RRSetRoutingPolicyLoadBalancerTarget"
          },
          "type": "array"
        }
      }
    },
    "Change": {
      "properties": {
        "additions": {
          "type": "array",
          "description": "Which ResourceRecordSets to add?",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "kind": {
          "default": "dns#change",
          "type": "string"
        },
        "deletions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "type": "array"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "pending",
            "done"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format."
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "isServing": {
          "type": "boolean",
          "description": "If the DNS queries for the zone will be served."
        }
      },
      "type": "object",
      "description": "A Change represents a set of ResourceRecordSet additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the ResourceRecordSets in a ManagedZone. The current state of the ManagedZone is the sum effect of applying all Change elements in the Changes collection in sequence.",
      "id": "Change"
    }
  },
  "documentationLink": "https://cloud.google.com/dns/docs",
  "baseUrl": "https://dns.googleapis.com/",
  "id": "dns:v1",
  "ownerName": "Google",
  "basePath": "",
  "protocol": "rest",
  "version": "v1",
  "description": "",
  "ownerDomain": "google.com",
  "resources": {
    "managedZones": {
      "methods": {
        "getIamPolicy": {
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:getIamPolicy",
          "request": {
            "$ref": "GoogleIamV1GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "id": "dns.managedZones.getIamPolicy",
          "path": "dns/v1/{+resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Applies a partial update to an existing ManagedZone.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "request": {
            "$ref": "ManagedZone"
          },
          "id": "dns.managedZones.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "setIamPolicy": {
          "path": "dns/v1/{+resource}:setIamPolicy",
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:setIamPolicy",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$"
            }
          },
          "request": {
            "$ref": "GoogleIamV1SetIamPolicyRequest"
          },
          "id": "dns.managedZones.setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
        },
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "dnsName": {
              "location": "query",
              "description": "Restricts the list to return only zones with this domain name.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "type": "integer"
            }
          },
          "description": "Enumerates ManagedZones that have been created but not yet deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones",
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "id": "dns.managedZones.list"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Creates a new ManagedZone.",
          "id": "dns.managedZones.create",
          "path": "dns/v1/projects/{project}/managedZones",
          "response": {
            "$ref": "ManagedZone"
          },
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "request": {
            "$ref": "ManagedZone"
          },
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "httpMethod": "POST"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Updates an existing ManagedZone.",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "ManagedZone"
          },
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "id": "dns.managedZones.update",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "PUT"
        },
        "get": {
          "response": {
            "$ref": "ManagedZone"
          },
          "description": "Fetches the representation of an existing ManagedZone.",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "id": "dns.managedZones.get",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        },
        "testIamPermissions": {
          "id": "dns.managedZones.testIamPermissions",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleIamV1TestIamPermissionsResponse"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "path": "dns/v1/{+resource}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:testIamPermissions",
          "request": {
            "$ref": "GoogleIamV1TestIamPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE",
          "id": "dns.managedZones.delete",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Deletes a previously created ManagedZone."
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "update": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "description": "Updates an existing Response Policy Rule.",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "PUT",
          "id": "dns.responsePolicyRules.update",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy to list.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "id": "dns.responsePolicyRules.list"
        },
        "get": {
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicyRules.get",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameters": {
            "responsePolicyRule": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User assigned name of the Response Policy Rule addressed by this request."
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request."
            }
          },
          "httpMethod": "GET"
        },
        "create": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "project": {
[...]
