{
  "protocol": "rest",
  "resources": {
    "locations": {
      "methods": {
        "getBusinesscallssettings": {
          "flatPath": "v1/locations/{locationsId}/businesscallssettings",
          "id": "mybusinessbusinesscalls.locations.getBusinesscallssettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "BusinessCallsSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^locations/[^/]+/businesscallssettings$",
              "type": "string",
              "description": "Required. The BusinessCallsSettings to get. The `name` field is used to identify the business call settings to get. Format: locations/{location_id}/businesscallssettings."
            }
          },
          "description": "Returns the Business calls settings resource for the given location."
        },
        "updateBusinesscallssettings": {
          "response": {
            "$ref": "BusinessCallsSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^locations/[^/]+/businesscallssettings$",
              "description": "Required. The resource name of the calls settings. Format: locations/{location}/businesscallssettings",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "description": "Required. The list of fields to update.",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "BusinessCallsSettings"
          },
          "path": "v1/{+name}",
          "httpMethod": "PATCH",
          "flatPath": "v1/locations/{locationsId}/businesscallssettings",
          "description": "Updates the Business call settings for the specified location.",
          "id": "mybusinessbusinesscalls.locations.updateBusinesscallssettings"
        }
      },
      "resources": {
        "businesscallsinsights": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/businesscallsinsights",
              "id": "mybusinessbusinesscalls.locations.businesscallsinsights.list",
              "path": "v1/{+parent}/businesscallsinsights",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of BusinessCallsInsights to return. If unspecified, at most 20 will be returned. Some of the metric_types(e.g, AGGREGATE_COUNT) returns a single page. For these metrics, the page_size is ignored.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+$",
                  "description": "Required. The parent location to fetch calls insights for. Format: locations/{location_id}",
                  "location": "path"
                },
                "filter": {
                  "description": "Optional. A filter constraining the calls insights to return. The response includes only entries that match the filter. If the MetricType is not provided, AGGREGATE_COUNT is returned. If no end_date is provided, the last date for which data is available is used. If no start_date is provided, we will default to the first date for which data is available, which is currently 6 months. If start_date is before the date when data is available, data is returned starting from the date when it is available. At this time we support following filters. 1. start_date=\"DATE\" where date is in YYYY-MM-DD format. 2. end_date=\"DATE\" where date is in YYYY-MM-DD format. 3. metric_type=XYZ where XYZ is a valid MetricType. 4. Conjunctions(AND) of all of the above. e.g., \"start_date=2021-08-01 AND end_date=2021-08-10 AND metric_type=AGGREGATE_COUNT\" The AGGREGATE_COUNT metric_type ignores the DD part of the date.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListBusinessCallsInsights` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBusinessCallsInsights` must match the call that provided the page token. Some of the metric_types (e.g, AGGREGATE_COUNT) returns a single page. For these metrics, the pake_token is ignored.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListBusinessCallsInsightsResponse"
              },
              "description": "Returns insights for Business calls for a location.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "mybusinessbusinesscalls",
  "baseUrl": "https://mybusinessbusinesscalls.googleapis.com/",
  "canonicalName": "My Business Business Calls",
  "ownerName": "Google",
  "revision": "20220804",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/my-business/",
  "title": "My Business Business Calls API",
  "version": "v1",
  "servicePath": "",
  "basePath": "",
  "description": "The My Business Business Calls API manages business calls information of a location on Google and collect insights like the number of missed calls to their location. Additional information about Business calls can be found at https://support.google.com/business/answer/9688285?p=call_history. If the Google Business Profile links to a Google Ads account and call history is turned on, calls that last longer than a specific time, and that can be attributed to an ad interaction, will show in the linked Google Ads account under the \"Calls from Ads\" conversion. If smart bidding and call conversions are used in the optimization strategy, there could be a change in ad spend. Learn more about smart bidding. To view and perform actions on a location's calls, you need to be a `OWNER`, `CO_OWNER` or `MANAGER` of the location.",
  "rootUrl": "https://mybusinessbusinesscalls.googleapis.com/",
  "batchPath": "batch",
  "id": "mybusinessbusinesscalls:v1",
  "schemas": {
    "Date": {
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "WeekDayMetrics": {
      "id": "WeekDayMetrics",
      "type": "object",
      "description": "Metrics for a week day.",
      "properties": {
        "missedCallsCount": {
          "type": "integer",
          "description": "Total count of missed calls for this hour.",
          "format": "int32"
        },
        "day": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Day of the week. Allowed values are Sunday - Saturday.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "ListBusinessCallsInsightsResponse": {
      "type": "object",
      "description": "Response message for ListBusinessCallsInsights.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Some of the metric_types (e.g, AGGREGATE_COUNT) returns a single page. For these metrics, the next_page_token will be empty.",
          "type": "string"
        },
        "businessCallsInsights": {
          "items": {
            "$ref": "BusinessCallsInsights"
          },
          "description": "A collection of business calls insights for the location.",
          "type": "array"
        }
      },
      "id": "ListBusinessCallsInsightsResponse"
    },
    "BusinessCallsInsights": {
      "type": "object",
      "id": "BusinessCallsInsights",
      "properties": {
        "name": {
          "description": "Required. The resource name of the calls insights. Format: locations/{location}/businesscallsinsights",
          "type": "string"
        },
        "metricType": {
          "description": "The metric for which the value applies.",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "AGGREGATE_COUNT"
          ],
          "enumDescriptions": [
            "Type of metric is unspecified.",
            "The metrics provided are counts aggregated over the input time_range."
          ],
          "type": "string"
        },
        "aggregateMetrics": {
          "$ref": "AggregateMetrics",
          "description": "Metric for the time range based on start_date and end_date."
        }
      },
      "description": "Insights for calls made to a location."
    },
    "BusinessCallsSettings": {
      "type": "object",
      "id": "BusinessCallsSettings",
      "description": "Business calls settings for a location.",
      "properties": {
        "consentTime": {
          "format": "google-datetime",
          "description": "Input only. Time when the end user provided consent to the API user to enable business calls.",
          "type": "string"
        },
        "callsState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Business calls is enabled for the location.",
            "Business calls is disabled for the location."
          ],
          "description": "Required. The state of this location's enrollment in Business calls.",
          "enum": [
            "CALLS_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "name": {
          "description": "Required. The resource name of the calls settings. Format: locations/{location}/businesscallssettings",
          "type": "string"
        }
      }
    },
    "HourlyMetrics": {
      "description": "Metrics for an hour.",
      "id": "HourlyMetrics",
      "properties": {
        "hour": {
          "format": "int32",
          "description": "Hour of the day. Allowed values are 0-23.",
          "type": "integer"
        },
        "missedCallsCount": {
          "description": "Total count of missed calls for this hour.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AggregateMetrics": {
      "description": "Metrics aggregated over the input time range.",
      "id": "AggregateMetrics",
      "properties": {
        "endDate": {
          "description": "End date for this metric.",
          "$ref": "Date"
        },
        "startDate": {
          "description": "Date for this metric. If metric is monthly, only year and month are used.",
          "$ref": "Date"
        },
        "hourlyMetrics": {
          "items": {
            "$ref": "HourlyMetrics"
          },
          "type": "array",
          "description": "A list of metrics by hour of day."
        },
        "weekdayMetrics": {
          "type": "array",
          "items": {
            "$ref": "WeekDayMetrics"
          },
          "description": "A list of metrics by day of week."
        },
        "answeredCallsCount": {
          "description": "Total count of answered calls.",
          "type": "integer",
          "format": "int32"
        },
        "missedCallsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total count of missed calls."
        }
      },
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://mybusinessbusinesscalls.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true
}
