{
  "ownerName": "Google",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "basePath": "",
  "schemas": {
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response."
        },
        "questions": {
          "items": {
            "$ref": "Question"
          },
          "type": "array",
          "description": "The requested questions,"
        },
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "id": "ListAnswersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of answers posted for this question across all pages.",
          "format": "int32"
        },
        "answers": {
          "items": {
            "$ref": "Answer"
          },
          "type": "array",
          "description": "The requested answers."
        }
      }
    },
    "Answer": {
      "type": "object",
      "id": "Answer",
      "description": "Represents an answer to a question",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "readOnly": true
        },
        "upvoteCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer"
        },
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true,
          "$ref": "Author"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified."
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "type": "string"
        }
      }
    },
    "Question": {
      "id": "Question",
      "description": "Represents a single question and some of its answers.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
        },
        "totalAnswerCount": {
          "type": "integer",
          "description": "Output only. The total number of answers posted for this question.",
          "readOnly": true,
          "format": "int32"
        },
        "upvoteCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of upvotes for the question."
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the question.",
          "$ref": "Author"
        },
        "topAnswers": {
          "type": "array",
          "items": {
            "$ref": "Answer"
          },
          "readOnly": true,
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was last modified.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp for when the question was written.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "UpsertAnswerRequest": {
      "id": "UpsertAnswerRequest",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      },
      "type": "object",
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer"
    },
    "Author": {
      "type": "object",
      "properties": {
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        },
        "type": {
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "description": "The type of user the author is.",
          "type": "string"
        }
      },
      "id": "Author",
      "description": "Represents the author of a question or answer"
    }
  },
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "ownerDomain": "google.com",
  "name": "mybusinessqanda",
  "title": "My Business Q&A API",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "resources": {
            "answers": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "description": "Returns the paginated list of answers for a specified question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to fetch answers for.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/answers",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "upsert": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "path": "v1/{+parent}/answers:upsert",
                  "response": {
                    "$ref": "Answer"
                  },
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to write an answer for.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert"
                },
                "delete": {
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the answer written by the current user to a question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to delete an answer for."
                    }
                  },
                  "path": "v1/{+name}/answers:delete"
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "required": true,
                  "description": "Required. The name of the location to write a question for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Adds a question for the specified location.",
              "httpMethod": "POST",
              "path": "v1/{+parent}",
              "request": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.create"
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "description": "Deletes a specific question written by the current user.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the question to delete.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessqanda.locations.questions.delete",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}"
            },
            "patch": {
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The specific fields to update. Only question text can be updated."
                },
                "name": {
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessqanda.locations.questions.patch",
              "response": {
                "$ref": "Question"
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "Question"
              },
              "description": "Updates a specific question written by the current user.",
              "httpMethod": "PATCH"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If specified, the next page of questions is retrieved."
                },
                "parent": {
                  "description": "Required. The name of the location to fetch questions for.",
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "type": "string",
                  "location": "query"
                },
                "answersPerQuestion": {
                  "format": "int32",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "type": "integer",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}",
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessqanda.locations.questions.list",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/questions",
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified."
            }
          }
        }
      }
    }
  },
  "id": "mybusinessqanda:v1",
  "protocol": "rest",
  "batchPath": "batch",
  "canonicalName": "My Business Q&A",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings.",
  "documentationLink": "https://developers.google.com/my-business/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "revision": "20220804",
  "version_module": true,
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "rootUrl": "https://mybusinessqanda.googleapis.com/"
}
