{
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "SiteVerificationWebResourceResource": {
      "id": "SiteVerificationWebResourceResource",
      "type": "object",
      "properties": {
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          }
        },
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        },
        "owners": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses of all verified owners."
        }
      }
    },
    "SiteVerificationWebResourceListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user."
        }
      },
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "properties": {
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        },
        "site": {
          "description": "The site for which a verification token will be generated.",
          "type": "object",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          }
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed.",
          "type": "string"
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse"
    }
  },
  "servicePath": "siteVerification/v1/",
  "icons": {
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png",
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png"
  },
  "discoveryVersion": "v1",
  "description": "Verifies ownership of websites or domains with Google.",
  "version": "v1",
  "name": "siteVerification",
  "parameters": {
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for the response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "false",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "id": "siteVerification:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "protocol": "rest",
  "revision": "20191119",
  "ownerDomain": "google.com",
  "batchPath": "batch/siteVerification/v1",
  "ownerName": "Google",
  "title": "Google Site Verification API",
  "basePath": "/siteVerification/v1/",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "resources": {
    "webResource": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "description": "Relinquish ownership of a website or domain.",
          "id": "siteVerification.webResource.delete",
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain."
            }
          },
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "list": {
          "description": "Get the list of your verified websites and domains.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "path": "webResource",
          "id": "siteVerification.webResource.list"
        },
        "getToken": {
          "httpMethod": "POST",
          "description": "Get a verification token for placing on a website or domain.",
          "path": "token",
          "id": "siteVerification.webResource.getToken",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ]
        },
        "update": {
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.update",
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain."
            }
          },
          "httpMethod": "PUT"
        },
        "get": {
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "id"
          ],
          "description": "Get the most current data for a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "description": "The id of a verified site or domain.",
              "type": "string"
            }
          },
          "path": "webResource/{id}"
        },
        "insert": {
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.insert",
          "httpMethod": "POST",
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "verificationMethod"
          ],
          "description": "Attempt verification of a website or domain."
        },
        "patch": {
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "parameterOrder": [
            "id"
          ]
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/site-verification/"
}
