{
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "baseUrl": "https://toolresults.googleapis.com/",
  "rootUrl": "https://toolresults.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "API to publish and access results from developer tools.",
  "resources": {
    "projects": {
      "methods": {
        "initializeSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "toolresults.projects.initializeSettings",
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 90 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "A Project id. Required.",
              "required": true,
              "location": "path"
            }
          },
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "httpMethod": "POST"
        },
        "getSettings": {
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "parameters": {
            "projectId": {
              "description": "A Project id. Required.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "id": "toolresults.projects.getSettings"
        }
      },
      "resources": {
        "histories": {
          "methods": {
            "list": {
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "parameters": {
                "projectId": {
                  "description": "A Project id. Required.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A continuation token to resume the query at the next item. Optional.",
                  "type": "string"
                },
                "filterByName": {
                  "location": "query",
                  "type": "string",
                  "description": "If set, only return histories with the given name. Optional."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "toolresults.projects.histories.list"
            },
            "create": {
              "parameters": {
                "requestId": {
                  "type": "string",
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "A Project id. Required.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "id": "toolresults.projects.histories.create",
              "httpMethod": "POST",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "History"
              }
            },
            "get": {
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "httpMethod": "GET",
              "id": "toolresults.projects.histories.get",
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "parameters": {
                "projectId": {
                  "description": "A Project id. Required.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "historyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "A History id. Required."
                }
              },
              "parameterOrder": [
                "projectId",
                "historyId"
              ]
            }
          },
          "resources": {
            "executions": {
              "resources": {
                "environments": {
                  "methods": {
                    "get": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "response": {
                        "$ref": "Environment"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "parameters": {
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. A History id."
                        },
                        "executionId": {
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "required": true,
                          "type": "string"
                        },
                        "environmentId": {
                          "description": "Required. An Environment id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "description": "Required. A Project id.",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "description": "Required. An Execution id.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A continuation token to resume the query at the next item."
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. A Project id.",
                          "location": "path"
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. A History id."
                        }
                      },
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      }
                    }
                  }
                },
                "clusters": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "clusterId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A Cluster id Required."
                        },
                        "historyId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A History id. Required."
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "description": "A Project id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "id": "toolresults.projects.histories.executions.clusters.list"
                    }
                  }
                },
                "steps": {
                  "methods": {
                    "getPerfMetricsSummary": {
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "A tool results execution ID.",
                          "location": "path"
                        },
                        "historyId": {
                          "required": true,
                          "description": "A tool results history ID.",
                          "type": "string",
                          "location": "path"
                        },
                        "stepId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A tool results step ID."
                        },
                        "projectId": {
                          "description": "The cloud project",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary"
                    },
                    "publishXunitXmlFiles": {
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "response": {
                        "$ref": "Step"
                      },
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "location": "path",
                          "description": "A Execution id. Required.",
                          "type": "string"
                        },
                        "stepId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                        },
                        "historyId": {
                          "required": true,
                          "description": "A History id. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Project id. Required."
                        }
                      }
                    },
                    "patch": {
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "parameters": {
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "stepId": {
                          "type": "string",
                          "required": true,
                          "description": "A Step id. Required.",
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                        },
                        "historyId": {
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "executionId": {
                          "location": "path",
                          "description": "A Execution id. Required.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "request": {
                        "$ref": "Step"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "response": {
                        "$ref": "Step"
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "request": {
                        "$ref": "Step"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Step"
                      },
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. A History id."
                        },
                        "requestId": {
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string",
                          "location": "query"
                        },
                        "executionId": {
                          "description": "Required. An Execution id.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. A Project id.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "id": "toolresults.projects.histories.executions.steps.create"
                    },
                    "get": {
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "response": {
                        "$ref": "Step"
                      },
                      "parameters": {
                        "stepId": {
                          "location": "path",
                          "type": "string",
                          "description": "A Step id. Required.",
                          "required": true
                        },
                        "executionId": {
                          "location": "path",
                          "description": "A Execution id. Required.",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "A History id. Required."
                        },
                        "projectId": {
                          "required": true,
                          "description": "A Project id. Required.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "httpMethod": "GET",
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist"
                    },
                    "accessibilityClusters": {
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "location": "path"
                        },
                        "locale": {
                          "location": "query",
                          "type": "string",
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required."
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "location": "query",
                          "type": "integer"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A Project id. Required."
                        },
                        "executionId": {
                          "location": "path",
                          "type": "string",
                          "description": "A Execution id. Required.",
                          "required": true
                        },
                        "historyId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A History id. Required."
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "response": {
                        "$ref": "ListStepsResponse"
                      }
                    }
                  },
                  "resources": {
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "httpMethod": "POST",
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                          "parameters": {
                            "historyId": {
                              "description": "A tool results history ID.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "projectId": {
                              "type": "string",
                              "description": "The cloud project",
                              "location": "path",
                              "required": true
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "stepId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A tool results step ID."
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "list": {
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "historyId": {
                              "type": "string",
                              "description": "A History id. Required.",
                              "required": true,
                              "location": "path"
                            },
                            "stepId": {
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer",
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional."
                            },
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Project id. Required."
                            },
                            "executionId": {
                              "type": "string",
                              "required": true,
                              "description": "A Execution id Required.",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "id": "toolresults.projects.histories.executions.steps.testCases.list"
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "TestCase"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "projectId": {
                              "description": "A Project id. Required.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Execution id Required."
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path"
                            },
                            "historyId": {
                              "location": "path",
                              "description": "A History id. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "testCaseId": {
                              "location": "path",
                              "required": true,
                              "description": "A Test Case id. Required.",
                              "type": "string"
                            }
                          },
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "id": "toolresults.projects.histories.executions.steps.testCases.get",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ]
                        }
                      }
                    },
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist",
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "parameters": {
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "description": "An Execution id. Required.",
                              "type": "string"
                            },
                            "stepId": {
                              "required": true,
                              "description": "A Step id. Required.",
                              "location": "path",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "type": "string",
                              "description": "A History id. Required.",
                              "required": true,
                              "location": "path"
                            },
                            "pageToken": {
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails"
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "parameters": {
                                "executionId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results execution ID."
                                },
                                "stepId": {
                                  "location": "path",
                                  "description": "A tool results step ID.",
                                  "required": true,
                                  "type": "string"
                                },
                                "projectId": {
                                  "location": "path",
                                  "description": "The cloud project",
                                  "type": "string",
                                  "required": true
                                },
                                "historyId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results history ID.",
                                  "location": "path"
                                },
                                "sampleSeriesId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A sample series id"
                                }
                              }
                            },
                            "list": {
                              "parameters": {
                                "stepId": {
                                  "description": "A tool results step ID.",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional, the next_page_token returned in the previous response"
                                },
                                "executionId": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "A tool results execution ID."
                                },
                                "pageSize": {
                                  "location": "query",
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "historyId": {
                                  "type": "string",
                                  "description": "A tool results history ID.",
                                  "required": true,
                                  "location": "path"
                                },
                                "sampleSeriesId": {
                                  "type": "string",
                                  "description": "A sample series id",
                                  "required": true,
                                  "location": "path"
                                },
                                "projectId": {
                                  "description": "The cloud project",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ]
                            }
                          }
                        }
                      },
                      "methods": {
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "httpMethod": "POST",
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist",
                          "parameters": {
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string"
                            },
                            "stepId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results step ID.",
                              "type": "string"
                            },
                            "projectId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The cloud project"
                            },
                            "executionId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A tool results execution ID."
                            }
                          },
                          "request": {
                            "$ref": "PerfSampleSeries"
                          }
                        },
                        "get": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "httpMethod": "GET",
                          "parameters": {
                            "sampleSeriesId": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "A sample series id"
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "location": "path",
                              "type": "string",
                              "description": "The cloud project",
                              "required": true
                            },
                            "stepId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results step ID.",
                              "type": "string"
                            },
                            "historyId": {
                              "type": "string",
                              "description": "A tool results history ID.",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist"
                        },
                        "list": {
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "description": "The cloud project",
                              "type": "string"
                            },
                            "historyId": {
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string",
                              "location": "path"
                            },
                            "filter": {
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "repeated": true,
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result",
                              "type": "string",
                              "location": "query",
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ]
                            },
                            "stepId": {
                              "location": "path",
                              "description": "A tool results step ID.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                    },
                    "historyId": {
                      "required": true,
                      "description": "A History id. Required.",
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A Project id. Required.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "httpMethod": "POST",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "request": {
                    "$ref": "Execution"
                  },
                  "id": "toolresults.projects.histories.executions.create",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                },
                "get": {
                  "id": "toolresults.projects.histories.executions.get",
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "httpMethod": "GET",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "executionId": {
                      "type": "string",
                      "required": true,
                      "description": "An Execution id. Required.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "A Project id. Required.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "historyId": {
                      "description": "A History id. Required.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Execution"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "Execution"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "request": {
                    "$ref": "Execution"
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "id": "toolresults.projects.histories.executions.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "historyId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required."
                    },
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query",
                      "type": "string"
                    },
                    "executionId": {
                      "description": "Required.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "A Project id. Required."
                    }
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A continuation token to resume the query at the next item. Optional."
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "A Project id. Required.",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                      "type": "integer"
                    },
                    "historyId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "A History id. Required."
                    }
                  },
                  "httpMethod": "GET",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "id": "toolresults.projects.histories.executions.list",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "Cloud Tool Results API",
  "revision": "20220804",
  "kind": "discovery#restDescription",
  "schemas": {
    "EnvironmentDimensionValueEntry": {
      "type": "object",
      "id": "EnvironmentDimensionValueEntry",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "Outcome": {
      "id": "Outcome",
      "description": "Interprets a result so that humans and machines can act on it.",
      "properties": {
        "summary": {
          "description": "The simplest way to interpret a result. Required",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ]
        },
        "skippedDetail": {
          "$ref": "SkippedDetail",
          "description": "More information about a SKIPPED outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SKIPPED. Optional"
        },
        "successDetail": {
          "description": "More information about a SUCCESS outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SUCCESS. Optional",
          "$ref": "SuccessDetail"
        },
        "inconclusiveDetail": {
          "$ref": "InconclusiveDetail",
          "description": "More information about an INCONCLUSIVE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not INCONCLUSIVE. Optional"
        },
        "failureDetail": {
          "description": "More information about a FAILURE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not FAILURE. Optional",
          "$ref": "FailureDetail"
        }
      },
      "type": "object"
    },
    "Timestamp": {
      "type": "object",
      "id": "Timestamp",
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970, in the proleptic Gregorian calendar which extends the Gregorian calendar backwards to year one. All minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap second table is needed for interpretation, using a [24-hour linear smear](https://developers.google.com/time/smear). The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By restricting to that range, we ensure that we can convert to and from [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.",
      "properties": {
        "seconds": {
          "description": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status"
    },
    "NonSdkApiUsageViolationReport": {
      "properties": {
        "minSdkVersion": {
          "description": "Minimum API level required for the application to run.",
          "format": "int32",
          "type": "integer"
        },
        "targetSdkVersion": {
          "format": "int32",
          "description": "Specifies the API Level on which the application is designed to run.",
          "type": "integer"
        },
        "uniqueApis": {
          "description": "Total number of unique Non-SDK API's accessed.",
          "type": "integer",
          "format": "int32"
        },
        "exampleApis": {
          "description": "Examples of the detected API usages.",
          "items": {
            "$ref": "NonSdkApi"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "NonSdkApiUsageViolationReport",
      "description": "Contains a summary and examples of non-sdk API usage violations."
    },
    "Any": {
      "id": "Any",
      "properties": {
        "typeUrl": {
          "description": "A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: * If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield a google.protobuf.Type value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics.",
          "type": "string"
        },
        "value": {
          "description": "Must be a valid serialized protocol buffer of the above specified type.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "description": " `Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". # JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": , \"lastName\": } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message google.protobuf.Duration): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }"
    },
    "TestCase": {
      "properties": {
        "skippedMessage": {
          "description": "Why the test case was skipped. Present only for skipped test case",
          "type": "string"
        },
        "endTime": {
          "description": "The end time of the test case.",
          "$ref": "Timestamp"
        },
        "toolOutputs": {
          "type": "array",
          "description": "References to opaque files of any format output by the tool execution. @OutputOnly",
          "items": {
            "$ref": "ToolOutputReference"
          }
        },
        "status": {
          "enumDescriptions": [
            "Test passed.",
            "Test failed.",
            "Test encountered an error",
            "Test skipped",
            "Test flaked. Present only for rollup test cases; test cases from steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string",
          "enum": [
            "passed",
            "failed",
            "error",
            "skipped",
            "flaky"
          ],
          "description": "The status of the test case. Required."
        },
        "startTime": {
          "$ref": "Timestamp",
          "description": "The start time of the test case."
        },
        "elapsedTime": {
          "description": "The elapsed run time of the test case. Required.",
          "$ref": "Duration"
        },
        "testCaseReference": {
          "$ref": "TestCaseReference",
          "description": "Test case reference, e.g. name, class name and test suite name. Required."
        },
        "testCaseId": {
          "description": "A unique identifier within a Step for this Test Case.",
          "type": "string"
        },
        "stackTraces": {
          "items": {
            "$ref": "StackTrace"
          },
          "type": "array",
          "description": "The stack trace details if the test case failed or encountered an error. The maximum size of the stack traces is 100KiB, beyond which the stack track will be truncated. Zero if the test case passed."
        }
      },
      "type": "object",
      "id": "TestCase"
    },
    "ListPerfSamplesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request",
          "type": "string"
        },
        "perfSamples": {
          "items": {
            "$ref": "PerfSample"
          },
          "type": "array"
        }
      },
      "id": "ListPerfSamplesResponse",
      "type": "object"
    },
    "PerfEnvironment": {
      "id": "PerfEnvironment",
      "properties": {
        "memoryInfo": {
          "description": "Memory related environment info",
          "$ref": "MemoryInfo"
        },
        "cpuInfo": {
          "$ref": "CPUInfo",
          "description": "CPU related environment info"
        }
      },
      "description": "Encapsulates performance environment info",
      "type": "object"
    },
    "PerformedMonkeyActions": {
      "description": "A notification that Robo performed some monkey actions.",
      "type": "object",
      "properties": {
        "totalActions": {
          "type": "integer",
          "description": "The total number of monkey actions performed during the crawl.",
          "format": "int32"
        }
      },
      "id": "PerformedMonkeyActions"
    },
    "Execution": {
      "description": "An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step The maximum size of an execution message is 1 MiB. An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "type": "string",
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "description": "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional"
        },
        "outcome": {
          "description": "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        },
        "specification": {
          "$ref": "Specification",
          "description": "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional"
        },
        "completionTime": {
          "description": "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set"
        },
        "testExecutionMatrixId": {
          "description": "TestExecution Matrix ID that the TestExecutionService uses. - In response: present if set by create - In create: optional - In update: never set",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set"
        },
        "dimensionDefinitions": {
          "type": "array",
          "description": "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set",
          "items": {
            "$ref": "MatrixDimensionDefinition"
          }
        }
      },
      "id": "Execution",
      "type": "object"
    },
    "ToolOutputReference": {
      "type": "object",
      "id": "ToolOutputReference",
      "properties": {
        "testCase": {
          "$ref": "TestCaseReference",
          "description": "The test case to which this output file belongs. - In response: present if set by create/update request - In create/update request: optional"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The creation time of the file. - In response: present if set by create/update request - In create/update request: optional"
        },
        "output": {
          "description": "A FileReference to an output file. - In response: always set - In create/update request: always set",
          "$ref": "FileReference"
        }
      },
      "description": "A reference to a ToolExecution output file."
    },
    "BasicPerfSampleSeries": {
      "description": "Encapsulates the metadata for basic sample series represented by a line chart",
      "properties": {
        "perfMetricType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "perfMetricTypeUnspecified",
            "memory",
            "cpu",
            "network",
            "graphics"
          ],
          "type": "string"
        },
        "sampleSeriesLabel": {
          "enum": [
            "sampleSeriesTypeUnspecified",
            "memoryRssPrivate",
            "memoryRssShared",
            "memoryRssTotal",
            "memoryTotal",
            "cpuUser",
            "cpuKernel",
            "cpuTotal",
            "ntBytesTransferred",
            "ntBytesReceived",
            "networkSent",
            "networkReceived",
            "graphicsFrameRate"
          ],
          "enumDescriptions": [
            "",
            "Memory sample series",
            "",
            "",
            "",
            "CPU sample series",
            "",
            "",
            "Network sample series",
            "",
            "",
            "",
            "Graphics sample series"
          ],
          "type": "string"
        },
        "perfUnit": {
          "enum": [
            "perfUnitUnspecified",
            "kibibyte",
            "percent",
            "bytesPerSecond",
            "framesPerSecond",
            "byte"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "BasicPerfSampleSeries",
      "type": "object"
    },
    "History": {
      "description": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch.",
      "properties": {
        "historyId": {
          "type": "string",
          "description": "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set"
        },
        "name": {
          "description": "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set",
          "type": "string"
        },
        "testPlatform": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown.",
          "type": "string",
          "enum": [
            "unknownPlatform",
            "android",
            "ios"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional"
        }
      },
      "type": "object",
      "id": "History"
    },
    "AppStartTime": {
      "id": "AppStartTime",
      "properties": {
        "initialDisplayTime": {
          "description": "The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial",
          "$ref": "Duration"
        },
        "fullyDrawnTime": {
          "$ref": "Duration",
          "description": "Optional. The time from app start to reaching the developer-reported \"fully drawn\" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full"
        }
      },
      "type": "object"
    },
    "ListStepThumbnailsResponse": {
      "type": "object",
      "description": "A response containing the thumbnails in a step.",
      "id": "ListStepThumbnailsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field."
        },
        "thumbnails": {
          "type": "array",
          "description": "A list of image data. Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep).",
          "items": {
            "$ref": "Image"
          }
        }
      }
    },
    "SafeHtmlProto": {
      "type": "object",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests.",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "type": "string",
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
        }
      },
      "id": "SafeHtmlProto"
    },
    "UnusedRoboDirective": {
      "id": "UnusedRoboDirective",
      "description": "Additional details of an unused robodirective.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource that was unused."
        }
      },
      "type": "object"
    },
    "UIElementTooDeep": {
      "type": "object",
      "properties": {
        "screenStateId": {
          "type": "string",
          "description": "The screen state id of the element"
        },
[...]
