{
  "discoveryVersion": "v1",
  "id": "vmmigration:v1",
  "servicePath": "",
  "version": "v1",
  "ownerDomain": "google.com",
  "revision": "20220728",
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "ownerName": "Google",
  "schemas": {
    "VmUtilizationInfo": {
      "type": "object",
      "id": "VmUtilizationInfo",
      "properties": {
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        },
        "vmwareVmDetails": {
          "$ref": "VmwareVmDetails",
          "description": "The description of the VM in a Source of type Vmware."
        },
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        }
      },
      "description": "Utilization information of a single VM."
    },
    "CancelCloneJobRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelCloneJobRequest",
      "description": "Request message for 'CancelCloneJob' request."
    },
    "AddGroupMigrationRequest": {
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The full path name of the MigratingVm to add."
        }
      },
      "type": "object",
      "id": "AddGroupMigrationRequest",
      "description": "Request message for 'AddGroupMigration' request."
    },
    "RemoveGroupMigrationRequest": {
      "properties": {
        "migratingVm": {
          "description": "The MigratingVm to remove.",
          "type": "string"
        }
      },
      "description": "Request message for 'RemoveMigration' request.",
      "type": "object",
      "id": "RemoveGroupMigrationRequest"
    },
    "CancelCutoverJobRequest": {
      "properties": {},
      "id": "CancelCutoverJobRequest",
      "description": "Request message for 'CancelCutoverJob' request.",
      "type": "object"
    },
    "MigrationError": {
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "type": "object",
      "properties": {
        "actionItem": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. Suggested action for solving the error."
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "type": "array",
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "readOnly": true
        },
        "code": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate for Compute encountered an unknown error.",
            "Migrate for Compute encountered an error while validating replication source health.",
            "Migrate for Compute encountered an error during source data operation.",
            "Migrate for Compute encountered an error during target data operation.",
            "Migrate for Compute encountered an error during OS adaptation.",
            "Migrate for Compute encountered an error in clone operation.",
            "Migrate for Compute encountered an error in cutover operation.",
            "Migrate for Compute encountered an error during utilization report creation.",
            "Migrate for Compute encountered an error during appliance upgrade."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR"
          ],
          "description": "Output only. The error code."
        },
        "errorTime": {
          "description": "Output only. The time the error occurred.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "errorMessage": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. The localized error message."
        }
      },
      "id": "MigrationError"
    },
    "UpgradeStatus": {
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "type": "object",
      "id": "UpgradeStatus",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time the operation was started.",
          "format": "google-datetime"
        },
        "version": {
          "type": "string",
          "description": "The version to upgrade to."
        },
        "state": {
          "type": "string",
          "description": "The state of the upgradeAppliance operation.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        },
        "error": {
          "description": "Provides details on the state of the upgrade operation in case of an error.",
          "$ref": "Status"
        }
      }
    },
    "ResumeMigrationRequest": {
      "properties": {},
      "description": "Request message for 'ResumeMigration' request.",
      "type": "object",
      "id": "ResumeMigrationRequest"
    },
    "StartMigrationRequest": {
      "type": "object",
      "description": "Request message for 'StartMigrationRequest' request.",
      "properties": {},
      "id": "StartMigrationRequest"
    },
    "ComputeEngineTargetDetails": {
      "properties": {
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "description": "The VM Boot Option, as set in the source vm."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The GCP target project ID or project name."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "networkTags": {
          "description": "A map of network tags to associate with the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ],
          "type": "string"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM.",
          "type": "array"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        }
      },
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDetails",
      "type": "object"
    },
    "ListMigratingVmsResponse": {
      "id": "ListMigratingVmsResponse",
      "properties": {
        "migratingVms": {
          "readOnly": true,
          "items": {
            "$ref": "MigratingVm"
          },
          "description": "Output only. The list of Migrating VMs response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for 'ListMigratingVms' request.",
      "type": "object"
    },
    "FinalizeMigrationRequest": {
      "properties": {},
      "type": "object",
      "id": "FinalizeMigrationRequest",
      "description": "Request message for 'FinalizeMigration' request."
    },
    "UtilizationReport": {
      "id": "UtilizationReport",
      "properties": {
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the state was last set."
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          }
        },
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "vmCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Total number of VMs included in the report.",
          "type": "integer"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "type": "string",
          "description": "Output only. Current state of the report."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "readOnly": true
        },
        "timeFrame": {
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "description": "Time frame of the report."
        },
        "name": {
          "description": "Output only. The report unique name.",
          "readOnly": true,
          "type": "string"
        },
        "frameEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the report in case of an error."
        }
      },
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "type": "object"
    },
    "Group": {
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The update time timestamp."
        },
        "displayName": {
          "type": "string",
          "description": "Display name is a user defined name for this group which can be updated."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Group name."
        }
      },
      "id": "Group",
      "type": "object"
    },
    "AppliedLicense": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type that was used in OS adaptation.",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is is Bring Your Own License type."
          ]
        },
        "osLicense": {
          "type": "string",
          "description": "The OS license returned from the adaptation module's report."
        }
      },
      "id": "AppliedLicense",
      "description": "AppliedLicense holds the license data returned by adaptation module report."
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "VmwareSourceDetails": {
      "type": "object",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "id": "VmwareSourceDetails",
      "properties": {
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        }
      }
    },
    "SchedulePolicy": {
      "properties": {
        "skipOsAdaptation": {
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine.",
          "type": "boolean"
        },
        "idleDuration": {
          "description": "The idle duration between replication stages.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A policy for scheduling replications.",
      "id": "SchedulePolicy"
    },
    "TargetProject": {
      "properties": {
        "description": {
          "type": "string",
          "description": "The target project's description."
        },
        "project": {
          "type": "string",
          "description": "The target project ID (number) or project name."
        },
        "updateTime": {
          "description": "Output only. The last time the target project resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the target project."
        }
      },
      "type": "object",
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "id": "TargetProject"
    },
    "VmwareVmsDetails": {
      "id": "VmwareVmsDetails",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs."
        }
      },
      "type": "object",
      "description": "VmwareVmsDetails describes VMs in vCenter."
    },
    "VmwareVmDetails": {
      "properties": {
        "committedStorageMb": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64"
        },
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of cpus in the VM."
        },
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has."
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "bootOption": {
          "readOnly": true,
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option.",
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the memory of the VM in MB."
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "guestDescription": {
          "type": "string",
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold."
        }
      },
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "type": "object",
      "id": "VmwareVmDetails"
    },
    "CutoverJob": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "type": "string"
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the cutover job had finished.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of the cutover job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the cutover job.",
          "type": "string"
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "$ref": "Status"
        },
        "progressPercent": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "CutoverJob",
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and clonning the VM using the replicated snapshot.",
      "type": "object"
    },
    "ComputeEngineTargetDefaults": {
      "properties": {
        "bootOption": {
          "readOnly": true,
          "description": "Output only. The VM Boot Option, as set in the source vm.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ],
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ],
          "type": "string"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A map of network tags to associate with the VM."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM.",
          "type": "array"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "readOnly": true,
          "description": "Output only. The OS license returned from the adaptation module report."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI.",
          "type": "boolean"
        }
      },
      "id": "ComputeEngineTargetDefaults",
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "type": "object"
    },
    "VmUtilizationMetrics": {
      "properties": {
        "cpuMaxPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Max CPU usage, percent."
        },
        "memoryAveragePercent": {
          "type": "integer",
          "description": "Average memory usage, percent.",
          "format": "int32"
        },
        "memoryMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max memory usage, percent."
        },
        "diskIoRateMaxKbps": {
          "format": "int64",
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string"
        },
        "cpuAveragePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Average CPU usage, percent."
        },
        "networkThroughputAverageKbps": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "networkThroughputMaxKbps": {
          "format": "int64",
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "VmUtilizationMetrics",
      "description": "Utilization metrics values for a single VM."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ListUtilizationReportsResponse": {
      "description": "Response message for 'ListUtilizationReports' request.",
      "id": "ListUtilizationReportsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "utilizationReports": {
          "readOnly": true,
          "description": "Output only. The list of reports.",
          "type": "array",
          "items": {
            "$ref": "UtilizationReport"
          }
        }
      },
      "type": "object"
    },
    "DatacenterConnector": {
      "properties": {
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the state was last set."
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The connector's name.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to use in the connector when communicating with the cloud."
        },
        "version": {
          "type": "string",
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified."
        },
        "applianceInfrastructureVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance."
        },
        "upgradeStatus": {
          "$ref": "UpgradeStatus",
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "readOnly": true
        },
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The communication channel between the datacenter connector and GCP."
        },
        "updateTime": {
          "description": "Output only. The last time the connector was updated with an API call.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status"
        },
        "availableVersions": {
          "description": "Output only. The available versions for updating this appliance.",
          "$ref": "AvailableUpdates",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "applianceSoftwareVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance."
        }
      },
      "description": "DatacenterConnector message describes a connector between the Source and GCP, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to GCP and support vm migration data transfer.",
      "id": "DatacenterConnector",
      "type": "object"
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "type": "object",
      "id": "ReplicationCycle",
      "properties": {
        "progressPercent": {
          "description": "The current progress in percentage of this cycle.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "description": "The time the replication cycle has started.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "MigratingVm": {
      "type": "object",
      "id": "MigratingVm",
      "properties": {
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "format": "google-datetime"
        },
        "stateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time the migrating VM state was updated.",
          "format": "google-datetime"
        },
        "recentCutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true,
          "type": "array"
        },
        "recentCloneJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "currentSyncInfo": {
          "description": "Output only. The percentage progress of the current running replication cycle.",
          "readOnly": true,
          "$ref": "ReplicationCycle"
        },
        "group": {
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time the migrating VM resource was updated.",
          "readOnly": true
        },
        "computeEngineTargetDefaults": {
          "$ref": "ComputeEngineTargetDefaults",
          "description": "Details of the target VM in Compute Engine."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the MigratingVm.",
          "type": "string"
        },
        "lastSync": {
          "readOnly": true,
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "$ref": "ReplicationSync"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR"
          ],
          "description": "Output only. State of the MigratingVm.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted."
          ],
          "type": "string"
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "policy": {
          "$ref": "SchedulePolicy",
          "description": "The replication schedule policy."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the migrating VM."
        },
        "description": {
          "type": "string",
          "description": "The description attached to the migrating VM by the user."
        }
      },
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state."
    },
    "FetchInventoryResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "FetchInventoryResponse",
      "description": "Response message for fetchInventory."
    },
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "description": "Response message for 'ListGroups' request.",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "groups": {
          "type": "array",
          "description": "Output only. The list of groups response.",
          "items": {
            "$ref": "Group"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListCutoverJobsResponse": {
      "description": "Response message for 'ListCutoverJobs' request.",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "cutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "readOnly": true,
          "description": "Output only. The list of cutover jobs response.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListCutoverJobsResponse",
      "type": "object"
    },
    "Source": {
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the source."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "The labels of the source.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "vmware": {
          "$ref": "VmwareSourceDetails",
          "description": "Vmware type source details."
        },
        "name": {
          "description": "Output only. The Source name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "id": "Source"
    },
    "ListDatacenterConnectorsResponse": {
      "properties": {
        "datacenterConnectors": {
          "items": {
            "$ref": "DatacenterConnector"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of sources response."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "id": "ListDatacenterConnectorsResponse"
    },
    "UpgradeApplianceRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "UpgradeApplianceRequest",
      "description": "Request message for 'UpgradeAppliance' request."
    },
    "ListCloneJobsResponse": {
      "type": "object",
      "properties": {
        "cloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The list of clone jobs response.",
          "type": "array",
          "readOnly": true
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListCloneJobsResponse",
      "description": "Response message for 'ListCloneJobs' request."
    },
    "NetworkInterface": {
      "description": "NetworkInterface represents a NIC of a VM.",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "The subnetwork to connect the NIC to."
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "externalIp": {
          "type": "string",
          "description": "The external IP to define in the NIC."
        },
        "network": {
          "type": "string",
          "description": "The network to connect the NIC to."
        }
      },
      "type": "object",
      "id": "NetworkInterface"
    },
    "CloneJob": {
      "type": "object",
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "properties": {
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "stateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the state was last updated."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "type": "string",
          "description": "Output only. State of the clone job.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the clone job was ended.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the clone."
        }
      },
      "id": "CloneJob"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "id": "Location",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "ComputeScheduling": {
      "type": "object",
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes.",
      "id": "ComputeScheduling",
      "properties": {
        "restartType": {
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "type": "string"
        },
        "minNodeCpus": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured."
        },
        "nodeAffinities": {
          "type": "array",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes."
        },
        "onHostMaintenance": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "type": "string"
        }
      }
    },
    "AvailableUpdates": {
      "type": "object",
      "id": "AvailableUpdates",
      "description": "Holds informatiom about the available versions for upgrade.",
      "properties": {
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        },
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        }
      }
    },
    "ReplicationSync": {
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "id": "ReplicationSync",
      "properties": {
        "lastSyncTime": {
          "description": "The most updated snapshot created time in the source that finished replication.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Link": {
      "id": "Link",
      "type": "object",
      "description": "Describes a URL link.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      }
    },
    "SchedulingNodeAffinity": {
      "id": "SchedulingNodeAffinity",
      "properties": {
        "key": {
          "type": "string",
          "description": "The label key of Node resource to reference."
        },
        "operator": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter."
        },
        "values": {
          "type": "array",
          "description": "Corresponds to the label values of Node resource.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling"
    },
    "PauseMigrationRequest": {
      "id": "PauseMigrationRequest",
      "properties": {},
      "description": "Request message for 'PauseMigration' request.",
      "type": "object"
    },
    "ListTargetProjectsResponse": {
      "description": "Response message for 'ListTargetProjects' call.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "targetProjects": {
          "items": {
            "$ref": "TargetProject"
          },
          "type": "array",
          "description": "Output only. The list of target response.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "id": "ListTargetProjectsResponse"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "sources": {
          "readOnly": true,
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Response message for 'ListSources' request.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "ApplianceVersion": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The appliance version."
        },
        "releaseNotesUri": {
          "type": "string",
          "description": "Link to a page that contains the version release notes."
        },
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "uri": {
          "description": "A link for downloading the version.",
          "type": "string"
        }
      },
      "id": "ApplianceVersion",
      "description": "Describes an appliance version."
    },
    "LocalizedMessage": {
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        },
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at http://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        }
      },
      "id": "LocalizedMessage"
    }
  },
  "name": "vmmigration",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "sources": {
              "resources": {
                "datacenterConnectors": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListDatacenterConnectorsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "vmmigration.projects.locations.sources.datacenterConnectors.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/datacenterConnectors",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of connectors to return. The service may return fewer than this value. If unspecified, at most 500 sources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. the order by fields for the result.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. The filter request.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent, which owns this collection of connectors."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Required. A page token, received from a previous `ListDatacenterConnectors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDatacenterConnectors` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/datacenterConnectors",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists DatacenterConnectors in a given Source."
                    },
                    "upgradeAppliance": {
                      "parameterOrder": [
                        "datacenterConnector"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+datacenterConnector}:upgradeAppliance",
                      "description": "Upgrades the appliance relate to this DatacenterConnector to the in-place updateable version.",
                      "id": "vmmigration.projects.locations.sources.datacenterConnectors.upgradeAppliance",
                      "parameters": {
                        "datacenterConnector": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/datacenterConnectors/[^/]+$",
                          "location": "path",
                          "description": "Required. The DatacenterConnector name.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/datacenterConnectors/{datacenterConnectorsId}:upgradeAppliance",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "UpgradeApplianceRequest"
                      }
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The DatacenterConnector name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/datacenterConnectors/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes a single DatacenterConnector.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/datacenterConnectors/{datacenterConnectorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "vmmigration.projects.locations.sources.datacenterConnectors.delete"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "DatacenterConnector"
                      },
                      "path": "v1/{+parent}/datacenterConnectors",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "datacenterConnectorId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The datacenterConnector identifier."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The DatacenterConnector's parent. Required. The Source in where the new DatacenterConnector will be created. For example: `projects/my-project/locations/us-central1/sources/my-source`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "description": "Creates a new DatacenterConnector in a given Source.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/datacenterConnectors",
                      "id": "vmmigration.projects.locations.sources.datacenterConnectors.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the DatacenterConnector.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/datacenterConnectors/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/datacenterConnectors/{datacenterConnectorsId}",
                      "response": {
                        "$ref": "DatacenterConnector"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "description": "Gets details of a single DatacenterConnector.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "vmmigration.projects.locations.sources.datacenterConnectors.get"
                    }
                  }
                },
                "migratingVms": {
                  "resources": {
                    "cutoverJobs": {
                      "methods": {
                        "create": {
                          "path": "v1/{+parent}/cutoverJobs",
                          "request": {
                            "$ref": "CutoverJob"
                          },
                          "description": "Initiates a Cutover of a specific migrating VM. The returned LRO is completed when the cutover job resource is created and the job is initiated.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cutoverJobs",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "vmmigration.projects.locations.sources.migratingVms.cutoverJobs.create",
                          "parameters": {
                            "requestId": {
                              "location": "query",
                              "type": "string",
                              "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                            },
                            "parent": {
                              "description": "Required. The Cutover's parent.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "cutoverJobId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. The cutover job identifier."
                            }
                          }
                        },
                        "get": {
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+/cutoverJobs/[^/]+$",
                              "description": "Required. The name of the CutoverJob.",
                              "required": true
                            }
                          },
                          "httpMethod": "GET",
                          "description": "Gets details of a single CutoverJob.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cutoverJobs/{cutoverJobsId}",
                          "response": {
                            "$ref": "CutoverJob"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "vmmigration.projects.locations.sources.migratingVms.cutoverJobs.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cutoverJobs",
                          "description": "Lists CutoverJobs of a given migrating VM.",
                          "response": {
                            "$ref": "ListCutoverJobsResponse"
                          },
                          "path": "v1/{+parent}/cutoverJobs",
                          "id": "vmmigration.projects.locations.sources.migratingVms.cutoverJobs.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "description": "Optional. The filter request.",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Optional. The maximum number of cutover jobs to return. The service may return fewer than this value. If unspecified, at most 500 cutover jobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "location": "query",
                              "format": "int32"
                            },
                            "orderBy": {
                              "type": "string",
                              "description": "Optional. the order by fields for the result.",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                              "description": "Required. The parent, which owns this collection of migrating VMs.",
                              "required": true
                            },
                            "pageToken": {
                              "description": "Required. A page token, received from a previous `ListCutoverJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCutoverJobs` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET"
                        },
                        "cancel": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Initiates the cancellation of a running cutover job.",
                          "id": "vmmigration.projects.locations.sources.migratingVms.cutoverJobs.cancel",
                          "path": "v1/{+name}:cancel",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The cutover job id",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+/cutoverJobs/[^/]+$"
                            }
                          },
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "CancelCutoverJobRequest"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cutoverJobs/{cutoverJobsId}:cancel"
                        }
                      }
                    },
                    "cloneJobs": {
                      "methods": {
                        "list": {
                          "id": "vmmigration.projects.locations.sources.migratingVms.cloneJobs.list",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists CloneJobs of a given migrating VM.",
                          "response": {
                            "$ref": "ListCloneJobsResponse"
                          },
                          "path": "v1/{+parent}/cloneJobs",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The parent, which owns this collection of source VMs.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. A page token, received from a previous `ListCloneJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCloneJobs` must match the call that provided the page token."
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. the order by fields for the result."
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The maximum number of clone jobs to return. The service may return fewer than this value. If unspecified, at most 500 clone jobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "format": "int32"
                            },
                            "filter": {
                              "description": "Optional. The filter request.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cloneJobs"
                        },
                        "get": {
                          "id": "vmmigration.projects.locations.sources.migratingVms.cloneJobs.get",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. The name of the CloneJob.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+/cloneJobs/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cloneJobs/{cloneJobsId}",
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "CloneJob"
                          },
                          "httpMethod": "GET",
                          "description": "Gets details of a single CloneJob.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "cancel": {
                          "id": "vmmigration.projects.locations.sources.migratingVms.cloneJobs.cancel",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cloneJobs/{cloneJobsId}:cancel",
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Initiates the cancellation of a running clone job.",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "CancelCloneJobRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The clone job id",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+/cloneJobs/[^/]+$"
                            }
                          },
                          "path": "v1/{+name}:cancel"
                        },
                        "create": {
                          "id": "vmmigration.projects.locations.sources.migratingVms.cloneJobs.create",
                          "path": "v1/{+parent}/cloneJobs",
                          "parameters": {
                            "requestId": {
                              "type": "string",
                              "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                              "location": "query"
                            },
                            "cloneJobId": {
                              "description": "Required. The clone job identifier.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                              "required": true,
                              "description": "Required. The Clone's parent.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "CloneJob"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cloneJobs",
                          "description": "Initiates a Clone of a specific migrating VM."
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}",
                      "description": "Deletes a single MigratingVm.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the MigratingVm.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "vmmigration.projects.locations.sources.migratingVms.delete",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
[...]
